<div class="mb-8 xl:mb-16">
  <div class="relative mb-6 font-bold">
    <%= collection.name %>
    <span class="hidden sm:inline">
      (<%= collection.symbol %>)
    </span>
    <%= link_to '', collection_path(collection.uuid), data: { controller: "prefetch" }, class: "absolute inset-0" %>
  </div>

  <div class="w-full mb-6 line-clamp-2 sm:line-clamp-3 break-words text-ellipsis overflow-hidden text-[#222222] text-opacity-80 text-sm"> 
    <%= collection.description %>
  </div>

  <div class="mb-6">
    <%= render "collections/stats", collection: collection %>
  </div>

  <% if !collection.authorized?(current_user) %>
    <div class="relative w-full p-3 text-center rounded-full text-white bg-primary">
      <span><%= t('subscribe') %></span>
      <%= link_to '', collection_path(collection.uuid), data: { controller: "prefetch" }, class: "absolute inset-0" %>
    </div>
  <% end %>
</div>
