<div class="flex items-center space-x-2 mb-4">
  <%= image_tag collection.currency.icon_url, class: "w-6 h-6 rounded-full" %>
  <div class="">
    <span class="text-xl font-bold font-serif"><%= collection.price_tag %></span>
    <span class="text-sm opacity-60">
      ≈$<%= collection.price_usd %>
    </span>
  </div>
</div>

<div class="relative w-full lg:w-48 p-3 text-xl text-center rounded-full text-white bg-primary">
  <span><%= t('buy_collection') %></span>
  <% if current_user.present? && !current_user.fennec? %>
    <%= form_for PreOrder.new(
      order_type: :buy_collection,
      item: collection,
      asset_id: collection.asset_id,
      amount: collection.price
    ) do |form| %>
      <%= form.hidden_field :order_type %>
      <%= form.hidden_field :item_id %>
      <%= form.hidden_field :item_type %>
      <%= form.hidden_field :asset_id %>
      <%= form.hidden_field :amount %>
      <%= form.hidden_field :type, value: current_user.default_payment %>
      <%= form.submit '', class: "absolute inset-0 cursor-pointer w-full" %>
    <% end %>
  <% elsif from_mixin_messenger? %>
    <%= link_to '', login_path(return_to: collection_url(collection.uuid)), class: "block absolute inset-0" %>
  <% else %>
    <%= link_to '', login_path(return_to: collection_url(collection.uuid)),
      data: { 
        turbo_frame: :modal
      },
    class: "block absolute inset-0" %>
  <% end %>
</div>
