<div class="grid grid-cols-2 gap-4">
  <div class="bg-[#F4F4F4] dark:bg-[#333444] text-center rounded p-3">
    <div class="text-2xl font-black mb-2 font-serif">
      <%= (collection.revenue_ratio * 100).floor(2) %>%
    </div>
    <div class="text-sm opacity-80">
      <%= t('collection_revenue') %>
    </div>
  </div>
  <div class="relative bg-[#F4F4F4] dark:bg-[#333444] text-center rounded p-3">
    <div class="text-2xl font-black mb-2 font-serif">
      <%= collection.orders_count %>
    </div>
    <div class="relative text-sm opacity-80">
      <%= t('subscribers') %>
    </div>
    <%= link_to '', 
      collection_subscribers_path(collection.uuid),
      data: {
        turbo_frame: :modal
      },
      class: "absolute inset-0"
    %>
  </div>
</div>
