<div class="max-w-full">
  <div class="mb-12">
    <div class="lg:grid grid-cols-2 lg:gap-8 mb-8">
      <div class="w-full mb-8 lg:mb-0">
        <%= image_tag @collection.cover_url, class: "object-contain object-center w-full rounded-2xl" %>
      </div>
      <div class="lg:order-first">
        <%= render "collections/detail", collection: @collection %>
      </div>
    </div>

    <div class="mb-6">
      <div class="mb-2 text-sm opacity-75">
        <%= t('collection_introduction') %>
      </div>
      <div class="prose max-w-none dark:prose-invert bg-[#F4F4F4] dark:bg-[#333444] p-4 rounded">
        <%= MarkdownRenderService.call(@collection.description).html_safe %>
      </div>
    </div>

    <%= render "collections/validatable_collections", collection: @collection %>
  </div>

  <%= turbo_frame_tag "articles" do %>
    <%= render Articles::ListComponent.new articles: @articles, pagy: @pagy %>
  <% end %>
</div>

<%= content_for :topbar do %>
  <div class="h-12 flex items-center justify-between">
    <%= link_to root_path, class: "block px-6 py-2" do %>
      <%= image_tag 'logo.svg', class: "w-auto h-8" %>
    <% end %>
    <% if current_user.present? %>
      <%= link_to collection_share_path(@collection.uuid), 
        data: {
          turbo_frame: :modal
        },
        class: "block px-6 py-3 #{from_mixin_messenger? ? 'mr-24' : ''}" do %>
        <%= inline_svg_tag 'icons/share-solid.svg', class: 'w-6 h-6 text-primary' %>
      <% end %>
    <% end %>
  </div>
<% end %>
