<% backdrop ||= 'default' %>
<% html_class ||= '' %>
<% html_id ||= "#{SecureRandom.uuid}_modal" %>

<div 
  id="<%= html_id %>"
  class="modal"
  data-controller="modal" 
  data-modal-backdrop-value="<%= backdrop %>"
  data-modal-initial-state-value="show">
  <div data-modal-target="wrapper" class="fixed inset-0 z-50 flex items-start justify-center w-full">
    <button data-modal-target="backdrop" data-action="modal#backdropClicked" class="fixed top-0 left-0 w-screen h-full bg-black dark:bg-white opacity-30"></button>
    <div data-modal-target="modal" 
      data-transition-enter-from="opacity-0 transition-y-0"
      data-transition-enter-to="opacity-100 transition-y-6"
      data-transition-leave-from="opacity-100"
      data-transition-leave-to="opacity-0 transition-y-0"
      class="<%= html_class %> relative w-full sm:w-auto sm:min-w-lg max-w-2xl min-h-screen-1/3 sm:min-h-4 sm:h-auto max-h-screen-3/4 mx-auto mt-auto sm:my-auto bg-white dark:bg-zinc-900 rounded-t-xl sm:rounded-xl shadow overflow-y-auto sm:scrollbar-hide">
      <div data-modal-target="title" class="sticky w-full top-0 flex items-center px-4 h-12 sm:h-14 text-base font-bold space-x-4 bg-white dark:bg-zinc-900 z-10 rounded-t-xl">
        <button data-action="modal#hide">
          <%= render "shared/icons/close" %>
        </button>
        <span><%= content_for :modal_title %></span>
      </div>

      <div data-modal-target="content" class="px-4 pt-4 pb-8 sm:px-6">
        <%= content_for :modal_content %>
        <div style="height:env(safe-area-inset-bottom)"></div>
      </div>
    </div>
  </div>
</div>
