<%= turbo_stream.update "modal-slot" do %>
  <div 
    data-controller="modal" 
    data-modal-initial-state="show">
    <div data-modal-target="modal" class="fixed inset-0 z-50 flex items-start justify-center w-full overflow-y-auto">
      <button data-action="modal#hide" class="fixed top-0 left-0 w-screen h-full bg-black opacity-30"></button>
      <div class='relative w-64 min-w-max max-w-3xl max-h-screen mt-48 bg-white border rounded-lg shadow p-4'>
        <div class="flex pt-4 mb-8">
          <%= params[:content] %>
        </div>
        <div class="flex items-center space-x-4 justify-end">
          <button class="bg-gray-200 rounded px-4 py-1" data-modal-identifier-param="<%= params[:identifier] %>" data-action="modal#cancel">
            <%= t('cancel') %>
          </button>
          <button class="bg-blue-500 rounded text-white px-4 py-1" data-modal-identifier-param="<%= params[:identifier] %>" data-action="modal#ok">
            <%= t('ok') %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
