<%= turbo_stream.update "modal-slot" do %>
  <div 
    data-controller="modal" 
    data-modal-initial-state="show">
    <div data-modal-target="modal" class="fixed inset-0 z-50 flex items-start justify-center w-full overflow-y-auto">
      <button data-action="modal#hide" class="fixed top-0 left-0 w-screen h-full bg-black opacity-30 dark:bg-zinc-100"></button>
      <div class='relative w-10/12 max-w-2xl max-h-screen mt-48 bg-white dark:bg-zinc-900 dark:border-zinc-800 border rounded shadow'>
        <div class="p-4 text-xl font-medium text-center border-b mb-6">Connect Wallet</div>
        <div class="flex justify-center px-4 mb-4">
        <%= link_to login_path(return_to: params[:return_to]), 
          class: "py-2 text-white bg-blue-500 hover:bg-blue-600 rounded flex items-center justify-center space-x-2 text-lg w-64" do %>
            <%= image_tag (Settings.mixin_logo_light_file || 'mixin-logo-light.png'), class: 'h-4 w-auto' %>
            <span><%= Settings.messenger %></span>
          <% end %>
        </div>
        <div class="flex justify-center px-4 mb-6">
          <a data-controller="fennec"
            data-fennec-target="loginButton" 
            data-action="fennec#login" 
            href="https://pando.im/fennec"
            target="_blank"
            class="cursor-pointer py-2 text-white bg-amber-600 hover:bg-amber-700 rounded flex items-center justify-center space-x-2 text-lg w-64 block">
            <%= image_tag 'fennec-logo.png', class: 'h-6 w-auto' %>
            <span>Fennec</span>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
