<% style ||= 'default' %>
<% block_classes = style == 'block' ? 'btn btn-primary w-full rounded-full py-3' : 'btn btn-outline btn-primary w-24 py-1.5' %>

<div class="<%= dom_id tag %>_subscribe_button<%= style == 'block' ? '_block' : '' %>">
  <% if current_user.blank? %>
    <%= link_to login_path,
      data: { turbo_frame: :modal },
      class: "flex w-full cursor-pointer items-center justify-center space-x-1 text-center text-sm #{block_classes}" do %>
      <%= inline_svg_tag 'icons/add.svg', class: 'h-3 w-3' unless style == 'block' %>
      <span><%= t('subscribe') %></span>
    <% end %>
  <% elsif current_user.subscribe_tag? tag %>
    <%= link_to t('subscribed'),
      new_subscribe_tag_path(id: tag.id),
      data: { turbo_frame: :modal },
      class: "flex w-full cursor-pointer items-center justify-center space-x-1 rounded-full text-center text-sm text-base-content/60 #{style == 'block' ? 'w-full bg-base-300 py-3' : 'w-24 py-1.5'}" %>
  <% else %>
    <%= button_to subscribe_tags_path(id: tag.id),
      class: "flex w-full cursor-pointer items-center justify-center space-x-1 text-center text-sm #{block_classes}" do %>
      <%= inline_svg_tag 'icons/add.svg', class: 'h-3 w-3' unless style == 'block' %>
      <span><%= t('subscribe') %></span>
    <% end %>
  <% end %>
</div>
