<div class="<%= dom_id tag %>_subscribe_detail flex space-x-4 justify-center text-sm opacity-70">
  <div><%= tag.articles_count %> <%= t('activerecord.models.article') %></div>
  <div><%= tag.subscribers_count %> <%= t('subscribed') %></div>
</div>
