<div id="subscribe_tag_<%= dom_id tag %>" class="relative flex items-center py-4 justify-between border-b dark:border-white dark:border-opacity-5">
  <%= link_to articles_path(tag: tag.name), 
    class: "flex items-center space-x-2 truncate", 
    data: { 
      turbo_frame: "_top" 
    } do %>
    <span style="word-break:keep-all" class="truncate h-8 my-2 mr-4 px-2 py-1 truncate rounded tag-style-<%= tag.id % 6 %>">
      <%= tag.name %>
    </span>
  <% end %>
  <div class="">
    <%= render "subscribe_tags/subscribe_button", tag: tag %>
  </div>
</div>
