<%= turbo_frame_tag "articles" do %>
  <div data-controller="infinite-scroll">
    <% if @articles.blank? %>
      <%= render "shared/empty", text: t('no_record') %>
    <% else %>
      <div id="<%= dom_id @collection %>_articles_list">
        <%= render partial: "articles/card", collection: @articles, as: :article %>
      </div>
      <div data-infinite-scroll-target='scrollArea'></div>

      <%= render "shared/pagination", pagy: @pagy, id: "#{dom_id @collection}_articles_pagination" %>
    <% end %>
  </div>
<% end %>
