<tr id="<%= dom_id arweave_transaction %>">
  <td class="p-4">
    <%= arweave_transaction.id %>
  </td>
  <td class="p-4">
    <span class="badge 
      <%= {
        pending: 'badge-neutral',
        accepted: 'badge-success',
      }[arweave_transaction.state.to_sym] %>">
      <%= arweave_transaction.state %>
    </span>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= link_to arweave_transaction.tx_id, arweave_transaction.snapshot_url, target: "_blank", class: "" %>
    </div>
  </td>
  <td class="p-4">
    <%= render "admin/articles/field", article: arweave_transaction.article, tab: 'arweave_transactions' %>
  </td>
  <td class="p-4">
    <% if arweave_transaction.owner.present? %>
      <%= render "admin/users/field", user: arweave_transaction.owner, tab: 'arweave_transactions' %>
  <% else %>
    -
  <% end %>
  </td>
  <td class="p-4 w-64">
    <%= arweave_transaction.digest %>
  </td>
  <td class="p-4">
    <%= arweave_transaction.created_at %>
  </td>
  <td class="flex items-center space-x-2 p-4">
    <%= link_to 'Detail', admin_arweave_transaction_path(arweave_transaction), class: "btn btn-primary btn-sm", data: { turbo_frame: "_top" } %>
  </td>
</tr>
