<div data-controller="pre-orders-pay-button-component">
  <% case @pre_order %>
  <% when FennecPreOrder %>
    <a data-controller="fennec"
      data-action="fennec#pay pre-orders-payment-component#showState pre-orders-payment-component#hideOtherPayments"
      data-fennec-trace-id-param="<%= @pre_order.trace_id %>"
      data-fennec-asset-id-param="<%= @pay_asset.asset_id %>"
      data-fennec-amount-param="<%= @pay_amount %>"
      data-fennec-memo-param="<%= @pre_order.memo %>"
      data-fennec-opponent-id-param="<%= @pre_order.payee_id %>"
      class="relative flex items-center justify-center w-full my-4 text-center no-underline cursor-pointer py-3 block bg-primary hover:font-bold text-white rounded-lg">
      <%= image_tag 'fennec-logo.png', class: 'h-8 w-auto absolute left-4' %>
      <span class="text-lg"><%= t('confirm_to_pay') %></span>
    </a>
  <% when MVMPreOrder %>
    <%= render MVMPayButtonComponent.new(
      currency: @pay_asset,
      amount: @pay_amount,
      payer: @pre_order.payer,
      receivers: [@pre_order.payee_id],
      threshold: 1,
      memo: @pre_order.memo,
      trace_id: @pre_order.trace_id
    ) %>
  <% when MixinPreOrder %>
    <a href="<%= @pre_order.pay_url(@pay_asset.asset_id) %>"
      data-action="pre-orders-payment-component#showState pre-orders-payment-component#hideOtherPayments"
      class="relative flex items-center justify-center w-full my-4 text-center no-underline cursor-pointer py-3 block bg-primary hover:font-bold text-white rounded-lg md:hidden">
      <%= image_tag 'mixin-logo-light.png', class: "h-4 w-auto absolute left-4" %>
      <span class="text-lg"><%= t('confirm_to_pay') %></span>
    </a>

    <div class="hidden" data-pre-orders-pay-button-component-target="qrcode">
      <%= render QrcodeComponent.new url: @pre_order.pay_url(@pay_asset.asset_id) do %>
        <div class="text-center py-2 opacity-75 text-sm">
            <%= t("scan_with_mixin") %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
