<% active = request.path.split('/').last %>

<div data-controller="tabs" 
     data-tabs-active-tab-value="<%= active %>" 
     data-tabs-active-class-value="text-blue-500 bg-blue-50" 
     class="hidden lg:flex flex-col space-y-2 text-right font-bold text-gray-600">
  <%= link_to t('overview'),
    dashboard_root_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "dashboard",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
  <%= link_to t('notifications_manage'),
    dashboard_notifications_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "notifications",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
  <%= link_to t('articles_manage'),
    dashboard_articles_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "articles",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
  <%= link_to t('comments_manage'),
    dashboard_comments_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "comments",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
  <%= link_to t('subscriptions_manage'),
    dashboard_subscriptions_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "subscriptions",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
  <%= link_to t('revenue_manage'),
    dashboard_transfers_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "transfers",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
  <%= link_to t('orders_manage'),
    dashboard_orders_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "orders",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
  <%= link_to t('settings'),
    dashboard_settings_path, 
    data: {
      tabs_target: "tab",
      tabs_tabname_param: "settings",
    },
    class: "block py-2 px-4 rounded hover:text-blue-500" %>
</div>

<div class="lg:hidden mb-4 px-4 sm:px-0"
  data-controller="select-menu">
  <select 
    class="flex-1 block w-full rounded sm:text-sm border-gray-300"
    data-action="change->select-menu#selected">
    <option value="<%= dashboard_root_path %>" <%= active == 'overview' && 'selected' %>>
      <%= t('overview') %>
    </option>
    <option value="<%= dashboard_notifications_path %>" 
            <%= active == 'notifications' && 'selected' %>>
      <%= t('notifications_manage') %>
    </option>
    <option value="<%= dashboard_articles_path %>" 
            <%= active == 'articles' && 'selected' %>>
      <%= t('articles_manage') %>
    </option>
    <option value="<%= dashboard_comments_path %>" <%= active == 'comments' && 'selected' %>>
      <%= t('comments_manage') %>
    </option>
    <option value="<%= dashboard_subscriptions_path %>" <%= active == 'subscriptions' && 'selected' %>>
      <%= t('subscriptions_manage') %>
    </option>
    <option value="<%= dashboard_transfers_path %>" <%= active == 'transfers' && 'selected' %>>
      <%= t('revenue_manage') %>
    </option>
    <option value="<%= dashboard_orders_path %>" <%= active == 'orders' && 'selected' %>>
      <%= t('orders_manage') %>
    </option>
    <option value="<%= dashboard_settings_path %>" <%= active == 'settings' && 'selected' %>>
      <%= t('settings') %>
    </option>
  </select>
</div>
