<%= turbo_frame_tag 'modal' do %>
  <%= render_modal title: t('connect_wallet') do %>
    <div class="">
      <div class="">
        <div class="flex justify-center mb-2">
          <%= link_to auth_mixin_path(return_to: params[:return_to] || request.referer),
            data: { turbo_frame: '_top' },
            class: "btn btn-soft btn-primary relative w-full justify-center text-lg" do %>
            <div class="w-8 h-8 flex absolute left-4">
              <%= image_tag ('mixin-logo.png'), class: 'w-full h-auto' %>
            </div>
            <span>Mixin Messenger</span>
          <% end %>
        </div>

        <div data-controller="fennec" class="flex justify-center mb-2">
          <a data-controller="fennec"
            data-fennec-target="loginButton"
            data-action="fennec#login"
            href="https://pando.im/fennec"
            target="_blank"
            class="btn btn-soft btn-primary relative w-full justify-center text-lg">
            <div class="w-8 h-8 flex absolute left-4">
              <%= image_tag 'fennec-logo.png', class: 'w-full h-auto' %>
            </div>
            <span>Fennec</span>
          </a>
        </div>
      </div>

      <div class="flex justify-center items-center flex-wrap text-center text-sm opacity-75 sm:w-[70%] mx-auto">
        <span>
          <%= t('by_connecting_your_wallet_you_agree_to') %>
        </span>
        <%= link_to t('terms_of_service'), 'https://docs.quill.im/terms-of-service', target: "_blank", class: "font-bold mx-0.5" %>
        <span>
          <%= t('and') %>
        </span>
        <%= link_to t('privacy_policy'), 'https://docs.quill.im/privacy-policy', target: "_blank", class: "font-bold mx-0.5" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="flex my-16 items-center justify-center">
  <% if from_mixin_messenger? %>
    <%= link_to t('connect_wallet'), 
      auth_mixin_path, 
      class: "btn btn-primary rounded-full" %>
  <% else %>
    <%= link_to t('connect_wallet'), 
      login_path, 
      data: { 
        turbo_frame: :modal 
      }, 
      class: "btn btn-primary rounded-full" %>
  <% end %>
</div>
