<%= turbo_frame_tag 'modal' do %>
  <%= render ModalComponent.new title: t('connect_wallet') do %>
    <div data-controller="login" class="">
      <div data-login-target="eth">
        <div data-controller="eth-wallet" class="flex justify-center mb-2">
          <a data-eth-wallet-target="loginButton" 
            data-action="eth-wallet#login" 
            data-eth-wallet-provier-param="MetaMask"
            href="https://metamask.io"
            target="_blank"
            class="relative px-2 py-3 bg-stone-100 hover:bg-stone-200 dark:bg-stone-800 dark:hover:bg-stone-700 rounded-lg flex items-center justify-center text-lg w-96 hover:scale-105">
            <div class="w-8 h-8 flex absolute left-4">
              <%= image_tag 'metamask.svg', class: 'w-full h-auto' %>
            </div>
            <span class="">MetaMask</span>
          </a>
        </div>

        <div data-controller="eth-wallet" class="flex justify-center mb-2">
          <button data-eth-wallet-target="loginButton" 
            data-action="eth-wallet#login" 
            data-eth-wallet-provier-param="Coinbase"
            class="relative block px-2 py-3 bg-stone-100 hover:bg-stone-200 dark:bg-stone-800 dark:hover:bg-stone-700 rounded-lg flex items-center justify-center text-lg w-96 hover:scale-105">
            <div class="w-8 h-8 flex absolute left-4">
              <%= image_tag 'coinbase.svg', class: 'w-full h-auto' %>
            </div>
            <span class="">Coinbase</span>
          </button>
        </div>

        <div data-controller="eth-wallet" class="flex justify-center mb-2">
          <a data-metamask-target="loginButton" 
            data-action="eth-wallet#login" 
            data-eth-wallet-provier-param="WalletConnect"
            href="https://walletconnect.com"
            target="_blank"
            class="relative px-2 py-3 bg-stone-100 hover:bg-stone-200 dark:bg-stone-800 dark:hover:bg-stone-700 rounded-lg flex items-center justify-center text-lg w-96 hover:scale-105">
            <div class="w-8 h-8 flex absolute left-4">
              <%= image_tag 'walletconnect.svg', class: 'w-full h-auto' %>
            </div>
            <span>Wallet Connect</span>
          </a>
        </div>

        <div data-action="click->login#showMixin" class="w-96 mx-auto text-sm text-center py-2 underline cursor-pointer">
          <%= t('using_mixin_wallet') %>
        </div>
      </div>

      <div data-login-target="mixin" class="hidden">
        <div class="flex justify-center mb-2">
          <%= link_to mixin_login_path(return_to: params[:return_to] || request.referer), 
            data: { turbo_frame: '_top' },
            class: "relative px-2 py-3 bg-stone-100 hover:bg-stone-200 dark:bg-stone-800 dark:hover:bg-stone-700 rounded-lg flex items-center justify-center text-lg w-96 hover:scale-105" do %>
            <div class="w-8 h-8 flex absolute left-4">
              <%= image_tag ('mixin-logo.png'), class: 'w-full h-auto' %>
            </div>
            <span>Mixin Messenger</span>
          <% end %>
        </div>

        <div data-controller="fennec" class="flex justify-center mb-2">
          <a data-controller="fennec"
            data-fennec-target="loginButton" 
            data-action="fennec#login" 
            href="https://pando.im/fennec"
            target="_blank"
            class="relative px-2 py-3 bg-stone-100 hover:bg-stone-200 dark:bg-stone-800 dark:hover:bg-stone-700 rounded-lg flex items-center justify-center text-lg w-96 hover:scale-105">
            <div class="w-8 h-8 flex absolute left-4">
              <%= image_tag 'fennec-logo.png', class: 'w-full h-auto' %>
            </div>
            <span>Fennec</span>
          </a>
        </div>

        <div data-action="click->login#showEth" class="w-96 mx-auto text-sm text-center py-2 underline cursor-pointer">
          <%= t('using_eth_wallet') %>
        </div>
      </div>

      <div class="flex justify-center items-center flex-wrap text-center text-sm opacity-75 sm:w-[70%] mx-auto">
        <span>
          <%= t('by_connecting_your_wallet_you_agree_to') %>
        </span>
        <%= link_to t('terms_of_service'), 'https://docs.quill.im/terms-of-service', target: "_blank", class: "font-bold mx-0.5" %>
        <span>
          <%= t('and') %>
        </span>
        <%= link_to t('privacy_policy'), 'https://docs.quill.im/privacy-policy', target: "_blank", class: "font-bold mx-0.5" %>
      </div>
    </div>
  <% end %>
<% end %>
