<div id="<%= dom_id article %>_draft" class="border-b border-zinc-50 dark:border-zinc-800 py-2 flex items-center space-x-4">
  <%= link_to article.title.presence || t('articles.title_placeholder'), 
    edit_article_path(article.uuid), 
    data: { 
      turbo_frame: '_top'
    }, 
    class: "relative text-xl font-bold truncate" %>
  <div class="flex-1 text-sm opacity-70 truncate">
    <%= render TimeFormatComponent.new datetime: article.updated_at.rfc3339 do %>
      <%= article.updated_at.strftime("%Y-%m-%d %H:%M") %>
    <% end %>
  </div>
  <%= link_to t('delete'), 
    new_dashboard_deleted_article_path(uuid: article), 
    data: {
      turbo_frame: :modal
    },
    class: "px-4 text-red-500 bg-transparent cursor-pointer" %>
</div>
