<div id="<%= dom_id article %>_hidden" class="border-b dark:border-zinc-800 p-4 sm:px-6">
  <div class="relative">
    <%= link_to article_path(article.uuid) do %>
      <span aria-hidden="true" class="absolute inset-0"></span>
    <% end %>
    <div class="text-sm text-gray-500 text-right">
      <%= article.published_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
    <div class="text-xl font-bold mb-2">
      <%= article.title %>
    </div>
    <div class="grid grid-cols-3 sm:flex sm:items-center sm:space-x-4 text-sm text-gray-500 mb-2">
      <div class="col-span-1">
        $<%= article.revenue_usd.round(4) %>
      </div>
      <div class="col-span-1 flex items-center">
        <%= article.orders_count %> <%= render "shared/icons/cash", html_class: "w-4 h-4" %>
      </div>
      <div class="col-span-1 flex items-center">
        <%= article.comments_count %> <%= render "shared/icons/reply", html_class: "w-4 h-4" %>
      </div>
      <div class="col-span-1 flex items-center">
        <%= article.upvotes_count %> <%= render "shared/icons/thumb_up", html_class: "w-4 h-4" %>
      </div>
      <div class="col-span-1 flex items-center">
        <%= article.downvotes_count %> <%= render "shared/icons/thumb_down", html_class: "w-4 h-4" %>
      </div>
    </div>
  </div>
  <div class="text-blue-500 flex items-center space-x-4 sm:justify-end">
    <%= link_to t('edit'), edit_article_path(article.uuid) %>
    <%= button_to t('publish'), 
      dashboard_published_article_path(article.uuid), 
      form: {
        data: { 
          controller: "confirm",
          confirm_target: "form",
          confirm_identifier_value: SecureRandom.uuid,
          confirm_content_value: t("confirm_to_publish") 
        }
      },
      method: :put,
      data: { 
        action: "confirm#invoke",
      }, 
      class: "bg-transparent cursor-pointer" %>
  </div>
</div>
