<div id="<%= dom_id article %>_published" class="pt-8 pb-4 border-b dark:border-white dark:border-opacity-10">
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center">
      <span class="text-sm opacity-60">
        <%= render TimeFormatComponent.new datetime: article.published_at.rfc3339 do %>
          <%= article.published_at.strftime("%Y-%m-%d %H:%M") %>
        <% end %>
      </span>
    </div>
    <div class="flex items-center space-x-2">
      <% if article.free? %>
        <div class="text-sm px-2 bg-green-500 text-white rounded">
          FREE
        </div>
      <% else %>
        <span class="text-sm">
          <%= article.price_tag %>
        </span>
        <span class="text-sm opacity-60">
          ≈$<%= article.price_usd %>
        </span>
        <%= image_tag article.currency.icon_url, class: "w-6 h-6 rounded-full" %>
      <% end %>
    </div>
  </div>

  <%= link_to user_article_path(article.author, article),
    data: {
      controller: "prefetch",
      turbo_frame: "_top"
    },
    class: "flex items-start max-h-28 space-x-4 mb-6" do %>
    <div class="flex-1 h-ful max-w-full">
      <div class="truncate overflow-hidden font-bold text-xl mb-3">
        <%= article.title %>
      </div>
      <div class="text-base break-words text-ellipsis overflow-hidden line-clamp-3 text-[#222222] text-opacity-80"> 
        <%= article.intro %>
      </div>
    </div>
    <% if article.cover_url.present? %>
      <%= image_tag article.cover_url, class: "w-28 h-28 rounded object-center" %>
    <% end %>
  <% end %>

  <div class="flex items-center space-x-4 justify-between overflow-x-scroll scrollbar-hide">
    <div class="text-primary flex items-center space-x-4 min-w-fit">
      <%= link_to t('stats'), 
        dashboard_article_path(article.uuid),
        class: 'min-w-fit',
        data: {
          controller: 'prefetch',
          turbo_frame: '_top'
        } %>
      <%= link_to t('edit'), 
        edit_article_path(article.uuid),
        class: 'min-w-fit',
        data: {
          controller: 'prefetch',
          turbo_frame: '_top'
        } %>
      <%= button_to t('hide'), 
        dashboard_published_article_path(article.uuid),  
        method: :delete,
        class: "bg-transparent cursor-pointer min-w-fit" %>
    </div>

    <div class="flex items-center space-x-4 ml-4 text-[#B1B6C6]">
      <div class="flex items-center space-x-1">
        <%= inline_svg_tag 'icons/income-solid.svg', class: 'w-4 h-4' %>
        <span class="text-sm">
          <%= article.revenue_usd.round(4) %>
        </span>
      </div>

      <div class="flex items-center space-x-1">
        <%= inline_svg_tag 'icons/comment-solid.svg', class: 'w-4 h-4' %>
        <span class="text-sm">
          <%= article.comments_count %>
        </span>
      </div>

      <div class="flex items-center space-x-1">
        <%= inline_svg_tag 'icons/like-solid.svg', class: 'w-4 h-4' %>
        <span class="text-sm">
          <%= article.upvotes_count %>
        </span>
      </div>

      <div class="flex items-center space-x-1">
        <%= inline_svg_tag 'icons/dislike-solid.svg', class: 'w-4 h-4' %>
        <span class="text-sm">
          <%= article.downvotes_count %>
        </span>
      </div>
    </div>
  </div>
</div>
