<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="quill">
  <head>
    <title>Admin</title>
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="user-scalable=no,initial-scale=1"/>

    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.svg" %>
  </head>

  <body class="bg-base-200 text-base-content">
    <main class="h-screen flex">
      <div class="m-auto max-w-xl">
        <%= form_with url: '/admin/login', method: :post, class: "flex flex-col space-y-2" do |form| %>
          <%= form.text_field :name, placeholder: "name", required: true, class: "input input-bordered w-full" %>
          <%= form.password_field :password, placeholder: "password", required: true, class: "input input-bordered w-full" %>
          <%= form.submit "Login", class: "btn btn-primary w-full" %>
        <% end %>
      </div>
    </main>
  </body>
</html>
