<div class="table-row">
  <div class="table-cell pr-4 py-4 min-w-max">
    <div class="flex items-center space-x-2 col-span-2">
      <div class="w-6">
        <%= image_tag swap_order.pay_asset.icon_url, class: "w-6 h-6 rounded-full inline-block" %>
      </div>
      <span class="font-bold whitespace-nowrap"><%= swap_order.funds %></span>
    </div>
  </div>

  <div class="table-cell pr-4 py-4 align-middle">
    <%= inline_svg_tag "icons/arrow-right.svg", class: 'w-4 h-4 block m-auto' %>
  </div>

  <div class="table-cell pr-4 py-4 min-w-max">
    <div class="flex items-center space-x-2 col-span-2">
      <div class="w-6">
        <%= image_tag swap_order.fill_asset.icon_url, class: "w-6 h-6 rounded-full inline-block" %>
      </div>
      <span class="font-bold whitespace-nowrap"><%= swap_order.amount %></span>
    </div>
  </div>

  <div class="table-cell pr-4 py-4 text-opacity-80 min-w-max whitespace-nowrap">
    <span class="rounded-full py-1 px-2 text-sm <%= swap_order.completed? ? 'bg-[#EFEFFF] text-primary' : 'bg-[#FFE9E9] text-[#CC6767]' %>">
      <%= t("activerecord.attributes.swap_order.state.#{swap_order.state}") %>
    </span>
  </div>

  <div class="table-cell py-4 min-w-max whitespace-nowrap">
    <%= render TimeFormatComponent.new datetime: swap_order.created_at.rfc3339 do %>
      <span class="text-sm text-opacity-80">
        <%= swap_order.created_at.strftime("%Y-%m-%d %H:%M") %>
      </span>
    <% end %>
  </div>
</div>
