<%= turbo_frame_tag "#{dom_id current_user}_swap_orders" do %>
  <div data-controller="infinite-scroll">
    <div id="<%= dom_id current_user %>_swap_orders_list">
      <% if @swap_orders.blank? %>
        <div class="text-center py-2 opacity-50">
          <%= t("no_record") %>
        </div>
      <% else %>
        <%= render partial: "dashboard/swap_orders/swap_order", collection: @swap_orders, as: :swap_order %>
      <% end %>
    </div>
    <div data-infinite-scroll-target='scrollArea'></div>
    <%= render partial: "shared/pagination", locals: { pagy: @pagy, id: "#{dom_id current_user}_swap_orders_pagination" } %>
  </div>
<% end %>>
