<div class="mb-4 flex items-center justify-between">
  <span class="text-lg font-bold">
    <%= t('email') %>
  </span>

  <%= link_to current_user.email_vefified? ? t('edit') : t('reverify'),
    edit_dashboard_profile_setting_path, 
    data: {
      turbo_frame: 'profile_email_form'
    },
    class: "px-4 py-1 bg-primary text-white rounded-full" %>
</div>

<div class="mb-2">
  <span class="<%= current_user.email_vefified? ? 'opacity-100' : 'opacity-50' %>">
    <%= current_user.email.presence || '-' %>
  </span>

  <% if current_user.email_vefified? %>
    <%= inline_svg_tag 'icons/check-circle-solid.svg', class: 'w-6 h-6 text-green-500 inline' %>
  <% else %>
    <%= inline_svg_tag 'icons/exclamation-circle-solid.svg', class: 'w-6 h-6 text-red-500 inline' %>
  <% end %>
</div>

<% if current_user.email_verifying? %>
  <div class="">
    <span class="text-sm text-primary p-1">
      A verify mail has been sent to your email.
    </span>
  </div>
<% end %>
