<%= turbo_frame_tag 'profile_avatar_form' do %>
  <%= form_for current_user, url: dashboard_profile_setting_path, method: :put do |form| %>
    <div class="mb-4 flex items-center justify-between">
      <span class="text-lg font-bold">
        <%= form.label :avatar %>
      </span>
      <div class="flex items-center space-x-2">
        <%= form.submit t('save'), class: 'btn btn-outline btn-primary rounded-full' %>
        <%= link_to t('cancel'), :back, class: 'btn btn-soft rounded-full opacity-40' %>
      </div>
    </div>

    <%= form.label :avatar, class: "block cursor-pointer" do %>
      <div data-controller="preview-upload" class="flex items-center">
        <img data-preview-upload-target="imageTpl" class="hidden w-16 h-16 rounded-full" %>
        <div data-preview-upload-target="output" class="w-16 mr-4">
          <%= render "shared/avatar", user: current_user, class: "w-16 h-16 rounded-full" %>
        </div>
        <%= form.file_field :avatar, 
          placeholder: '', 
          accept: "image/*", 
          data: {
            preview_upload_target: "input",
            action: "input->preview-upload#preview"
          },
          class: "sr-only",
          direct_upload: true%>

      </div>
    <% end %>
  <% end %>
<% end %>

<%= turbo_frame_tag 'profile_name_form' do %>
  <%= form_for current_user, url: dashboard_profile_setting_path, method: :put do |form| %>
    <div class="mb-4 flex items-center justify-between">
      <span class="text-lg font-bold">
        <%= form.label :name %>
      </span>
      <div class="flex items-center space-x-2">
        <%= form.submit t('save'), class: 'btn btn-outline btn-primary rounded-full' %>
        <%= link_to t('cancel'), :back, class: 'btn btn-soft rounded-full opacity-40' %>
      </div>
    </div>

    <div class="flex items-center">
      <%= form.text_field :name, 
        placeholder: 'input name', 
        class: "input flex-1 rounded-none border-0 border-b border-base-content/10 px-0 focus:ring-0" %>

    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag 'profile_biography_form' do %>
  <%= form_for current_user, url: dashboard_profile_setting_path, method: :put do |form| %>
    <div class="mb-4 flex items-center justify-between">
      <span class="text-lg font-bold">
        <%= form.label :biography %>
      </span>
      <div class="flex items-center space-x-2">
        <%= form.submit t('save'), class: 'btn btn-outline btn-primary rounded-full' %>
        <%= link_to t('cancel'), :back, class: 'btn btn-soft rounded-full opacity-40' %>
      </div>
    </div>

    <div class="flex items-center">
      <%= form.text_area :biography, 
        rows: 3,
        placeholder: 'input biography', 
        class: "input flex-1 rounded-none border-0 border-b border-base-content/10 px-0 focus:ring-0" %>

    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag 'profile_email_form' do %>
  <%= form_for current_user, url: dashboard_profile_setting_path, method: :put do |form| %>
    <div class="mb-4 flex items-center justify-between">
      <span class="text-lg font-bold">
        <%= form.label :email %>
      </span>
      <div class="flex items-center space-x-2">
        <%= form.submit t('verify'), class: 'btn btn-outline btn-primary rounded-full' %>
        <%= link_to t('cancel'), :back, class: 'btn btn-soft rounded-full opacity-40' %>
      </div>
    </div>

    <div class="flex items-center">
      <%= form.text_field :email, 
        placeholder: 'input email', 
        class: "input flex-1 rounded-none border-0 border-b border-base-content/10 px-0 focus:ring-0" %>

    </div>
  <% end %>
<% end %>
