<%= turbo_frame_tag 'profile_email_form' do %>
  <%= form_for current_user, url: dashboard_profile_setting_path, method: :put do |form| %>
    <div class="mb-4 flex items-center justify-between">
      <span class="text-lg font-bold">
        <%= t('email') %>
      </span>
      <div class="flex items-center space-x-2">
        <%= form.submit t('verify'), class: 'cursor-pointer rounded-full border border-primary text-primary px-4 py-1' %>
        <%= link_to t('cancel'), :back, class: 'cursor-pointer rounded-full border dark:border-white dark:border-opacity-5 text-inherit text-opacity-40 px-4 py-1' %>
      </div>
    </div>

    <div class="flex items-center">
      <%= form.text_field :email, 
        placeholder: 'input email', 
        class: "flex-1 block py-2 px-0 text-primary border-t-0 border-l-0 border-r-0 border-b border-zinc-100 focus:ring-0" %>

    </div>
  <% end %>
<% end %>
