<div class="<%= dom_id comment %>_actions flex items-center space-x-4 opacity-75 text-sm">
  <%= button_to upvoted_comment_path(comment), method: :put, class: "flex items-center space-x-2" do %>
    <% if current_user&.upvote_comment? comment %>
      <span>
        <%= inline_svg_tag 'icons/like-solid.svg', class: 'w-4 h-4 text-primary' %>
      </span>
    <% else %>
      <span>
        <%= inline_svg_tag 'icons/like-solid.svg', class: 'w-4 h-4 text-[#B1B6C6]' %>
      </span>
    <% end %>
    <span><%= comment.upvotes_count %></span>
  <% end %>

  <%= button_to downvoted_comment_path(comment), method: :put, class: "flex items-center space-x-2" do %>
    <% if current_user&.downvote_comment? comment %>
      <span>
        <%= inline_svg_tag 'icons/dislike-solid.svg', class: 'w-4 h-4 text-red-500' %>
      </span>
    <% else %>
      <span>
        <%= inline_svg_tag 'icons/dislike-solid.svg', class: 'w-4 h-4 text-[#B1B6C6]' %>
      </span>
    <% end %>
    <span><%= comment.downvotes_count %></span>
  <% end %>
  <% if comment.commentable.authorized? current_user %>
    <%= link_to new_comment_path(quote_comment_id: comment.id), 
      data: {
        turbo_frame: :modal
      } do %>
      <%= inline_svg_tag 'icons/reply-solid.svg', class: 'w-4 h-4 text-[#B1B6C6]' %>
    <% end %>
  <% elsif current_user.blank? %>
    <%= link_to login_path(return_to: user_article_path(comment.commentable.author, comment.commentable)), data: { turbo_frame: :modal } do %>
      <%= inline_svg_tag 'icons/reply-solid.svg', class: 'w-4 h-4 text-[#B1B6C6]' %>
    <% end %>
  <% end %>
</div>
