<%= form_for commentable.comments.new, 
  data: { 
    comment_form_target: "form",
    controller: "confirm",
    confirm_target: "form",
    confirm_identifier_value: SecureRandom.uuid,
    confirm_content_value: t("confirm_to_submit") 
  }, 
  html: { class: 'mb-4' } do |form| %>
  <%= form.hidden_field :commentable_id, value: commentable.id %>
  <%= form.hidden_field :commentable_type, value: commentable.class.name %>
  <%= form.text_area :content, 
    class: "w-full py-2 rounded focus:ring-0 mb-4", 
    placeholder: t("markdown_supported"), 
    data: { 
      controller: "textarea-autogrow",
      comment_form_target: "content"
    } 
  %>
  <div class="flex justify-end">
    <%= form.submit t('submit'), 
      data: {
        action: "confirm#invoke",
      }, 
      class: "cursor-pointer bg-blue-500 text-white px-4 py-1 rounded" %>
  </div>
<% end %>
