<% quote_comment ||= nil %>

<%= render "comments/quote_comment", quote_comment: quote_comment if quote_comment.present? %>

<%= form_for commentable.comments.new,
  html: { class: "mb-4" } do |form| %>
  <%= form.hidden_field :commentable_id, value: commentable.id %>
  <%= form.hidden_field :commentable_type, value: commentable.class.name %>
  <%= form.hidden_field :quote_comment_id, value: quote_comment&.id %>
  <%= form.rich_text_area :content,
        rows: 6,
        placeholder: t("markdown_supported") %>
  <div class="mb-4"></div>
  <div class="flex justify-end">
    <%= form.submit t("submit"),
      data: {
        action: "confirm#invoke",
      },
      class: "cursor-pointer bg-primary hover:scale-105 text-white px-4 py-1 rounded-full" %>
  </div>
<% end %>
