<% quote_comment ||= nil %>

<%= render "comments/quote_comment", quote_comment: quote_comment if quote_comment.present? %>

<%= form_for commentable.comments.new, 
  html: { class: 'mb-4' } do |form| %>
  <%= form.hidden_field :commentable_id, value: commentable.id %>
  <%= form.hidden_field :commentable_type, value: commentable.class.name %>
  <%= form.hidden_field :quote_comment_id, value: quote_comment&.id %>
  <%= form.text_area :content, 
    class: "w-full min-h-48 py-2 rounded focus:ring-offset-0 focus:border-[#6b7280] focus:ring-0 mb-4 dark:bg-zinc-800", 
    placeholder: t("markdown_supported"), 
    data: { 
      controller: "textarea-autogrow",
    } 
  %>
  <div class="flex justify-end">
    <%= form.submit t('submit'), 
      data: {
        action: "confirm#invoke",
      }, 
      class: "cursor-pointer bg-primary hover:scale-105 text-white px-4 py-1 rounded" %>
  </div>
<% end %>
