<div class="mb-6 p-4 rounded bg-[#F4F4F4] max-h-96 overflow-y-scroll scrollbar-hide dark:bg-[#333444]">
  <div class="flex space-x-2 sm:space-x-4 items-center">
    <%= link_to user_path(quote_comment.author), 
      class: "min-w-fit block", 
      data: { 
        controller: 'prefetch', 
        turbo_frame: "_top" 
      } do %>
      <img src="<%= quote_comment.author.avatar_thumb %>" class="w-6 h-6 sm:w-9 sm:h-9 rounded-full" />
    <% end %>
    <div class="">
      <div class="truncate"><%= quote_comment.author.short_name %></div>
      <div class="text-sm opacity-50"><%= time_ago_in_words quote_comment.created_at %></div>
    </div>
  </div>

    <div class="overflow-x-hidden">
      <div class="prose-comment">
        <% if quote_comment.quote_comment.present? %>
          <div class="max-h-48 overflow-y-scroll scrollbar-hide">
            <blockquote>
              <div>
                <%= link_to "@#{quote_comment.quote_comment.author.short_name}", user_path(quote_comment.quote_comment.author), data: { controller: 'prefetch', turbo_frame: "_top" }, class: "no-underline italic" %>
                :(
                <%= link_to "##{quote_comment.quote_comment.id}", 
                  new_comment_path(quote_comment_id: quote_comment.quote_comment_id),
                  class: "italic",
                  data: {
                    controller: 'prefetch',
                    turbo_frame: :modal
                } %>
                )
              </div>
            <%= quote_comment.quote_comment.content_as_html.html_safe %>
            </blockquote>
          </div>
        <% end %>
        <%= quote_comment.content_as_html.html_safe %>
      </div>
      <%= render "comments/actions", comment: quote_comment %>
    </div>
</div>
