<div class="mb-6 p-4 rounded bg-base-200 max-h-96 overflow-y-scroll scrollbar-hide text-base-content">
  <div class="flex space-x-2 sm:space-x-4 items-center">
    <%= link_to user_path(quote_comment.author), 
      class: "avatar min-w-fit", 
      data: { 
        controller: 'prefetch', 
        turbo_frame: "_top" 
      } do %>
      <div class="size-9 rounded-full">
        <%= render "shared/avatar", user: quote_comment.author, thumb: true, class: "rounded-full" %>
      </div>
    <% end %>
    <div class="">
      <div class="truncate max-w-24"><%= quote_comment.author.name %></div>
      <div class="text-sm opacity-50"><%= time_ago_in_words quote_comment.created_at %></div>
    </div>
  </div>

    <div class="overflow-x-hidden">
      <div class="prose-comment">
        <% if quote_comment.quote_comment.present? %>
          <div class="max-h-48 overflow-y-scroll scrollbar-hide">
            <blockquote>
              <div>
                <%= link_to "@#{quote_comment.quote_comment.author.name}", user_path(quote_comment.quote_comment.author), data: { controller: 'prefetch', turbo_frame: "_top" }, class: "no-underline italic max-w-24 truncate" %>
                :(
                <%= link_to "##{quote_comment.quote_comment.id}", 
                  new_comment_path(quote_comment_id: quote_comment.quote_comment_id),
                  class: "italic",
                  data: {
                    controller: 'prefetch',
                    turbo_frame: :modal
                } %>
                )
              </div>
            <%= quote_comment.quote_comment.content_as_html.html_safe %>
            </blockquote>
          </div>
        <% end %>
        <%= quote_comment.content_as_html.html_safe %>
      </div>
      <%= render "comments/actions", comment: quote_comment %>
    </div>
</div>
