<%= form_with url: articles_path, 
  method: :get, 
  data: { 
    controller: "search",
    search_target: "form",
    remote: false,
  },
  class: "relative w-full" do |form| %>
  <div class="absolute inset-y-0 left-0 flex items-center pl-4">
    <%= inline_svg_tag "icons/search.svg", class: "w-6 h-6" %>
  </div>
  <%= form.text_field :query, 
    placeholder: t('search'), 
    value: params[:query],
    data: { 
      search_target: "input",
      action: "input->search#submit",
    },
    class: "w-full px-12 py-2 sm:py-3 rounded-full border-none focus:ring-0 bg-[#F4F4F4] dark:bg-[#333444]" %>
  <%= form.hidden_field :order_by, value: :lately %> 
  <%= form.submit 'search', class:"hidden" %>
  <div class="absolute inset-y-0 right-0 flex items-center pr-2">
    <button class="hidden cursor-pointer" data-search-target="clearButton" data-action="search#clear">
      <%= inline_svg_tag "icons/close.svg", class: "w-6 h-6 opacity-50" %>
    </button>
  </div>
  <div id="search_result_list"></div>
<% end %>
