<div 
  class="modal"
  data-controller="modal-component" 
  data-action="turbo:submit-end->modal-component#submitEnd"
  data-modal-component-backdrop-value="<%= @backdrop %>"
  data-modal-component-initial-state-value="show">
  <div data-modal-component-target="wrapper" class="fixed inset-0 z-50 flex items-start justify-center w-full">
    <button data-modal-component-target="backdrop" data-action="modal-component#backdropClicked" class="fixed top-0 left-0 w-screen h-full bg-black opacity-50"></button>
    <div data-modal-component-target="modal" 
      data-transition-enter-from="opacity-0 transition-y-0"
      data-transition-enter-to="opacity-100 transition-y-6"
      data-transition-leave-from="opacity-100"
      data-transition-leave-to="opacity-0 transition-y-0"
      class="<%= @classes %> relative w-full sm:w-[500px] max-w-2xl min-h-screen-1/3 sm:min-h-4 sm:h-auto max-h-screen-5/6 mx-auto mt-auto sm:my-auto bg-white dark:bg-[#444655] rounded-t-xl sm:rounded-xl shadow overflow-y-auto sm:scrollbar-hide">
      <div data-modal-component-target="title" 
        class="sticky w-full top-0 flex items-center justify-between px-8 pt-8 pb-4 text-base font-bold space-x-4 bg-white dark:bg-[#444655] dark:text-white dark:text-opacity-80 z-10 rounded-t-xl">
        <% if header.present? %>
          <%= header %>
        <% else %>
          <span><%= @title %></span>
        <% end %>
        <button data-action="modal-component#hide">
          <%= inline_svg_tag "icons/close-solid.svg", class: "w-8 h-8 opacity-30 dark:text-white" %>
        </button>
      </div>

      <div data-modal-component-target="content" class="px-8 pt-4 pb-8">
        <%= content %>
        <div style="height:env(safe-area-inset-bottom)"></div>
      </div>
    </div>
  </div>
</div>
