<% after_submit_action ||= 'wait' %>

<div data-controller="mvm-pay-button-component"
  data-mvm-pay-button-component-after-submit-action-value="<%= after_submit_action %>"
  data-mvm-pay-button-component-asset-symbol-value="<%= @currency.symbol %>"
  data-mvm-pay-button-component-asset-id-value="<%= @currency.asset_id %>">

  <div data-mvm-pay-button-component-target="button" class="my-4">
    <button data-action="mvm-pay-button-component#pay pre-orders-payment-component#hideOtherPayments"
      data-mvm-pay-button-component-payer-id-param="<%= @payer.mixin_uuid %>"
      data-mvm-pay-button-component-trace-id-param="<%= @trace_id %>"
      data-mvm-pay-button-component-asset-id-param="<%= @currency.asset_id %>"
      data-mvm-pay-button-component-symbol-param="<%= @currency.symbol %>"
      data-mvm-pay-button-component-icon-url-param="<%= @currency.icon_url %>"
      data-mvm-pay-button-component-amount-param="<%= @amount %>"
      data-mvm-pay-button-component-memo-param="<%= @memo %>"
      data-mvm-pay-button-component-receivers-param="<%= @receivers %>"
      data-mvm-pay-button-component-threshold-param="<%= @threshold %>"
      class="relative flex justify-center space-x-4 items-center w-full text-center no-underline cursor-pointer py-3 block bg-primary hover:font-bold text-white rounded-lg">
      <div class="w-8 h-8 flex absolute left-4">
        <%= image_tag 'metamask.svg',
          data: {
            mvm_pay_button_component_target: 'metaMaskIcon'
          },
          class: 'hidden w-full h-auto' %>

        <%= image_tag 'walletconnect.svg', 
          data: {
            mvm_pay_button_component_target: 'walletConnectIcon'
          },
          class: 'hidden w-full h-auto' %>

        <%= image_tag 'coinbase.svg', 
          data: {
            mvm_pay_button_component_target: 'coinbaseIcon'
          },
          class: 'hidden w-full h-auto' %>
      </div>

      <span class="text-lg"><%= t('confirm_to_pay') %></span>
    </button>

    <div data-mvm-pay-button-component-target="balance" class="hidden flex justify-between py-1 px-2">
      <div class="text-sm opacity-75">
        <span><%= t('balance') %>:</span>
        <span data-mvm-pay-button-component-target="balanceValue">
          <%= image_tag 'loading.svg', class: 'w-4 h-4 inline-block' %>
        </span>
        <%= link_to "", data: { mvm_pay_button_component_target: 'balanceLink' }, target: "_blank", class: "inline-block align-middle" do %> 
          <%= render "shared/icons/external_link", html_class: 'w-4 h-4' %>
        <% end %>
      </div>

      <%= link_to deposit_dashboard_destination_path, 
        data: {
          turbo_frame: :modal
        },
        class: "block text-sm opacity-75 flex items-center" do %>
        <span><%= t('deposit') %></span>
        <%= render "shared/icons/chevron_right", html_class: 'w-4 h-4' %>
      <% end %>
    </div>

    <div data-mvm-pay-button-component-target="mvmTips" class="hidden text-red-500 text-sm py-1">
      <%= link_to 'https://docs.quill.im/category/swich-to-mvm', target: "_blank", class: "flex items-center space-x-2" do %> 
        <span><%= t('you_need_to_switch_network_to_mvm') %></span>
        <%= render "shared/icons/question_mark_circle", html_class: 'w-4 h-4' %>
      <% end %>
    </div>
  </div>

  <div class="w-full hidden" data-mvm-pay-button-component-target="wait">
    <%= render partial: "shared/loading" %>
    <div class="text-sm text-center opacity-70">
      <%= t('transaction_submitted') %>
    </div>
  </div>

  <%= link_to "", data: { mvm_pay_button_component_target: 'scanTransactionLink' }, target: "_blank", class: "hidden flex my-2 justify-center w-full" do %> 
    <%= render "shared/icons/external_link", html_class: 'w-4 h-4' %>
  <% end %>
</div>
