<div id="subscribe_user_<%= dom_id user %>" class="relative flex items-center px-4 py-2 border-b justify-between">
  <%= link_to user_path(user), class: "flex items-center space-x-2", data: { turbo_frame: "_top" } do %>
    <img src="<%= user.avatar %>" class="w-10 h-10 rounded-full" />
    <span class=""><%= user.name %></span>
  <% end %>
  <div class="">
    <%= render "subscribe_users/subscribe_button", user: user %>
  </div>
</div>
