<div id="subscribe_user_<%= dom_id user %>" class="relative flex items-center py-4 justify-between space-x-4 border-b border-base-content/10">
  <%= link_to user_path(user), class: "flex items-center space-x-2 truncate", data: { turbo_frame: "_top" } do %>
    <%= render "shared/avatar", user:, thumb: true, class: "w-8 h-8 rounded-full" %>
    <span class="truncate max-w-24"><%= user.name %></span>
  <% end %>
  <div class="">
    <%= render "subscribe_users/subscribe_button", user: user %>
  </div>
</div>
