<div class="table-row ">
  <div class="table-cell pr-4 py-4 min-w-max">
    <div class="flex items-center space-x-2 col-span-2">
      <div class="w-6">
        <%= image_tag payment.currency.icon_url, class: "w-6 h-6 rounded-full inline-block" %>
      </div>
      <span class="font-bold whitespace-nowrap"><%= payment.price_tag %></span>
    </div>
  </div>

  <div class="table-cell pr-4 py-4 text-opacity-80 min-w-max whitespace-nowrap">
    <% if payment.article.present? %>
      <%= link_to payment.article.title, 
        user_article_path(payment.article.author, payment.article.uuid), 
        class: "truncate w-36 block", 
        data: { 
          controller: 'prefetch', 
          turbo_frame: "_top" 
        } %>
    <% elsif payment.collection.present? %>
      <%= link_to payment.collection.name, 
        collection_path(payment.collection.uuid), 
        class: "truncate w-36 block", 
        data: { 
          controller: 'prefetch', 
          turbo_frame: "_top" 
        } %>
    <% else %>
      <span>-</span>
    <% end %>
  </div>

  <div class="table-cell pr-4 py-4 text-opacity-80 min-w-max whitespace-nowrap">
    <span class="rounded-full py-1 px-2 text-sm <%= payment.completed? ? 'bg-[#EFEFFF] text-primary' : 'bg-[#FFE9E9] text-[#CC6767]' %>">
      <%= t("activerecord.attributes.payment.state.#{payment.state}") %>
    </span>
  </div>

  <div class="table-cell pr-4 py-4 text-opacity-80 min-w-max whitespace-nowrap">
    <%= link_to t('activerecord.attributes.payment.snapshot'), 
      payment.snapshot_url, 
      class: "text-sm",
      target: "_blank" %>
  </div>

  <div class="table-cell py-4 min-w-max whitespace-nowrap">
    <%= render TimeFormatComponent.new datetime: payment.created_at.rfc3339 do %>
      <span class="text-sm text-opacity-80">
        <%= payment.created_at.strftime("%Y-%m-%d %H:%M") %>
      </span>
    <% end %>
  </div>
</div>
