<tr id="<%= dom_id article %>">
  <td class="p-4">
    <%= article.id %>
  </td>
  <td class="p-4">
    <%= render "admin/articles/field", article: article %>
  </td>
  <td class="p-4">
    <%= render "admin/users/field", user: article.author %>
  </td>
  <td class="p-4">
    <%= article.locale %>
  </td>
  <td class="p-4">
    <div class="flex justify-center">
      <span class="badge 
        <%= 
          {
            drafted: 'badge-neutral',
            published: 'badge-success',
            hidden: 'badge-neutral',
            blocked: 'badge-error',
          }[article.state.to_sym]
        %>">
        <%= article.state %>
      </span>
    </div>
  </td>
  <td class="p-4">
    <%= article.price_tag %>
  </td>
  <td class="p-4">
    <%= article.orders_count %>
  </td>
  <td class="p-4">
    $<%= article.revenue_usd.to_f.round(4) %>(<%= article.revenue_btc %> BTC)
  </td>
  <td class="p-4">
    <%= article.comments_count %>
  </td>
  <td class="p-4">
    <%= article.upvotes_count %> / <%= article.downvotes_count %>
  </td>
  <td class="p-4">
    <%= article.published_at.presence || '-' %>
  </td>
  <td class="p-4">
    <%= article.created_at %>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= link_to 'Detail', admin_article_path(article), class: "btn btn-primary btn-sm", data: { turbo_frame: "_top" } %>
      <%= button_to 'Unblock', admin_article_unblock_path(article),
        form: {
          data: { 
            turbo_confirm: "Sure to unblock",
          }
        },
        class: "btn btn-secondary btn-sm" if article.blocked? %>
      <%= button_to 'Block', admin_article_block_path(article),
        form: {
          data: { 
            turbo_confirm: "Sure to block",
          }
        },
        class: "btn btn-error btn-sm" if article.published? %>
    </div>
  </td>
</tr>
