<div class="flex items-center space-x-4 mb-4">
  <%= link_to 'Home', admin_root_path %>
  <span>/</span>
  <span>Articles</span>
</div>

<div class="p-4 bg-white dark:bg-zinc-900 rounded-lg shadow">
  <%= turbo_frame_tag 'admin_articles' do %>
    <div class="mb-4">
      <%= render 'admin/articles/query' %>
    </div>
    <div data-controller="infinite-scroll" class="w-full overflow-x-scroll scrollbar-hide">
      <table class='w-full table-auto min-w-max '>
        <thead>
          <tr class="bg-zinc-100 dark:bg-zinc-800">
            <th class="p-4">ID</th>
            <th class="p-4">Title</th>
            <th class="p-4">Author</th>
            <th class="p-4">State</th>
            <th class="p-4">Price</th>
            <th class="p-4">Orders</th>
            <th class="p-4">Revenue</th>
            <th class="p-4">Comments</th>
            <th class="p-4">upvote/downvote</th>
            <th class="p-4">Published</th>
            <th class="p-4">Created</th>
            <th class="p-4"></th>
          </tr>
        </thead>
        <tbody id="admin_articles_list">
          <%= render partial: 'admin/articles/article', collection: @articles, as: :article %>
        </tbody>
      </table>
      <div data-infinite-scroll-target='scrollArea'></div>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  <% end %>
</div>
