<div class="bg-white dark:bg-zinc-900 mb-2 sm:mb-4 py-4 px-6 sm:rounded-lg sm:shadow">
  <div class="flex justify-between mb-4">
    <div class="relative flex items-center space-x-2 truncate">
      <img class="w-10 h-10 rounded-full" src="<%= article.author.avatar  %>" />
      <div class="truncate">
        <div class="text-base font-bold truncate"><%= article.author.short_name %></div>
        <div class="text-xs sm:text-sm opacity-50">
          <% if (Time.current - article.published_at) < 24.hours %>
            <%= time_ago_in_words article.published_at %>
          <% else %>
            <%= render TimeFormatComponent.new datetime: article.published_at.rfc3339 do %>
              <%= article.published_at.strftime("%Y-%m-%d %H:%M") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to user_path(article.author) do %>
        <span aria-hidden="true" class="absolute inset-0"></span>
      <% end %>
    </div>
    <div class="text-right min-w-fit">
      <% if article.free? %>
        <div class="text-sm px-2 bg-green-500 text-white rounded">
          FREE
        </div>
      <% else %>
        <div class="flex items-center space-x-2">
          <img class="w-4 h-4 sm:w-6 sm:h-6 rounded-full" src="<%= article.currency.icon_url %>" />
          <span class="text-sm sm:text-base"><%= article.price_tag %>
        </div>
        <div class="text-xs sm:text-sm opacity-50">≈$<%= article.price_usd %></div>
      <% end %>
    </div>
  </div>
  <%= link_to user_article_path(article.author, article), class: "mb-4 block" do %>
    <div class="font-bold text-xl lg:text-2xl 2xl:text-3xl mb-2 break-words text-ellipsis overflow-hidden">
      <%= article.title %>
    </div>
    <div class="break-words text-ellipsis overflow-hidden">
      <%= article.intro %>
    </div>
  <% end %>
  <div class="flex overflow-x-scroll scrollbar-hide items-center space-x-4 mb-2">
    <% article.tag_names.each do |tag_name| %>
      <%= link_to articles_path(tag: tag_name), class: "px-2 py-1 text-sm bg-zinc-200 dark:bg-zinc-700 font-bold min-w-max", style: "word-break:keep-all;" do %>
        <%= tag_name %>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center space-x-3 lg:space-x-8 justify-end opacity-70">
    <%= link_to user_article_path(article.author, article), class: "flex items-center space-x-1" do %>
      <%= render "shared/icons/dollar", html_class: "w-4 h-4 lg:w-5 lg:h-5" %>
      <span class="lg:text-base"><%= article.revenue_usd.round(4) %></span>
    <% end %>
    <%= link_to user_article_path(article.author, article), class: "flex items-center space-x-1" do %>
      <%= render "shared/icons/chat", html_class: "w-4 h-4 lg:w-5 lg:h-5" %>
      <span class="lg:text-base"><%= article.comments_count %></span>
    <% end %>
    <% if article.upvote_ratio.present? %>
      <%= link_to user_article_path(article.author, article), class: "flex items-center space-x-1" do %>
        <%= render "shared/icons/thumb_up", html_class: "w-4 h-4 lg:w-5 lg:h-5" %>
        <span class="lg:text-base"><%= article.upvote_ratio %></span>
      <% end %>
    <% end %>
    <%= render "articles/share_button", article: article, button_class: "w-4 h-4 lg:w-5 lg:h-5" %>
  </div>
</div>
