<div class="bg-white dark:bg-zinc-900 dark:border-zinc-800 p-4 sm:p-6 sm:border sm:rounded-lg">
  <div class="relative flex items-center space-x-2 mb-4">
    <img class="w-12 h-12 rounded-full" src="<%= author.avatar %>" />
    <div>
      <div class="text-xl font-bold"><%= author.name %></div>
      <div class="text-base text-gray-500">@<%= author.uid %></div>
    </div>
    <%= link_to user_path(author) do %>
      <span aria-hidden="true" class="absolute inset-0"></span>
    <% end %>
  </div>
  <div class="mb-4 break-words">
    <%= author.bio %>
  </div>
  <%= render "subscribe_users/subscribe_button", user: author %>
</div>
