<div class="mb-16">
  <div class="relative flex items-center space-x-2 mb-4">
    <img class="w-12 h-12 rounded-full" src="<%= author.avatar %>" />
    <div class="truncate">
      <div class="text-lg font-bold truncate"><%= author.short_name %></div>
      <div class="text-sm text-gray-500 truncate">@<%= author.short_uid %></div>
    </div>
    <%= link_to user_path(author), data: { controller: 'prefetch' } do %>
      <span aria-hidden="true" class="absolute inset-0"></span>
    <% end %>
  </div>
  <div class="mb-4 break-words">
    <%= author.bio %>
  </div>
  <div class="mb-6 text-sm">
    <div class="grid grid-cols-2 gap-4 mb-1">
      <%= link_to user_path(author.uid, tab: :published), data: { controller: 'prefetch' }, class:"flex items:center space-x-1" do %>
        <span class="opacity-75"><%= t('published') %>:</span> 
        <span class="text-mono"><%= author.articles_count %></span>
      <% end %>
      <%= link_to user_path(author.uid, tab: :bought), data: { controller: 'prefetch' }, class:"flex items:center space-x-1" do %>
        <span class="opacity-75"><%= t('bought') %>:</span> 
        <span class="text-mono"><%= author.bought_articles_count %></span>
      <% end %>
    </div>
    <div class="flex items-center space-x-1">
      <span class="opacity-75"><%= t('joined_at') %>:</span> 
      <%= render TimeFormatComponent.new datetime: author.created_at.rfc3339 do %>
        <span class="text-mono"><%= author.created_at %></span>
      <% end %>
    </div>
  </div>

  <%= render "subscribe_users/subscribe_button", user: author, style: 'block' %>
</div>
