<% if article.arweave_tx_of(current_user).present? %>
  <div class="rounded-lg text-xs font-mono border border-base-content/10 divide-y divide-base-content/10 text-base-content/50">
    <% if article.author.mvm_eth? %>
      <div class="relative p-3 flex justify-between items-center space-x-4 hover:bg-base-200 border-base-content/5 text-base-content">
        <div class="min-w-fit font-bold uppercase">
          Author Address
        </div>
        <div class="truncate">
          <%= article.author.uid %>
        </div>
        <%= link_to '', article.author.mvm_address_url, target: "_blank", class: "absolute inset-0" %>
      </div>
    <% end %>
    <% if article.arweave_tx_of(current_user).present? %>
      <div class="relative p-3 flex justify-between items-center space-x-4 hover:bg-base-200 border-base-content/5 text-base-content">
        <div class="min-w-fit font-bold uppercase">
          Arweave TX
        </div>
        <div class="truncate">
          <%= article.arweave_tx_of(current_user).tx_id %>
        </div>
        <%= link_to '', article.arweave_tx_of(current_user).snapshot_url, target: "_blank", class: "absolute inset-0" %>
      </div>
      <div class="relative p-3 flex justify-between items-center space-x-4 hover:bg-base-200 border-base-content/5 text-base-content">
        <div class="min-w-fit font-bold uppercase">
          Content Digest
        </div>
        <div class="truncate">
          <%= article.digest %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
