<div class="flex justify-center space-x-2 mb-6 text-sm">
  <span class="text-red-500 font-bold"><%= article.buy_orders.count %></span>
  <span><%= t('times_bought') %>,</span> 
  <span class="text-red-500 font-bold"><%= article.reward_orders.count %></span>
  <span><%= t('times_reward') %></span>
</div>

<div class="mx-auto sm:w-96 mb-10 <%= article.readers.count > 8 ? 'grid grid-cols-8 gap-1 sm:gap-2' : 'flex items-center justify-center space-x-2' %>">
  <% article.readers.sample(24).each do |reader| %>
    <img src="<%= reader.avatar %>" class="w-9 h-9 rounded-full" loading="lazy" />
  <% end %>
</div>

<% if article.authorized? user %>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
    <div class="col-span-1 bg-[#F4F4F4] rounded p-3">
      <div class="text-center text-2xl font-bold mb-2">
        <%= article.price %>
      </div>
      <div class="text-center text-sm opacity-80">
        <%= t('activerecord.attributes.article.price') %>(<%= article.currency.symbol %>)
      </div>
    </div>
    <div class="col-span-1 bg-[#F4F4F4] rounded p-3">
      <div class="text-center text-2xl font-bold mb-2">
        <%= article.orders_count %>
      </div>
      <div class="text-center text-sm opacity-80">
        <%= t('activerecord.attributes.article.orders_count') %>
      </div>
    </div>
    <div class="col-span-1 bg-[#F4F4F4] rounded p-3">
      <div class="text-center text-2xl font-bold mb-2">
        <%= article.revenue_usd.presence&.round(4) || 0.0 %>
      </div>
      <div class="text-center text-sm opacity-80">
        <%= t('activerecord.attributes.article.revenue') %>(USD)
      </div>
    </div>
    <div class="col-span-1 bg-[#F4F4F4] rounded p-3">
      <div class="text-center text-2xl font-bold mb-2">
        <%= (article.share_of(user).to_f * 100).round(3) %>
      </div>
      <div class="text-center text-sm opacity-80">
        <%= t('activerecord.attributes.article.my_share') %>
      </div>
    </div>
  </div>
<% end %>
