<div id="article_<%= article.uuid %>_comments_card" class="mb-4 hidden w-full border border-base-content/10 bg-base-200 sm:block sm:rounded-lg sm:px-8 sm:py-10">
  <div class="mb-4 items-center flex justify-between">
    <div class="text-lg font-bold">
      <%= t('comments') %>
    </div>
    <%= render "subscribe_articles/subscribe_button", article: article if article.authorized? user %>
  </div>

  <% if article.authorized? user %>
    <div class="mb-8">
      <%= render "comments/form", commentable: article %>
    </div>
  <% end %>
  <%= turbo_frame_tag "#{dom_id article}_comments", src: article_comments_path(article.uuid), lazy: true do %>
    <%= render "shared/loading" %>
  <% end %>
</div>
