<div id="article_<%= article.uuid %>_comments_card" class="hidden sm:block bg-white dark:bg-[#1D1E2B] dark:border-white dark:border-opacity-5 w-full sm:px-8 sm:py-10 sm:border sm:rounded-lg mb-4">
  <div class="mb-4 items-center flex justify-between">
    <div class="text-lg font-bold">
      <%= t('comments') %>
    </div>
    <%= render "subscribe_articles/subscribe_button", article: article if article.authorized? user %>
  </div>

  <% if article.authorized? user %>
    <div class="mb-8">
      <%= render "comments/form", commentable: article %>
    </div>
  <% end %>
  <%= turbo_frame_tag "#{dom_id article}_comments", src: article_comments_path(article.uuid), lazy: true do %>
    <%= render "shared/loading" %>
  <% end %>
</div>
