<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl 2xl:prose-2xl mx-auto">
  <%= form_for article, 
    data: { 
      controller: "autosave article-form", 
      autosave_delay_value: '1000', 
      article_form_persisted_value: article.persisted? 
    } do |form| %>
    <%= form.text_field :title, 
      class: "w-full p-0 text-2xl sm:text-3xl font-semibold border-t-0 border-l-0 border-r-0 border-b-0 focus:ring-0", 
      placeholder: t("article.form.title_place_holder"), 
      data: { 
        target: "article-form.title",
        action: "keyup->autosave#save"
      } 
    %>
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-2">
        <img class="w-6 h-6 rounded-full" src="<%= article.author.avatar %>" />
        <span><%= article.author.name %></span>
      </div>
      <% if article.persisted? %>
        <%= render partial: "articles/updated_at", locals: { article: @article } %>
      <% end %>
    </div>
    <%= form.rich_text_area :rich_content, 
      placeholder: t("article.form.content_place_holder"), 
      class: "focus:outline-none", 
      value: article.rich_content.present? ? article.rich_content.body.to_trix_html : article.content_as_html,
      data: { 
        article_form_target: 'richText',
        action: "keyup->autosave#save"
      }
    %>
  <% end %>
</div>
