<%= form_for article, 
  html: { class: "text-base" },
  data: { 
    controller: "nested-form",
    nested_form_wrapper_selector_value: '.nested-form-wrapper',
    article_form_target: "form",
    article_form_autosave_value: !article.persisted?,
  } do |form| %>
    <%= form.text_field :title, 
      class: "w-full p-4 lg:pt-8 lg:px-8 text-2xl sm:text-3xl font-semibold border-t-0 border-l-0 border-r-0 border-b-0 focus:ring-0", 
      placeholder: t("articles.title_place_holder"), 
      data: { 
        article_form_target: "title"
      } 
    %>
    <div class="flex items-center justify-between p-4 lg:px-8">
      <div class="flex items-center space-x-2">
        <img class="my-0 w-8 h-8 rounded-full" src="<%= article.author.avatar %>" />
        <span class="text-sm sm:text-lg"><%= article.author.name %></span>
      </div>
    </div>
    <%= render partial: "articles/content_fields", locals: { article: article, form: form } %>
    <%= render partial: "articles/option_fields", locals: { article: article, form: form } %>
<% end %>
