<div class="mb-8">
  <%= article.content_as_html.html_safe %>
</div>

<div class="mb-8">
  <%= render partial: "articles/votes", locals: { article: @article, user: current_user } %>
</div>

<% unless article.author == current_user %>
  <div class="flex justify-center">
    <%= button_to  view_modals_path(type: :reward_article, uuid: article.uuid), class: "rounded-full px-4 py-2 text-white bg-red-500 cursor-pointer flex items-center space-x-2" do %>
      <%= render "shared/icons/heart", html_class: "w-5 h-5" %>
      <span><%= t('reward') %></span>
    <% end %>
  </div>
<% end %>
