<div class="flex items-center justify-between mb-6">
  <div class="relative flex items-center space-x-2 truncate">
    <img class="w-10 h-10 my-0 rounded-full" src="<%= article.author.avatar_thumb %>">
    <div class="leading-4 truncate">
      <span class="text-base font-semibold truncate max-w-24"><%= article.author.name %></span>
      <div class="text-sm sm:text-base text-gray-500 font-light">
        <% if article.published_at.present? %>
          <%= render TimeFormatComponent.new datetime: article.published_at.utc.rfc3339 do %>
            <%= article.published_at.strftime("%Y-%m-%d %H:%M") %>
          <% end %>
        <% else %>
          <%= render TimeFormatComponent.new datetime: article.updated_at.utc.rfc3339 do %>
            <%= article.updated_at.strftime("%Y-%m-%d %H:%M") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to user_path(article.author), data: { controller: 'prefetch' } do %>
      <span aria-hidden="true" class="absolute inset-0"></span>
    <% end %>
  </div>
  <div class="hidden sm:flex justify-end">
    <%= link_to article_share_path(article_uuid: @article.uuid), 
      data: {
        turbo_frame: :modal
      },
      class: "flex items-center space-x-1" do %>
      <%= inline_svg_tag 'icons/share-solid.svg', class: 'w-5 h-5 lg:w-6 lg:h-6 text-primary' %>
    <% end %>
  </div>
</div>

<div class="font-semibold text-xl lg:text-3xl 3xl:text-4xl mb-6 text-ellipsis overflow-hidden">
  <%= article.title %>
</div>

<% if article.tags.present? %>
  <div class="max-w-full flex items-center space-x-4 overflow-x-scroll scrollbar-hide mb-4">
    <% article.tags.each do |tag| %>
      <%= link_to articles_path(tag: tag.name), 
        data: { 
          controller: 'prefetch' 
        }, 
        class: "px-2 py-1 text-sm min-w-max tag-style-#{tag.id % 6}" do %>
        <%= tag.name %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="flex items-center space-x-2 mb-4 text-sm xl:text-base text-gray-500">
  <span>
    <%= t("words_count") %>:
  </span>
  <span>
    <%= article.words_count %>
  </span>
</div>

<div class="py-2 px-4 bg-zinc-100 dark:bg-[#333444] rounded break-words mb-6">
  <%= article.intro %>
</div>

<% if article.cover.attached? %>
  <%= link_to article.cover_url, 
    class: "photoswipe block", 
    target: "_blank",
    width: article.cover.metadata&.[]('width'),
    height: article.cover.metadata&.[]('height'),
    data: {
      pswp_src: article.cover_url,
      pswp_width: article.cover.metadata&.[]('width'),
      pswp_height: article.cover.metadata&.[]('height'),
    } do %>
    <%= image_tag article.cover_url, class: "w-full" %>
  <% end %>
<% end %>
