<div data-article-form-target="optionFields" 
  class="hidden px-4 py-5 bg-white dark:bg-[#1D1E2B] space-y-6 sm:p-6">

  <div class="mb-4">
    <div class="w-full aspect-square rounded-2xl bg-[#F4F4F4]/90 flex border border-[#F4F4F4] border-dashed">
      <div data-controller="preview-upload" class="w-full h-full flex justify-center items-center">
        <%= form.label :cover, 
          class: "block h-full w-full cursor-pointer" do %>
          <img data-preview-upload-target="imageTpl" class="hidden w-full h-full object-cover rounded-2xl" />
          <div data-preview-upload-target="output" class="h-full flex">
            <% if form.object.cover.attached? %>
              <img src="<%= form.object.cover.url %>" class="w-full h-full object-cover rounded-2xl" />
            <% else %>
              <div class="m-auto">
                <div class="flex justify-center mb-4">
                  <%= inline_svg_tag 'icons/upload.svg', class: 'w-12 h-12 opacity-50' %>
                </div>
                <div class="text-center opacity-75">
                  <%= t('upload_cover') %>
                </div>
              </div>
            <% end %>
          </div>
          <%= form.file_field :cover, 
            class: "sr-only", 
            accept: "image/*", 
            data: {
              preview_upload_target: "input",
              action: "input->preview-upload#preview"
            },
            direct_upload: true %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <%= form.select :tag_names, 
      form.object.tag_names.presence || Tag.all.first(10).pluck(:name), 
      {}, 
      multiple: true,
      placeholder: t("articles.add_some_tags"),
      data: {
        controller: "tags-select",
        tags_select_items_value: form.object.tag_names,
      }, 
      class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded" 
    %>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :collection, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.collection_select :collection_id, 
          current_user.collections.listed,
          :uuid,
          :name,
          {
            include_blank: 'None',
          },
          disabled: (form.object.published_at? && form.object.collection_revenue_ratio.positive?),
          data: {
            action: "article-form#selectCollection article-form#touchDirty"
          },
          class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded bg-[#F4F4F4] border-[#F4F4F4] dark:border-white dark:border-opacity-5 dark:bg-[#333444]" %>
      </div>
      <% if form.object.errors.where(:intro).present? %>
        <div class="py-2 text-red-700 font-sm"><%= form.object.errors.where(:intro).map(&:full_message).join(';') %></div>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :intro, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.text_area :intro, 
          value: form.object.intro, 
          rows: 5, 
          maxLength: 140,
          data: {
            action: 'input->article-form#introUpdate'
          },
          class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded bg-[#F4F4F4] border-[#F4F4F4] dark:border-white dark:border-opacity-5 dark:bg-[#333444]" %>
      </div>
      <div class="py-2 font-sm opacity-70 text-right ml-auto">
        <span data-article-form-target="introCharacterCounter"><%= 140 - form.object.intro.to_s.size %></span>
      </div>
      <% if form.object.errors.where(:intro).present? %>
        <div class="py-2 text-red-700 font-sm"><%= form.object.errors.where(:intro).map(&:full_message).join(';') %></div>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :currency, required: true, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="<%= form.object.published_at? ? '' : 'hidden' %>">
        <%= form.collection_select :asset_id, 
          Currency.pricable, 
          :asset_id, 
          :symbol, 
          {}, 
          disabled: form.object.published_at?,
          class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded dark:border-white dark:border-opacity-5 dark:bg-[#333444]" %>
      </div>

      <% if form.object.currency.present? && !form.object.published_at? %>
        <%= link_to currencies_path(identifier: form.object.uuid), 
          data: { controller: :turbo },
          class: "block w-full mb-4 flex items-center justify-between py-2 px-4 bg-[#F4F4F4] dark:bg-[#333444] rounded-lg" do %>
          <div id="<%= dom_id form.object.currency %>" class="flex items-center space-x-4">
            <div class='relative'>
              <%= image_tag form.object.currency.icon_url, 
                data: { article_form_target: 'currencyIcon' }, 
                class: 'w-8 h-8 rounded-full' %>
              <%= image_tag form.object.currency.icon_url, 
                data: { article_form_target: 'currencyChainIcon' }, 
                class: 'absolute bottom-0 w-3 h-3 rounded-full' %>
            </div>
            <div class="text-lg font-bold" data-article-form-target="currencySymbol">
              <%= form.object.currency.symbol %>
            </div>
          </div>
          <%= inline_svg_tag 'icons/chevron-right.svg', class: 'w-6 h-6 font-bold' %>
        <% end %>
      <% end %>

      <% if form.object.errors.where(:asset_id).present? %>
        <div class="py-2 text-red-700 font-sm"><%= form.object.errors.where(:asset_id).map(&:full_message).join(';') %></div>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :price, 
      required: true, 
      class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.number_field :price, 
          required: true, 
          step: '0.0000001', 
          min: '0', 
          data: {
            action: 'change->article-form#calPriceUsd change->article-form#touchDirty',
          },
          class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded font-bold bg-[#F4F4F4] border-[#F4F4F4] dark:border-white dark:border-opacity-5 dark:bg-[#333444]", placeholder: "Input price" %>
      </div>
      <div class="flex justify-between items-center">
        <% if form.object.errors.where(:price).present? %>
          <div class="py-2 text-red-700 font-sm"><%= form.object.errors.where(:price).map(&:full_message).join(';') %></div>
        <% end %>
        <% if form.object.currency.present? %>
          <div class="py-2 font-sm opacity-70 text-right ml-auto">
            ≈ $<span data-article-form-target="priceUsd"><%= (form.object.price * form.object.currency.price_usd).floor(2) %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :readers_revenue_ratio, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.number_field :readers_revenue_ratio, 
          required: true, 
          disabled: true, 
          class: "cursor-not-allowed flex-1 block w-full rounded font-bold dark:border-white dark:border-opacity-5 bg-[#F4F4F4] border-[#F4F4F4] dark:bg-[#333444] opacity-60"
        %>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :platform_revenue_ratio, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.number_field :platform_revenue_ratio, 
          required: true, 
          disabled: true, 
          class: "cursor-not-allowed flex-1 block w-full rounded font-bold dark:border-white dark:border-opacity-5 bg-[#F4F4F4] border-[#F4F4F4] dark:bg-[#333444] opacity-60"
        %>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :collection_revenue_ratio, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.number_field :collection_revenue_ratio, 
          disabled: true,
          data: { 
            article_form_target: 'collectionRevenueRatio'
          }, 
          class: "cursor-not-allowed flex-1 block w-full rounded font-bold dark:border-white dark:border-opacity-5 bg-[#F4F4F4] border-[#F4F4F4] dark:bg-[#333444] opacity-60"
        %>
      </div>
      <% if form.object.errors.where(:collection_revenue_ratio).present? %>
        <div class="py-2 text-red-700 font-sm"><%= form.object.errors.where(:collection_revenue_ratio).map(&:full_message).join(';') %></div>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :author_revenue_ratio, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.number_field :author_revenue_ratio, 
          required: true, 
          disabled: form.object.published_at?,
          min: "0",
          max: "0.5",
          step: "0.01",
          data: { 
            article_form_target: 'authorRevenueRatio',
            action: 'article-form#touchDirty'
          }, 
          class: "flex-1 block w-full rounded font-bold dark:border-white dark:border-opacity-5 bg-[#F4F4F4] border-[#F4F4F4] dark:bg-[#333444]"
        %>
      </div>
      <% if form.object.errors.where(:author_revenue_ratio).present? %>
        <div class="py-2 text-red-700 font-sm"><%= form.object.errors.where(:author_revenue_ratio).map(&:full_message).join(';') %></div>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <%= form.label :references_revenue_ratio, class: "col-span-3 sm:col-span-1 block text-sm font-medium opacity-70" %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm">
        <%= form.number_field :references_revenue_ratio, 
          required: true, 
          disabled: form.object.published_at?,
          min: "0",
          max: "0.5",
          step: "0.01",
          data: { 
            article_form_target: 'referenceRevenueRatio',
            action: 'article-form#touchDirty'
          }, 
          class: "flex-1 block w-full rounded font-bold dark:border-white dark:border-opacity-5 bg-[#F4F4F4] border-[#F4F4F4] dark:bg-[#333444]"
        %>
      </div>
      <% if form.object.errors.where(:references_revenue_ratio).present? %>
        <div class="py-2 text-red-700 font-sm"><%= form.object.errors.where(:references_revenue_ratio).map(&:full_message).join(';') %></div>
      <% end %>
    </div>
  </div>

  <template class="hidden" data-nested-form-target="template">
    <%= form.fields_for :article_references, form.object.article_references.new, child_index: 'NEW_RECORD', data: { new_record: true } do |reference_form| %>
      <%= render partial:  "article_references/form", locals: { form: reference_form, article: form.object } %>
    <% end %>
  </template>

  <%= form.fields_for :article_references do |reference_form| %>
    <%= render partial:  "article_references/form", locals: { form: reference_form, article: form.object } unless reference_form.object.new_record? %>
  <% end %>
  <% if form.object.published_at.blank? %>
    <div data-nested-form-target="target"></div>
    <div 
      data-action="click->nested-form#add click->article-form#calReferenceRatio click->article-form#touchDirty"
      class="cursor-pointer w-full block px-4 py-2 font-bold text-center border border-primary hover:bg-primary hover:text-white text-primary rounded-full">
      <%= t('articles.add_reference') %>
    </div>
  <% end %>
</div>
