<%= MarkdownRenderService.call(article.partial_content).html_safe %>

<div class="mb-8">
  <div class="flex justify-center text-red-500">
    - <%= t('more_to_read') %> -
  </div>
  <div class="flex justify-center flex-wrap">
    <span class="min-w-fit"><%= t('pay') %></span>
    <span class="mx-2 text-red-500 min-w-fit"><%= article.price_tag %></span>
    <span class="mr-2 min-w-fit">(≈$<%= article.price_usd %>)</span>
    <span class="min-w-fit"><%= t('to_continue_reading') %></span>
  </div>
  <div class="flex justify-center flex-wrap mb-6">
    <span><%= t('and_receive_early_reader_revenue') %></span>
    (<%= link_to t('rules'), rules_page_path, class: "min-w-fit" %>)
  </div>
  <div class="text-base mb-4 rounded-lg border border-amber-500 bg-amber-50 dark:bg-amber-800 dark:border-amber-900 px-4 py-2">
    <%= t('pay_warning') %>
  </div>
  <div class="flex justify-center mb-4">
    <%= button_to t('pay_to_read'), view_modals_path(type: :buy_article, uuid: article.uuid), class: "cursor-pointer text-base rounded bg-blue-600 hover:bg-blue-500 active:bg-blue-500 text-white px-4 py-2 no-underline" %>
  </div>
  <div class='text-sm text-gray-500 text-center'>
    <%= t('already_paid') %>? <%= t('try_to') %>
    <% if current_user.present? %>
      <%= link_to t('refresh'), user_article_path(article.author, article), data: { turbo: false } %>
    <% else %>
      <%= button_to t('login'), view_modals_path(type: :login, return_to: article_url(article.uuid)) %>
    <% end %>
  </div>
  <% if article.swappable? %>
    <div class='text-sm text-gray-500 text-center'>
      <%= t('pay_via_swap_tips') %>
    </div>
  <% end %>
</div>

<div class="mb-8">
  <%= render partial: "articles/votes", locals: { article: @article, user: current_user } %>
</div>
