<div class="mb-10 prose-article relative">
  <%= article.partial_content_as_html.html_safe %>
  <div class="absolute bottom-0 w-full h-14 max-h-full bg-gradient-to-t from-white dark:from-[#1D1E2B]">
  </div>
</div>

<div class="mb-8">
  <%= render "articles/blockchain_info", article: article %>
</div>

<div class="mb-8">
  <div class="flex justify-center text-red-500 mb-4 text-sm">
    - <%= t('more_to_read', percent: "#{((1 - article.free_content_ratio) * 100).round(1)} %") %> -
  </div>

  <div class="flex justify-center flex-wrap mb-4">
    <span class="min-w-fit"><%= t('pay') %></span>
    <span class="mx-2 text-red-500 font-bold min-w-fit"><%= article.price_tag %> (≈$<%= article.price_usd %>)</span>
    <span class="min-w-fit"><%= t('to_continue_reading') %></span>
  </div>
  <div class="flex justify-center flex-wrap mb-6">
    <span><%= t('and_receive_early_reader_revenue') %></span>
    (<%= link_to t('rules'), rules_page_path, data: { controller: 'prefetch' }, class: "text-primary underline font-bold min-w-fit" %>)
  </div>
  <div class="text-base mb-6 rounded-lg border border-amber-400 bg-amber-50 dark:bg-amber-800 dark:border-amber-900 px-4 py-2">
    <%= t('pay_warning') %>
  </div>

  <div class="flex justify-center mb-4">
    <%= render "articles/buy_article_button", article: article %>
  </div>

  <div class='text-sm text-gray-500 text-center'>
    <%= t('already_paid') %>? <%= t('try_to') %>
    <% if current_user.present? %>
      <%= link_to t('refresh'), user_article_path(article.author, article), data: { turbo: false }, class: "text-primary underline font-bold" %>
    <% elsif from_mixin_messenger? %>
      <%= link_to t('login'), login_path(return_to: article_url(article.uuid)), class: "text-primary underline font-bold" %>
    <% else %>
      <%= link_to t('login'), login_path(return_to: article_url(article.uuid)), data: { turbo_frame: :modal }, class: "text-primary underline font-bold" %>
    <% end %>
  </div>
  <% if article.swappable? %>
    <div class='text-sm text-gray-500 text-center'>
      <%= t('pay_via_swap_tips') %>
    </div>
  <% end %>
</div>
