<div class="bg-white dark:bg-zinc-900 dark:border-zinc-800 p-4 sm:p-6 sm:border sm:rounded-lg">
  <div class="flex mb-4">
    <span class="px-2 py-1 font-bold"><%= t('article_references') %></span>
  </div>
  <% references.each do |reference| %>
    <%= link_to article_path(reference.reference), class: "flex items-center mb-2" do %>
      <div class="flex flex-1 items-center space-x-2 truncate">
        <%= image_tag reference.reference.author.avatar, class: "w-6 h-6 rounded-full" %>
        <span class="truncate"><%= reference.reference.title %></span>
      </div>
      <div class="text-sm">
        <%= reference.revenue_ratio * 100 %>%
      </div>
    <% end %>
  <% end %>
</div>
