<div class="mb-16">
  <div class="mb-6">
    <span class="font-bold"><%= t('article_references') %></span>
  </div>
  <% references.each do |reference| %>
    <%= link_to user_article_path(reference.reference.author, reference.reference), 
      data: { 
        controller: 'prefetch' 
      }, 
      class: "flex items-center space-x-2 mb-4" do %>
      <div class="flex flex-1 items-center space-x-2 truncate">
        <%= image_tag reference.reference.author.avatar, class: "w-9 h-9 rounded-full" %>
        <span class="truncate"><%= reference.reference.title %></span>
      </div>
      <div class="text-sm">
        <%= reference.revenue_ratio * 100 %>%
      </div>
    <% end %>
  <% end %>
</div>
