<div id="payment_<%= trace_id %>">
  <% if Payment.find_by(trace_id: trace_id) %>
    <%= render partial: "shared/loading" %>
  <% else %>
    <% unless from_mixin_messenger? %>
      <div data-controller="qrcode" 
          data-qrcode-url-value="<%= article.reward_url(current_user, pay_asset_id, amount, trace_id) %>">
          <div data-qrcode-target="placeholder" class="flex justify-center"></div>
          <div class="text-center py-2 text-gray-500 text-sm">
            <%= t("pay_with_messenger") %>
          </div>
      </div>
    <% end %>
    <a data-article-payment-target="payLink"
      href="<%= article.reward_url(current_user, pay_asset_id, amount, trace_id) %>"
      class="w-full my-4 text-center no-underline cursor-pointer py-2 block bg-blue-600 hover:bg-blue-500 active:bg-blue-500 text-white rounded">
      <%= t('pay_in_mixin') %>
    </a>
  <% end %>
</div>
