<div 
  data-controller="reward-article-payment" 
  data-reward-article-payment-trace-id-value="<%= trace_id %>"
  data-reward-article-payment-article-uuid-value="<%= article.uuid %>"
  data-reward-article-payment-selected-currency-value="<%= article.currency.asset_id %>"
  data-reward-article-payment-minimal-reward-amount-value="<%= article.currency.minimal_reward_amount %>"
  data-reward-article-payment-selected-amount-share-value="1"
  class="max-w-xs m-auto p-4">
  <div class="mb-4 grid grid-cols-3 gap-4">
    <% [1, 4, 8, 32, 256, 1024].each do |number| %>
      <div 
        data-reward-article-payment-target="amountShare"
        data-amount-share="<%= number %>"
        data-action="click->reward-article-payment#selectAmountShare"
        class="cursor-pointer flex items-center space-x-2 justify-center border p-1">
        <span class="text-sm sm:text-base"><%= format('%.8f', article.currency.minimal_reward_amount * number).gsub(/0+\z/, '') %></span>
      </div>
    <% end %>
  </div>
  <div class="mb-4">
    <select class="focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded sm:text-sm border-gray-300"
      data-action="change->reward-article-payment#selectCurrency">
      <option value="<%= article.currency.asset_id %>" 
        data-reward-article-payment-target="currency"
        data-currency-icon-url="<%= article.currency.icon_url %>"
        data-minimal-amount="<%= article.currency.minimal_reward_amount %>">
        <span><%= article.currency.symbol %></span>
      </option>
      <% Currency.swappable.each do |currency| %>
        <% unless currency == article.currency %>
          <option value="<%= currency.asset_id %>" 
            data-reward-article-payment-target="currency"
            data-currency-icon-url="<%= currency.icon_url %>"
            data-minimal-amount="<%= currency.minimal_reward_amount %>">
            <span><%= currency.symbol %></span>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="flex items-center justify-center space-x-2 font-bold">
    <img data-reward-article-payment-target="currencyIcon" src="<%= article.currency.icon_url %>" class="w-8 h-8 rounded-full" />
    <span data-reward-article-payment-target="amount"><%= format('%.8f', article.currency.minimal_reward_amount).gsub(/0+\z/, '') %></span>
  </div>
  <template data-reward-article-payment-target="loading">
    <div class="flex justify-center">
      <img class="w-12 h-12 my-0" src="<%= image_path 'loading.svg' %>" />
    </div>
  </template>
  <div data-reward-article-payment-target="payBox" id="article_<%= article.uuid %>_reward_payment_box">
  </div>
</div>
