<div class="w-64 bg-white dark:bg-zinc-900 rounded-lg">
  <% if from_mixin_messenger? %>
    <a class="rounded-t-lg block flex items-center space-x-4 p-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 active:bg-zinc-100 dark:active:bg-zinc-800 rounded-t-lg"
      target="_blank"
      data-action="modal#hide"
      href="<%= share_to_mixin article_url(article), title: article.title, description: article.intro, icon_url: article.author.avatar %>">
      <%= image_tag Settings.mixin_logo_file || 'mixin-logo.png', class: "w-auto h-6" %>
      <span class="text-base"><%= Settings.messenger %></span>
    </a>
  <% end %>
  <button class="block w-full flex items-center space-x-4 p-4 opacity-70 hover:bg-zinc-100 dark:hover:bg-zinc-800 active:bg-zinc-100 dark:active:bg-zinc-800 rounded-t-lg"
    data-controller="clipboard"
    data-clipboard-text-value="<%= article_url article %>"
    data-clipboard-success-tip-value="URL copied"
    data-action="clipboard#copy modal#hide">
    <%= render "shared/icons/copy" %>
    <span data-clipboard-target="button"class="text-base">URL</span>
  </button>
  <a class="block flex items-center space-x-4 p-4 opacity-70 hover:bg-zinc-100 dark:hover:bg-zinc-800 active:bg-zinc-100 dark:active:bg-zinc-800"
      target="_blank"
      data-action="modal#hide"
      href="<%= share_to_twitter article_url(article), article.title %>">
    <%= render "shared/icons/twitter" %>
    <span class="text-base">Twitter</span>
  </a>
  <a class="block flex items-center space-x-4 p-4 opacity-70 hover:bg-zinc-100 dark:hover:bg-zinc-800 active:bg-zinc-100 dark:active:bg-zinc-800 rounded-b-lg"
      target="_blank"
      data-action="modal#hide"
      href="<%= share_to_facebook article_url(article) %>">
    <%= render "shared/icons/facebook" %>
    <span class="text-base">Facebook</span>
  </a>
</div>
