<div id="<%= dom_id article %>_votes" class="flex justify-center items-center">
  <% if !article.authorized? user %>
    <div class="border border-zinc-100 dark:border-zinc-800 rounded-full p-2 bg-primary text-white">
      <%= render "shared/icons/thumb_up" %>
    </div>
  <% elsif user&.upvote_article? article %>
    <%= button_to upvoted_article_path(article), method: :delete, class: "border border-zinc-100 dark:border-zinc-800 rounded-full p-2 bg-primary text-white" do %>
      <%= render "shared/icons/thumb_up" %>
    <% end %>
  <% else %>
    <%= button_to upvoted_article_path(article), method: :put, class: "border border-zinc-100 dark:border-zinc-800 rounded-full p-2" do %>
      <%= render "shared/icons/thumb_up" %>
    <% end %>
  <% end %>
  <div class="mx-4 w-16 mt-2">
    <div class="bg-red-500 rounded h-2 mb-2">
      <div class="rounded h-2 bg-primary" style="width: <%= article.upvote_ratio %>"></div>
    </div>
    <div class="text-center text-sm">
      <%= article.upvotes_count %> : <%= article.downvotes_count %>
    </div>
  </div>
  <% if !article.authorized? user %>
    <div class="border border-zinc-50 dark:border-zinc-800 rounded-full p-2 bg-red-500 text-white">
      <%= render "shared/icons/thumb_down" %>
    </div>
  <% elsif user&.downvote_article? article %>
    <%= button_to upvoted_article_path(article), method: :delete, class: "border border-zinc-100 dark:border-zinc-800 rounded-full p-2 bg-red-500 text-white" do %>
      <%= render "shared/icons/thumb_down" %>
    <% end %>
  <% else %>
    <%= button_to downvoted_article_path(article), method: :put, class: "border border-zinc-100 dark:border-zinc-800 rounded-full p-2" do %>
      <%= render "shared/icons/thumb_down" %>
    <% end %>
  <% end %>
</div>
