<div id="<%= dom_id article %>_votes" class="flex items-center justify-center">
  <div class="relative rounded-full p-2 text-white <%= user&.upvote_article?(article) ? 'bg-primary' : 'bg-base-content/30' %>">
    <%= inline_svg_tag "icons/like-solid.svg", class: "h-6 w-6" %>

    <% if user.blank? %>
      <%= link_to '', login_path, data: { turbo_frame: :modal }, class: 'absolute inset-0' %>
    <% elsif user&.upvote_article? article %>
      <%= link_to '', upvoted_article_path(article),
        data: { turbo_method: :delete },
        class: "absolute inset-0" %>
    <% else %>
      <%= link_to '', upvoted_article_path(article),
        data: { turbo_method: :put },
        class: "absolute inset-0" %>
    <% end %>
  </div>

  <div class="mx-4 mt-2 w-16">
    <div class="mb-2 h-2 rounded bg-red-500">
      <div class="h-2 rounded bg-primary" style="width: <%= article.upvote_ratio %>"></div>
    </div>
    <div class="text-center text-sm">
      <%= article.upvotes_count %> : <%= article.downvotes_count %>
    </div>
  </div>

  <div class="relative rounded-full p-2 text-white <%= user&.downvote_article?(article) ? 'bg-error' : 'bg-base-content/30' %>">
    <%= inline_svg_tag "icons/dislike-solid.svg", class: "h-6 w-6" %>

    <% if user.blank? %>
      <%= link_to '', login_path, data: { turbo_frame: :modal }, class: 'absolute inset-0' %>
    <% elsif user&.downvote_article? article %>
      <%= link_to '', downvoted_article_path(article),
        data: { turbo_method: :delete },
        class: "absolute inset-0" %>
    <% else %>
      <%= link_to '', downvoted_article_path(article),
        data: { turbo_method: :put },
        class: "absolute inset-0" %>
    <% end %>
  </div>
</div>
