<div 
  data-controller="article-form" 
  data-article-form-new-record-value="false" 
  data-article-form-active-tab-value="edit" 
  class="h-screen flex flex-col">
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex space-x-4">
    <div 
      data-action="click->article-form#edit" 
      data-article-form-target="editButton"
      class="cursor-pointer py-1 border-b-2 border-blue-500">
      <%= t('edit') %>
    </div>
    <div 
      data-action="click->article-form#options" 
      data-article-form-target="optionsButton"
      class="cursor-pointer py-1 border-blue-500">
      <%= t('options') %>
    </div>
    <div 
      data-action="click->article-form#preview" 
      data-article-form-target="previewButton"
      class="cursor-pointer py-1 border-blue-500">
      <%= t('preview') %>
    </div>
  </div>
  <div class="flex-1 overflow-y-scroll bg-white dark:bg-zinc-900 border-t border-b sm:rounded-lg sm:scrollbar-hide sm:border dark:border-zinc-800 relative pb-4 max-w-full">
    <%= render partial: "articles/form", locals: { article: @article } %>
    <div data-article-form-target="preview" id="article-preview" class="hidden">
      <%= render partial: "articles/preview", locals: { content: @article.content } %>
    </div>
  </div>
  <% if @article.persisted? %>
    <div class="px-4 sm:px-0 pt-2">
      <%= render partial: "articles/updated_at", locals: { article: @article } %>
    </div>
  <% end %>
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex justify-between">
    <div class="flex space-x-4">
      <%= link_to t("publish_article"), view_modals_path(type: :publish_article, uuid: @article.uuid), data: { action: "click->article-form#save", turbo_method: :post }, class: "px-4 py-2 text-sm sm:text-base rounded bg-blue-600 hover:bg-blue-500 active:bg-blue-500 text-white" unless @article.published? %>
    <div class="cursor-pointer px-4 py-2 text-sm sm:text-base rounded bg-blue-600 hover:bg-blue-500 active:bg-blue-500 text-white" data-action="click->article-form#save">
        <%= t('save') %>
      </div>
    </div>
    <%= link_to t('back'), dashboard_articles_path, class: "py-2" %>
  </div>
  <div style="height:env(safe-area-inset-bottom)"></div>
</div>
