<%= turbo_stream_from @article %>

<div data-controller="article-form autosave" class="h-screen flex flex-col">
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex space-x-4">
    <div 
      data-action="click->article-form#edit" 
      data-article-form-target="editButton"
      class="cursor-pointer py-1 border-b-2 border-blue-500">
      <%= t('edit') %>
    </div>
    <div 
      data-action="click->article-form#preview" 
      data-article-form-target="previewButton"
      class="cursor-pointer py-1 border-blue-500">
      <%= t('preview') %>
    </div>
  </div>
  <div class="flex-1 overflow-y-scroll bg-white border relative pb-4 prose lg:prose-lg xl:prose-xl">
    <%= render partial: "articles/form", locals: { article: @article } %>
    <%= render partial: "articles/preview" %>
  </div>
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex space-x-4">
    <%= link_to t("publish_article"), publish_article_path(@article.uuid), class: "px-4 py-2 text-sm sm:text-base rounded bg-blue-500 text-white" %>
    <div class="cursor-pointer px-4 py-2 text-sm sm:text-base rounded bg-blue-500 text-white" data-action="click->autosave#save"><%= t('save') %></div>
  </div>
</div>
