<div 
  data-controller="article-form" 
  data-article-form-draft-key-value="quill_article_draft" 
  data-article-form-new-record-value="false" 
  data-article-form-autosave-url-value="<%= article_update_content_path(@article) %>" 
  data-article-form-active-tab-value="edit" 
  data-article-form-article-uuid-value="<%= @article.uuid %>" 
  data-article-form-article-published-value="<%= @article.published_at? %>">

  <div class="w-full fixed left-0 top-0 z-50">
    <div class="max-w-xl lg:max-w-2xl 2xl:max-w-3xl mx-auto px-4 py-3 sm:px-0 flex items-center bg-white/90 border-white">
      <%= link_to root_path, class: 'mr-4' do %>
        <%= image_tag "logo.svg", class: 'w-auto h-10' %>
      <% end %>

      <div 
        data-action="click->article-form#edit" 
        data-article-form-target="editButton"
        class="cursor-pointer py-1 border-b-2 border-primary mx-2">
        <%= t('edit') %>
      </div>
      <div 
        data-action="click->article-form#options" 
        data-article-form-target="optionsButton"
        class="cursor-pointer py-1 border-b-2 mx-2">
        <%= t('options') %>
      </div>

      <% if @article.persisted? %>
        <div class="mx-4">
          <div id="<%= dom_id @article %>_updated_at" class="text-sm text-gray-500" data-controller="auto-hide"></div>
        </div>
      <% end %>

      <div 
        class="cursor-pointer px-4 py-1 text-sm sm:text-base rounded bg-primary hover:scale-105 text-white ml-auto mr-2" 
        data-action="click->article-form#submit">
        <%= t('save') %>
      </div>

      <%= link_to t("publish_article"), 
        new_dashboard_published_article_path(uuid: @article.uuid), 
        data: { turbo_frame: :modal },
        class: "cursor-pointer px-4 py-1 text-sm sm:text-base rounded bg-primary hover:scale-105 text-white mx-2" unless @article.published? %>
      
      <%= link_to dashboard_articles_path, 
        data: {
          controller: 'prefetch'
        },
        class: "mx-2", 
        role: "menuitem", 
        tabindex: "-1" do %>
        <img class="w-8 h-8 rounded-full mx-2" src="<%= current_user.avatar %>" />
      <% end %>
    </div>
  </div>

  <div class="w-full max-w-prose mx-auto relative my-24">
    <%= render "articles/form", article: @article %>
  </div>
</div>
