<div 
  data-controller="article-form" 
  data-article-form-draft-key-value="quill_article_draft" 
  data-article-form-new-record-value="false" 
  data-article-form-autosave-url-value="<%= article_update_content_path(@article) %>" 
  data-article-form-active-tab-value="edit" 
  data-article-form-article-uuid-value="<%= @article.uuid %>" 
  data-article-form-article-published-value="<%= @article.published_at? %>" 
  class="h-screen flex flex-col">
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex space-x-4">
    <div 
      data-action="click->article-form#edit" 
      data-article-form-target="editButton"
      class="cursor-pointer py-1 border-b-2 border-primary">
      <%= t('edit') %>
    </div>
    <div 
      data-action="click->article-form#options" 
      data-article-form-target="optionsButton"
      class="cursor-pointer py-1 border-primary">
      <%= t('options') %>
    </div>
    <div 
      data-action="click->article-form#preview" 
      data-article-form-target="previewButton"
      class="cursor-pointer py-1 border-primary">
      <%= t('preview') %>
    </div>
  </div>
  <div class="flex-1 overflow-y-scroll bg-white dark:bg-zinc-900 sm:rounded-lg sm:scrollbar-hide relative pb-4 max-w-full">
    <%= render "articles/form", article: @article %>

    <div data-article-form-target="preview" id="article-preview" class="hidden">
      <%= render "articles/preview", content: @article.content %>
    </div>
  </div>
  <% if @article.persisted? %>
    <div class="px-4 sm:px-0 pt-2">
      <%= render "articles/updated_at", article: @article %>
    </div>
  <% end %>
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex justify-between">
    <div class="flex space-x-4">
      <%= link_to t("publish_article"), 
        new_dashboard_published_article_path(uuid: @article.uuid), 
        data: { turbo_frame: :modal },
        class: "cursor-pointer px-4 py-2 text-sm sm:text-base rounded bg-primary hover:scale-105 text-white" unless @article.published? %>

    <div class="cursor-pointer px-4 py-2 text-sm sm:text-base rounded bg-primary hover:scale-105 text-white" data-action="click->article-form#submit">
        <%= t('save') %>
      </div>
    </div>
    <%= link_to t('back'), dashboard_articles_path, class: "py-2" %>
  </div>
  <div style="height:env(safe-area-inset-bottom)"></div>
</div>
