<%= turbo_stream_from @article %>

<div data-controller="article-form" class="h-screen flex flex-col">
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex space-x-4">
    <div 
      data-action="click->article-form#edit" 
      data-article-form-target="editButton"
      class="cursor-pointer py-1 border-b-2 border-blue-500">
      <%= t('edit') %>
    </div>
    <div 
      data-action="click->article-form#options" 
      data-article-form-target="optionsButton"
      class="cursor-pointer py-1 border-blue-500">
      <%= t('options') %>
    </div>
    <div 
      data-action="click->article-form#preview" 
      data-article-form-target="previewButton"
      class="cursor-pointer py-1 border-blue-500">
      <%= t('preview') %>
    </div>
  </div>
  <% if @article.persisted? %>
    <div class="mb-2 px-4 sm:px-0">
      <%= render partial: "articles/updated_at", locals: { article: @article } %>
    </div>
  <% end %>
  <div class="flex-1 overflow-y-scroll bg-white border-t border-b  sm:border relative pb-4 prose xl:prose-lg 2xl:prose-xl max-w-full">
    <%= render partial: "articles/form", locals: { article: @article } %>
    <%= render partial: "articles/preview" %>
  </div>
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex justify-between">
    <div class="flex space-x-4">
      <%= link_to t("publish_article"), publish_article_path(@article.uuid), class: "px-4 py-2 text-sm sm:text-base rounded bg-blue-500 text-white" unless @article.published? %>
      <div class="cursor-pointer px-4 py-2 text-sm sm:text-base rounded bg-blue-500 text-white" data-action="click->article-form#save">
        <%= t('save') %>
      </div>
    </div>
    <%= link_to t('back'), :back, class: "py-2" %>
  </div>
</div>
