<div class="lg:grid lg:grid-cols-3 lg:gap-x-6">
  <div class="w-full lg:col-span-2 mb-2">
    <%= render "articles/filter_bar", order_by: @order_by, time_range: @time_range %>
    <%= render "articles/articles_list", articles: @articles, pagy: @pagy %>
  </div>
  <aside class="lg:col-span-1">
    <% if @tag.present? %>
      <div class="mb-4">
        <%= render "tags/tag_card", tag: @tag %>
      </div>
    <% end %>
    <div class="mb-4">
      <%= render "shared/hot_tags_card" %>
    </div>
    <div class="mb-4">
      <%= render "shared/active_authors_card" %>
    </div>
  </aside>
</div>
