<div 
  data-controller="article-form" 
  data-article-form-draft-key-value="quill_article_draft" 
  data-article-form-new-record-value="true" 
  data-article-form-dirty-value="false" 
  data-article-form-active-tab-value="edit">

  <div class="w-full fixed left-0 top-0 z-50 bg-white dark:bg-[#1D1E2B]">
    <div class="max-w-xl lg:max-w-2xl 2xl:max-w-3xl mx-auto px-4 sm:py-4 sm:px-0 flex items-center">

      <%= link_to root_path, class: 'mr-4' do %>
        <%= image_tag "logo.svg", class: 'w-auto h-10' %>
      <% end %>

      <div 
        data-action="click->article-form#edit" 
        data-article-form-target="editButton"
        class="cursor-pointer py-1 border-b-2 border-primary mx-2 hidden">
        <%= t('edit') %>
      </div>

      <div class="ml-auto cursor-pointer px-4 py-1 text-sm sm:text-base rounded-full bg-primary hover:scale-105 text-white mr-2" 
        data-action="click->article-form#submit">
        <%= t('save_draft') %>
      </div>
      
      <%= link_to dashboard_authorings_path, 
        data: {
          controller: 'prefetch'
        },
        class: "mx-2", 
        role: "menuitem", 
        tabindex: "-1" do %>
        <img class="w-8 h-8 rounded-full mx-2" src="<%= current_user.avatar_thumb %>" />
      <% end %>
    </div>
  </div>

  <div class="w-full mx-auto relative py-24">
    <%= render "articles/form", article: @article %>
  </div>
</div>
