<div 
  data-controller="article-form" 
  data-article-form-draft-key-value="quill_article_draft" 
  data-article-form-new-record-value="true" 
  data-article-form-active-tab-value="edit" 
  data-article-form-autosave-value="false" 
  class="h-screen flex flex-col">
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex space-x-4">
    <div 
      data-action="click->article-form#edit" 
      data-article-form-target="editButton"
      class="cursor-pointer py-1 border-b-2 border-primary">
      <%= t('edit') %>
    </div>
    <div 
      data-action="click->article-form#preview" 
      data-article-form-target="previewButton"
      class="cursor-pointer py-1 border-primary">
      <%= t('preview') %>
    </div>
  </div>
  <div class="flex-1 overflow-y-scroll bg-white dark:bg-zinc-900 sm:rounded-lg sm:scrollbar-hide relative pb-4 prose dark:prose-invert xl:prose-lg max-w-full">
    <%= render partial: "articles/form", locals: { article: @article ||= current_user.articles.new } %>
    <div data-article-form-target="preview" id="article-preview" class="hidden">
      <%= render partial: "articles/preview", locals: { content: '' } %>
    </div>
  </div>
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex justify-between">
    <div class="cursor-pointer px-4 py-2 text-sm sm:text-base rounded bg-primary hover:scale-105 text-white" data-action="click->article-form#submit">
      <%= t('save') %>
    </div>
    <%= link_to t('back'), dashboard_articles_path, class: "py-2" %>
  </div>
  <div style="height:env(safe-area-inset-bottom)" />
</div>
