<div class="flex mb-4 justify-end">
  <%= link_to t("edit_article"), edit_article_path(@article.uuid), class: "px-4 py-2 rounded text-blue-500 border-blue-500 border" %>
</div>

<div class="">
  <%= form_for @article, url: published_article_path(@article.uuid) do |form| %>
    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
      <div class="sm:pb-6 sm:border-b grid grid-cols-3 gap-3">
        <%= form.label :intro, class: "col-span-3 sm:col-span-1 block text-sm font-medium text-gray-700" %>
        <div class="col-span-3 sm:col-span-2">
          <div class="rounded-md shadow-sm">
            <%= form.text_area :intro, value: @article.intro.presence || @article.default_intro, rows: 3, class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded-none rounded sm:text-sm border-gray-300", placeholder: "Describe your item in short." %>
          </div>
          <% if @article.errors.where(:intro).present? %>
            <div class="py-2 text-red-700 font-sm"><%= item.errors.where(:intro).map(&:full_message).join(';') %></div>
          <% end %>
        </div>
      </div>
      <div class="sm:pb-6 sm:border-b grid grid-cols-3 gap-3">
        <%= form.label :asset_id, t('currency'), required: true, class: "col-span-3 sm:col-span-1 block text-sm font-medium text-gray-700" %>
        <div class="col-span-3 sm:col-span-2">
          <div class="">
            <%= form.collection_select :asset_id, Currency.pricable, :asset_id, :symbol, {}, class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded sm:text-sm border-gray-300" %>
          </div>
          <% if @article.errors.where(:asset_id).present? %>
            <div class="py-2 text-red-700 font-sm"><%= @article.errors.where(:asset_id).map(&:full_message).join(';') %></div>
          <% end %>
        </div>
      </div>
      <div class="sm:pb-6 sm:border-b grid grid-cols-3 gap-3">
        <%= form.label :price, 'Price', required: true, class: "col-span-3 sm:col-span-1 block text-sm font-medium text-gray-700" %>
        <div class="col-span-3 sm:col-span-2">
          <div class="rounded-md shadow-sm">
            <%= form.number_field :price, required: true, step: '0.0000001', min: '0.000001', class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded-none rounded sm:text-sm border-gray-300", placeholder: "Input price" %>
          </div>
          <% if @article.errors.where(:price).present? %>
            <div class="py-2 text-red-700 font-sm"><%= @article.errors.where(:price).map(&:full_message).join(';') %></div>
          <% end %>
        </div>
      </div>
      <div class="flex justify-center">
        <%= form.submit t('publish_article'), data: { confirm: t('confirm_to_publish') }, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>
