<div data-controller="article-form" class="h-screen flex flex-col">
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex space-x-4">
    <div 
      data-action="click->article-form#edit" 
      data-article-form-target="editButton"
      class="cursor-pointer py-1 border-b-2 border-blue-500">
      <%= t('publish') %>
    </div>
    <div 
      data-action="click->article-form#preview" 
      data-article-form-target="previewButton"
      class="cursor-pointer py-1 border-blue-500">
      <%= t('preview') %>
    </div>
    <%= link_to t("edit"), edit_article_path(@article.uuid), class: "py-1" %>
  </div>

  <div class="flex-1 bg-white rounded-lg border">
    <%= form_for @article, url: published_article_path(@article.uuid) do |form| %>
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
        <div class="sm:pb-6 sm:border-b grid grid-cols-3 gap-3">
          <%= form.label :intro, class: "col-span-3 sm:col-span-1 block text-sm font-medium text-gray-700" %>
          <div class="col-span-3 sm:col-span-2">
            <div class="rounded-md shadow-sm">
              <%= form.text_area :intro, value: @article.intro.presence || @article.default_intro, rows: 3, class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded-none rounded sm:text-sm border-gray-300", placeholder: "Describe your item in short." %>
            </div>
            <% if @article.errors.where(:intro).present? %>
              <div class="py-2 text-red-700 font-sm"><%= item.errors.where(:intro).map(&:full_message).join(';') %></div>
            <% end %>
          </div>
        </div>
        <div class="sm:pb-6 sm:border-b grid grid-cols-3 gap-3">
          <%= form.label :asset_id, t('currency'), required: true, class: "col-span-3 sm:col-span-1 block text-sm font-medium text-gray-700" %>
          <div class="col-span-3 sm:col-span-2">
            <div class="">
              <%= form.collection_select :asset_id, Currency.pricable, :asset_id, :symbol, {}, class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded sm:text-sm border-gray-300" %>
            </div>
            <% if @article.errors.where(:asset_id).present? %>
              <div class="py-2 text-red-700 font-sm"><%= @article.errors.where(:asset_id).map(&:full_message).join(';') %></div>
            <% end %>
          </div>
        </div>
        <div class="sm:pb-6 sm:border-b grid grid-cols-3 gap-3">
          <%= form.label :price, 'Price', required: true, class: "col-span-3 sm:col-span-1 block text-sm font-medium text-gray-700" %>
          <div class="col-span-3 sm:col-span-2">
            <div class="rounded-md shadow-sm">
              <%= form.number_field :price, required: true, step: '0.0000001', min: '0.000001', class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded-none rounded sm:text-sm border-gray-300", placeholder: "Input price" %>
            </div>
            <% if @article.errors.where(:price).present? %>
              <div class="py-2 text-red-700 font-sm"><%= @article.errors.where(:price).map(&:full_message).join(';') %></div>
            <% end %>
          </div>
        </div>
        <!-- <div class="flex justify&#45;center"> -->
        <!--   <%= form.submit t('publish_article'), data: { confirm: t('confirm_to_publish') }, class: "inline&#45;flex justify&#45;center py&#45;2 px&#45;4 border border&#45;transparent shadow&#45;sm text&#45;lg font&#45;medium rounded&#45;md text&#45;white bg&#45;blue&#45;600 hover:bg&#45;blue&#45;700 focus:outline&#45;none focus:ring&#45;2 focus:ring&#45;offset&#45;2 focus:ring&#45;blue&#45;500 cursor&#45;pointer" %> -->
        <!-- </div> -->
      </div>
    <% end %>
  </div>
  <div class="py-2 px-4 sm:py-4 sm:px-0 flex justify-between">
    <div class="flex space-x-4">
      <%= link_to t("publish_article"), publish_article_path(@article.uuid), class: "px-4 py-2 text-sm sm:text-base rounded bg-blue-500 text-white" %>
    </div>
  </div>
</div>
