<div class="prose lg:prose-lg 2xl:prose-xl mx-auto">
  <div class="font-semibold text-lg lg:text-2xl 3xl:text-3xl mb-6">
    <%= @article.title %>
  </div>
  <div class="flex items-center space-x-4 mb-6">
    <div class="flex items-center space-x-2">
      <img class="w-8 h-8 my-0 rounded-full" src="<%= @article.author.avatar %>">
      <span><%= @article.author.name %></span>
    </div>
    <div class="text-sm sm:text-base text-gray-500">
      <%= time_ago_in_words @article.published_at %>
    </div>
  </div>
  <div class="py-2 px-4 mb-8 bg-gray-100 rounded">
    <%= @article.intro %>
  </div>
  <div class="flex items-center space-x-2 mb-4 text-sm xl:text-base text-gray-500">
    <span>
      <%= t("article.words_count") %>:
    </span>
    <span>
      <%= @article.words_count %>
    </span>
  </div>
  <% if @article.authorized? current_user %> 
    <%= render partial: "articles/full_content", locals: { article: @article } %>
  <% else %>
    <%= render partial: "articles/partial_content", locals: { article: @article } %>
  <% end %>
</div>
