<article data-controller="photoswipe" class="photoswipe-gallery max-w-full mb-4">
  <div class="mb-4">
    <div class="mb-8">
      <%= render "articles/header", article: @article %>
    </div>

    <div class="mb-8">
      <%= render "articles/content", article: @article, user: current_user %>
    </div>

    <div class="hidden sm:block mb-8">
      <%= render partial: "articles/votes", locals: { article: @article, user: current_user } %>
    </div>

    <div id="article_<%= @article.uuid %>_buyers" class="mb-8">
      <%= render "articles/buyers", article: @article, user: current_user %>
    </div>
  </div>

  <div data-controller="comment-form" class="mb-8">
    <% if browser.device.mobile? %>
      <%= render "articles/floating_bar", article: @article, user: current_user %>
    <% else %>
      <%= render "articles/comments_card", article: @article, user: current_user %>
    <% end %>
  </div>

  <div class="xl:hidden mb-8 pt-8 border-t dark:border-white/5">
    <%= render "articles/widgets", article: @article %>
  </div>
</article>

<%= content_for :sidebar do %>
  <%= render "articles/widgets", article: @article %>
<% end %>

<%= content_for :topbar do %>
  <div class="h-12 flex items-center justify-between">
    <%= link_to root_path, class: "block px-6 py-2" do %>
      <%= image_tag 'logo.svg', class: "w-auto h-8" %>
    <% end %>
    <%= link_to article_share_path(article_uuid: @article.uuid), 
      data: {
        turbo_frame: :modal
      },
      class: "block px-6 py-3 #{from_mixin_messenger? ? 'mr-24' : ''}" do %>
      <%= inline_svg_tag 'icons/share-solid.svg', class: 'w-6 h-6 text-primary' %>
    <% end %>
  </div>
<% end %>

<% if @article.author.blocked? && current_user != @article.author %>
  <%= turbo_frame_tag 'modal' do %>
    <%= render ModalComponent.new do %>
      <div class="mb-4 flex">
        <%= inline_svg_tag "icons/exclamation-circle-solid.svg", class: "w-12 h-12 text-red-500 block mx-auto" %>
      </div>
      <div class="mb-4 flex justify-center">
        <%= t('alert_for_blocked_user') %>
      </div>
    <% end %>
  <% end %>
<% end %>
