<article class="max-w-full lg:col-span-2 mb-4">
  <div class="mb-4">
    <div class="mb-8">
      <%= render "articles/header", article: @article %>
    </div>

    <div class="mb-8">
      <%= render "articles/content", article: @article, user: current_user %>
    </div>

    <div id="article_<%= @article.uuid %>_buyers" class="mb-16">
      <%= render "articles/buyers", article: @article, user: current_user %>
    </div>
  </div>

  <% if browser.device.mobile? %>
    <%= render "articles/floating_bar", article: @article, user: current_user %>
  <% else %>
    <%= render "articles/comments_card", article: @article, user: current_user %>
  <% end %>
</article>

<%= content_for :sidebar do %>
  <%= render "users/user_card", user: @article.author %>
  <% if @article.article_references.present? %>
    <div class="mb-4">
      <%= render "articles/references_card", references: @article.article_references %>
    </div>
  <% end %>
  <% if @article.related_articles.present? %>
    <%= render "articles/related_articles_card", articles: @article.related_articles %>
  <% end %>
  <%= turbo_frame_tag 'hot_tags', src: '/hot_tags', loading: :lazy %>
<% end %>
