<article data-controller="photoswipe" class="photoswipe-gallery max-w-full mb-4">
  <div class="mb-4">
    <div class="mb-8">
      <%= render "articles/header", article: @article %>
    </div>

    <div class="mb-8">
      <%= render "articles/content", article: @article, user: current_user %>
    </div>

    <div class="hidden sm:block mb-8">
      <%= render partial: "articles/votes", locals: { article: @article, user: current_user } %>
    </div>

    <div id="article_<%= @article.uuid %>_buyers" class="mb-8">
      <%= render "articles/buyers", article: @article, user: current_user %>
    </div>
  </div>

  <% if @article.collection.present? %>
    <div class="mb-12">
      <div class="bg-[#F4F4F4] dark:bg-[#333444] py-4 px-6 rounded-lg mb-6">
        <%= render "collections/validatable_collections", collection: @article.collection %>
      </div>
      <%= render "collections/card", collection: @article.collection %>
    </div>
  <% end %>

  <div data-controller="comment-form">
    <% if browser.device.mobile? %>
      <%= render "articles/floating_bar", article: @article, user: current_user %>
    <% else %>
      <%= render "articles/comments_card", article: @article, user: current_user %>
    <% end %>
  </div>
</article>

<%= content_for :sidebar do %>
  <%= render "users/user_card", user: @article.author %>

  <% cache @article.article_references, expires_in: 1.day do %>
    <% if @article.article_references.present? %>
      <div class="mb-4">
        <%= render "articles/references_card", references: @article.article_references %>
      </div>
    <% end %>
  <% end %>

  <% cache @article.related_articles, expires_in: 10.minutes do %>
    <% if @article.related_articles.present? %>
      <%= render "articles/related_articles_card", articles: @article.related_articles %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag 'hot_tags', src: '/hot_tags', loading: :lazy %>
<% end %>

<%= content_for :topbar do %>
  <div class="h-12 flex items-center justify-between">
    <%= link_to root_path, class: "block px-6 py-2" do %>
      <%= image_tag 'logo.svg', class: "w-auto h-8" %>
    <% end %>
    <% if current_user.present? %>
      <%= link_to article_share_path(article_uuid: @article.uuid), 
        data: {
          turbo_frame: :modal
        },
        class: "block px-6 py-3 #{from_mixin_messenger? ? 'mr-24' : ''}" do %>
        <%= inline_svg_tag 'icons/share-solid.svg', class: 'w-6 h-6 text-primary' %>
      <% end %>
    <% end %>
  </div>
<% end %>
