<div class="lg:grid lg:grid-cols-3 lg:gap-x-6">
  <article class="max-w-full lg:col-span-2 mb-4">
    <div class="bg-white p-4 w-full sm:p-6 sm:border sm:rounded-lg mb-4">
      <div class="flex items-center space-x-4 mb-6">
        <div class="relative flex items-center space-x-2">
          <img class="w-10 h-10 my-0 rounded-full" src="<%= @article.author.avatar %>">
          <div class="leading-4">
            <span class="text-base font-semibold"><%= @article.author.name %></span>
            <div class="text-sm sm:text-base text-gray-500 font-light">
              <%= @article.published_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
          <%= link_to user_path(@article.author) do %>
            <span aria-hidden="true" class="absolute inset-0"></span>
          <% end %>
        </div>
      </div>
      <div class="font-semibold text-xl lg:text-3xl 3xl:text-4xl mb-6">
        <%= @article.title %>
      </div>
      <div class="py-2 px-4 mb-8 bg-gray-100 rounded">
        <%= @article.intro %>
      </div>
      <div class="flex items-center space-x-2 mb-4 text-sm xl:text-base text-gray-500">
        <span>
          <%= t("article.words_count") %>:
        </span>
        <span>
          <%= @article.words_count %>
        </span>
      </div>

      <div class="mb-8">
        <%= render partial: "articles/content", locals: { article: @article, user: current_user } %>
      </div>

      <div class="mb-8">
        <%= render partial: "articles/buyers", locals: { article: @article, user: current_user } %>
      </div>
    </div>

    <div class="bg-white p-4 w-full sm:p-6 sm:border sm:rounded-lg mb-4">
      <div class="text-center mb-4 font-bold opacity-70">
        <%= t('comments') %>
      </div>
      <div data-controller="comment-form">
        <% if @article.authorized? current_user %>
          <%= render partial: "comments/form", locals: { commentable: @article } %>
        <% end %>
        <%= turbo_frame_tag "#{dom_id @article}_comments", src: article_comments_path(@article.uuid) do %>
          <%= render "shared/loading" %>
        <% end %>
      </div>
    </div>
  </article>

  <aside class="lg:col-span-1">
    <div class="lg:sticky lg:top-20">
      <div class="p-4 flex items-center space-x-4 justify-end">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"/>
          </svg>
          <span class="text-xs">Twitter</span>
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M15.402 21v-6.966h2.333l.349-2.708h-2.682V9.598c0-.784.218-1.319 1.342-1.319h1.434V5.857a19.19 19.19 0 0 0-2.09-.107c-2.067 0-3.482 1.262-3.482 3.58v1.996h-2.338v2.708h2.338V21H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1h-4.598z"/>
          </svg>
          <span class="text-xs">Facebook</span>
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zm2 0h8v10h2V4H9v2z"/>
          </svg>
          <span class="text-xs">Copy URL</span>
        </div>
      </div>
      <%= render partial: "articles/author_card", locals: { author: @article.author } %>
    </div>
  <aside>
</div>
