<%= turbo_frame_tag "my_assets_token" do %>
  <div class="mb-8 bg-yellow-200 text-yellow-600 font-bold p-4 rounded">
    <%= inline_svg_tag 'icons/exclamation-circle-solid.svg', class: 'w-6 h-6 inline' %>
    <%= t('withdraw_tips') %>
  </div>

  <% if @token_assets.blank? %>
    <%= render EmptyComponent.new text: t('no_record') %>
  <% else %>
    <%= render partial: "dashboard/assets/token", collection: @token_assets, as: :token_asset %>

    <div class="my-8 text-xs text-center opacity-50">
      <span>Powered by</span>
      <%= link_to 'MVM', 'https://mvm.app', target: '_blank', class: "underline" %>
    </div>
  <% end %>
<% end %>
