<% if notification.message.present? %>
  <div id="<%= dom_id notification %>" class="flex items-center space-x-4">
    <div class="w-2 h-2 rounded-full <%= notification.read? ? '' : 'bg-primary' %>">
    </div>

    <div class="flex-1 flex items-center py-4 border-b overflow-x-scroll scrollbar-hide">
      <div class="flex itemx-center space-x-2 truncate">
        <%= image_tag notification.icon_url, class: "w-6 h-6 rounded-full" if notification.icon_url.present? %>
        <%= link_to notification.message, 
          dashboard_notification_path(notification), 
          class: "truncate", 
          data: { 
            turbo_frame: "_top"
          } %>
      </div>

      <div class="flex-1 text-right text-sm opacity-70 ml-4 min-w-max">
        <%= render TimeFormatComponent.new datetime: notification.created_at.rfc3339 do %>
          <%= notification.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
