<div class="flex items-center justify-between mb-4 sm:mb-8">
  <div class="">
    <span class="hidden sm:block text-xl font-bold"><%= t('notification') %></span>
  </div>

  <div class="flex items-center space-x-4 justify-end">
    <%= link_to t("read_all"), 
      new_dashboard_read_notification_path, 
      data: { 
        turbo_frame: :modal,
      }, 
      class: "btn btn-outline btn-primary rounded-full" %>

    <%= link_to t("clear_all"), 
      new_dashboard_deleted_notification_path, 
      data: { 
        turbo_frame: :modal,
      }, 
      class: "btn btn-outline btn-primary rounded-full" %>
  </div>
</div>
<div data-controller="infinite-scroll">
  <% if @notifications.blank? %>
    <%= render "shared/empty", text: t('no_record') %>
  <% else %>
    <div id="<%= dom_id current_user %>_notifications_list">
      <%= render partial: "dashboard/notifications/notification", collection: @notifications, as: :notification %>
    </div>
    <div data-infinite-scroll-target='scrollArea'></div>

    <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
  <% end %>
</div>

<% content_for :topbar do %>
  <div class="flex items-center px-4 h-12">
    <%= link_to :back, class: "pr-2" do %>
      <span class="i-[tabler--chevron-left] size-5 font-bold"></span>
    <% end %>
    <span class="font-bold text-lg">
      <%= t('notification') %>
    </span>
  </div>
<% end %>
