<aside data-controller="sidebar" 
       data-sidebar-open-class-value="<%= %w[w-64].to_json %>" 
       data-sidebar-collapse-class-value="<%= %w[w-10 sm:w-16].to_json %>" 
       class="sticky top-0 overflow-y-scroll scrollbar-hide flex items-center">
  <div data-sidebar-target="sidebar" 
      data-action="hover->sidebar#open" 
      class="h-full bg-white dark:bg-zinc-900 w-10 sm:w-16 flex flex-col p-0 sm:p-4 overflow-x-hidden transition-transform">
    <div class="flex flex-col space-y-2">
      <%= link_to admin_root_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Dashboard</span>
      <% end %>
      <%= link_to admin_statistics_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Stats</span>
      <% end %>
      <%= link_to admin_users_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Users</span>
      <% end %>
      <%= link_to admin_articles_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Articles</span>
      <% end %>
      <%= link_to admin_comments_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Comments</span>
      <% end %>
      <%= link_to admin_payments_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Payments</span>
      <% end %>
      <%= link_to admin_orders_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Orders</span>
      <% end %>
      <%= link_to admin_swap_orders_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Swap Orders</span>
      <% end %>
      <%= link_to admin_transfers_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Transfers</span>
      <% end %>
      <%= link_to admin_mixin_network_snapshots_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Snapshots</span>
      <% end %>
      <%= link_to admin_mixin_network_users_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Wallets</span>
      <% end %>
      <%= link_to admin_bonuses_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Bonus</span>
      <% end %>
      <%= link_to admin_logout_path, class: "flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate" do %>
        <span>Logout</span>
      <% end %>
    </div>
    <div class="mt-auto">
      <button data-sidebar-target="openButton" data-action="sidebar#open" class="flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate">
        <%= inline_svg_tag "icons/chevron-right.svg", class: "w-4 h-4 opacity-60" %>
      </button>
      <button data-sidebar-target="collapseButton" data-action="sidebar#collapse" class="hidden w-full flex items-center space-x-4 hover:bg-zinc-100 dark:hover:bg-zinc-800 p-2 rounded-lg truncate">
        <span>
          <%= inline_svg_tag "icons/chevron-left.svg", class: "w-4 h-4 opacity-60" %>
        </span>
        <span>
          Collapse
        </span>
      </button>
    </div>
  </div>
</aside>
