<tr id="<%= dom_id bonus %>">
  <td class="p-4">
    <%= bonus.id %>
  </td>

  <td class="p-4">
    <%= render "admin/users/field", user: bonus.user, tab: :bonuses %>
  </td>

  <td class="p-4">
    <div class="flex justify-center">
      <span class="badge 
        <%= 
          {
            drafted: 'badge-neutral',
            delivering: 'badge-info',
            completed: 'badge-success',
          }[bonus.state.to_sym]
        %>">
        <%= bonus.state %>
      </span>
    </div>
  </td>

  <td class="p-4">
    <%= bonus.price_tag %>
  </td>

  <td class="p-4">
    <%= bonus.title %>
  </td>

  <td class="p-4">
    <div class="max-w-64 break-words">
      <%= bonus.description %>
    </div>
  </td>

  <td class="p-4">
    <div class="max-w-64 break-words">
      <% if bonus.transfer.present? %>
        <%= link_to bonus.trace_id, admin_transfer_path(bonus.transfer), data: { turbo_frame: "_top" } %>
      <% else %>
        <%= bonus.trace_id %>
      <% end %>
    </div>
  </td>

  <td class="p-4">
    <%= bonus.created_at %>
  </td>

  <td class="p-4">
    <%= button_to 'Deliver', admin_bonus_deliver_path(bonus), class: "btn btn-secondary btn-sm" if bonus.drafted? %>
  </td>
</tr>
