<%= form_for Bonus.new, url: admin_bonuses_path do |form| %>
  <div class="mb-4">
    <%= form.select :asset_id, Currency.all.collect { |currency| [currency.symbol, currency.asset_id] }, { selected: Currency::BTC_ASSET_ID }, class: "select select-bordered w-full" %>
  </div>
  <div class="mb-4">
    <%= form.number_field :amount, required: true, placeholder: 'Amount', step: "0.00000001", class: "input input-bordered w-full" %>
  </div>
  <div class="mb-4">
    <%= form.text_field :title, required: true, placeholder: 'Title', class: "input input-bordered w-full" %>
  </div>
  <div class="mb-4">
    <%= form.text_field :description, required: true, placeholder: 'Description', class: "input input-bordered w-full" %>
  </div>
  <div class="mb-4">
    <%= form.text_field :user_id, required: true, placeholder: 'User ID', class: "input input-bordered w-full" %>
  </div>
  <div class="flex justify-center">
    <%= form.submit 'Create', class: "btn btn-primary w-full" %>
  </div>
<% end %>
