<div data-controller="select-currency" class="w-full">
  <div class="mb-4">
    <input 
      data-select-currency-target="seachInput" 
      data-action="select-currency#search"
      class="w-full py-2 px-4 bg-[#F4F4F4] dark:bg-[#333444] rounded" 
      placeholder="<%= t('search') %>" />
  </div>
  <div class="grid gap-4 grid-cols-3 sm:grid-cols-4">
    <% currencies.each do |currency| %>
      <div class="flex items-center py-2 hover:bg-zinc-20 cursor-pointer rounded bg-[#F4F4F4] dark:bg-[#333444] p-2"
           data-select-currency-target="currencyOption"
           data-modal-component-identifier-param="<%= identifier %>"
           data-modal-component-asset-id-param="<%= currency.asset_id %>"
           data-modal-component-icon-url-param="<%= currency.icon_url %>"
           data-modal-component-chain-icon-url-param="<%= currency.chain&.icon_url %>"
           data-modal-component-symbol-param="<%= currency.symbol %>"
           data-modal-component-symbol-param="<%= currency.symbol %>"
           data-modal-component-minimal-reward-amount-param="<%= currency.minimal_reward_amount %>"
          data-action="click->modal-component#ok">
        <div class='relative mr-2'>
          <%= image_tag currency.icon_url, class: 'w-6 h-6 rounded-full' %>
          <%= image_tag currency.chain.icon_url, class: 'absolute bottom-0 w-3 h-3 rounded-full' if currency.chain.present? %>
        </div>
        <div class="text-sm sm:text-base">
          <%= currency.symbol %>
        </div>
      </div>
    <% end %>
  </div>
</div>
