<div id="block_user_<%= dom_id user %>" class="relative flex items-center py-4 border-b border-base-300 justify-between">
  <%= link_to user_path(user), class: "flex items-center space-x-2", data: { turbo_frame: "_top" } do %>
    <%= render "shared/avatar", user:, thumb: true, class: "w-8 h-8 rounded-full" %>
    <span class="truncate max-w-24"><%= user.name %></span>
  <% end %>
  <div class="">
    <% if (@preloaded_block_user_ids || []).include?(user.id) %>
      <%= button_to t("unblock_user"),
        block_user_path(user.uid),
        method: :delete,
        class: "cursor-pointer opacity-75" %>
    <% end %>
  </div>
</div>

