<%= turbo_frame_tag "#{dom_id current_user}_blocking" do %>
  <div data-controller="infinite-scroll">
    <div id="<%= dom_id current_user %>_subscribing_list">
      <% if @users.blank? %>
        <div class="text-center py-2 opacity-50">
          <%= t("no_record") %>
        </div>
      <% else %>
        <%= render partial: "dashboard/block_users/user", collection: @users, as: :user %>
      <% end %>
    </div>
    <div data-infinite-scroll-target='scrollArea'></div>

    <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
  </div>
<% end %>
