<div class="<%= dom_id comment %>flex items-start space-x-2 px-4 py-2">
  <%= image_tag comment.author.avatar, class: "w-8 h-8 rounded-full", loading: :lazy %>
  <div>
    <div class="flex items-center text-sm space-x-2">
      <div class="">
        <%= comment.author.name %>
      </div>
      <div class="opacity-70">
        <%= render TimeFormatComponent.new datetime: comment.created_at.rfc3339 do %>
          <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% end %>
      </div>
    </div>
    <div class="prose prose-sm dark:prose-invert">
      <%= comment.content_as_html.html_safe %>
    </div>
  </div>
</div>
