<%= turbo_frame_tag 'my_comments' do %>
  <% if @article.present? %>
    <%= render "dashboard/comments/article_comments", article: @article, comments: @comments, pagy: @pagy %>
  <% else %>
    <div data-controller="infinite-scroll">
      <div id="my_comments_list">
        <% if @comments.blank? %>
          <div class="py-4">
            <div class="flex justify-center mb-4">
              <%= image_tag "empty-comment.svg", class: "w-40 h-auto" %>
            </div>
            <div class="text-center text-xs opacity-40">
              <%= t("no_comments") %>
            </div>
          </div>
        <% else %>
          <%= render partial: "dashboard/comments/comment", collection: @comments, as: :comment %>
        <% end %>
      </div>
      <div data-infinite-scroll-target='scrollArea'></div>

      <%= render "shared/pagination", pagy: @pagy, id: "my_comments_pagination" %>
    </div>
  <% end %>
<% end %>
