<div 
  class="max-w-full mx-auto"
  data-controller="pre-orders-form-component" 
  data-pre-orders-form-component-asset-id-value="<%= article.currency.asset_id %>"
  data-pre-orders-form-component-order-type-value="<%= pre_order.order_type %>"
  data-pre-orders-form-component-item-id-value="<%= article.id %>"
  data-pre-orders-form-component-item-type-value="Article"
  data-pre-orders-form-component-amount-value="<%= price %>"
  data-pre-orders-form-component-price-usd-value="<%= article.currency.price_usd %>">

  <div class="mb-4 hidden rounded-xl border border-base-300 bg-base-200 px-4 py-3 sm:block">
    <div class="flex items-center space-x-2 mb-1">
      <div class="avatar">
        <div class="size-6 rounded-full">
          <%= render "shared/avatar", user: article.author, thumb: true, class: "rounded-full" %>
        </div>
      </div>
      <span class="text-sm max-w-24 truncate"><%= article.author.name %></span>
    </div>
    <div class="font-bold truncate">
      <%= article.title %>
    </div>
  </div>

  <% if pre_order.order_type == 'reward_article' %>
    <div class="mb-2">
      <span class="text-mono text-sm opacity-75"><%= t('choose_reward_amount') %></span>
    </div>
    <div class="mb-4 grid grid-cols-3 gap-4">
      <% [1, 4, 8, 32, 256, 1024].each do |number| %>
        <div 
          data-pre-orders-form-component-target="amountOption"
          data-pre-orders-form-component-amount-param="<%= number * article.currency.minimal_reward_amount %>"
          data-action="click->pre-orders-form-component#updateAmount"
          class="relative flex cursor-pointer items-center justify-center space-x-2 rounded-lg border border-base-300 p-2 transition-colors hover:bg-base-200">
          <span class="text-sm sm:text-base">
            <%= sprintf('%.8f', article.currency.minimal_reward_amount * number).gsub(/0+\z/, '0') %>
          </span>
          <span class="i-[tabler--circle-check-filled] checkmark absolute right-1 top-1 hidden size-4 text-primary"></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-4">
    <div class="flex items-center justify-end space-x-2">
      <%= remote_image_tag article.currency.icon_url, class: "w-6 h-6 rounded-full", lazy: true %>
      <span class="font-display text-2xl font-semibold" data-pre-orders-form-component-target="amountTag">
        <%= sprintf('%.8f', price).gsub(/0+\z/, '') %>
      </span>
      <span class="font-display text-2xl font-semibold">
        <%= article.currency.symbol %>
      </span>
    </div>
    <div class="flex items-center justify-end space-x-2">
      <span class="text-sm align-bottom">
        ≈$
        <span data-pre-orders-form-component-target="amountUsdTag">0</span>
      </span>
    </div>
  </div>

  <div class="mb-4">
    <%= form_for PreOrder.new do |form| %>
      <%= form.hidden_field :order_type, value: pre_order.order_type %>
      <%= form.hidden_field :item_id, value: article.id %>
      <%= form.hidden_field :item_type, value: 'Article' %>
      <%= form.hidden_field :asset_id, value: article.asset_id %>
      <%= form.hidden_field :amount,
        value: price,
        data: {
          pre_orders_form_component_target: 'amountInput'
        }
      %>
      <%= form.hidden_field :type, value: payer.default_payment %>

      <%= form.submit t('continue'), class: "btn btn-primary btn-lg w-full rounded-full" %>
    <% end %>
  </div>
</div>
