<% pay_asset = pre_order.currency %>
<% identifier = SecureRandom.uuid %>

<div 
  class="max-w-full mx-auto"
  data-controller="pre-orders-payment-component" 
  data-pre-orders-payment-component-type-value="<%= pre_order.type %>"
  data-pre-orders-payment-component-follow-id-value="<%= pre_order.follow_id %>"
  data-pre-orders-payment-component-identifier-value="<%= identifier %>"
  data-pre-orders-payment-component-pay-asset-id="<%= pay_asset.asset_id %>"
  id="<%= dom_id pre_order %>">

    <div class="mb-4">
      <div class="flex items-center space-x-2">
        <%= remote_image_tag pre_order.currency.icon_url, class: "w-6 h-6 rounded-full", lazy: true %>
        <span class="text-2xl font-serif font-black"><%= pre_order.amount_tag %></span>
      </div>
      <div id="<%= dom_id pre_order %>_pay_amount" class="text-sm">
        ≈$ <%= sprintf('%.4f', pre_order.currency.price_usd * pre_order.amount) %>
      </div>
    </div>

    <div id="<%= dom_id pre_order %>_pay_button" class="mb-8">
    <%= render "pre_orders/pay_button", pre_order: pre_order, pay_asset: pay_asset %>
  </div>

  <div data-pre-orders-payment-component-target="state" class="hidden mb-8">
    <%= render "pre_orders/state", pre_order: pre_order %>
  </div>

  <% if pre_order.mixpay_supported? %>
    <div data-pre-orders-payment-component-target="otherPayments" class="pt-4 border-t-2 border-dashed border-base-content/5 mb-4">
      <div class="mb-2 text-mono text-sm opacity-75">
        <%= t('choose_other_payment') %>
      </div>
      <%= render "pre_orders/mixpay_button", pre_order: pre_order %>
    </div>
  <% end %>
</div>
