<div 
  class="w-96 max-w-full mx-auto" 
  data-controller="pre-order-form" 
  data-pre-order-form-asset-id-value="<%= article.currency.asset_id %>"
  data-pre-order-form-order-type-value="reward_article"
  data-pre-order-form-item-id-value="<%= article.id %>"
  data-pre-order-form-item-type-value="Article"
  data-pre-order-form-amount-value="<%= article.currency.minimal_reward_amount %>"
  data-pre-order-form-price-usd-value="<%= article.currency.price_usd %>"
  data-pre-order-form-type-value="<%= article.mixpay_supported? ? 'MixpayPreOrder' : current_user.default_payment %>">
  <div class="bg-zinc-50 px-4 py-2 dark:bg-zinc-800 rounded mb-4 hidden sm:block">
    <div class="flex items-center space-x-2 mb-1">
      <%= image_tag article.author.avatar, class: "w-6 h-6 rounded-full", lazy: true %>
      <span class="text-sm"><%= article.author.short_name %></span>
    </div>
    <div class="font-bold truncate">
      <%= article.title %>
    </div>
  </div>

  <div class="mb-4 grid grid-cols-3 gap-4">
    <% [1, 4, 8, 32, 256, 1024].each do |number| %>
      <div 
        data-pre-order-form-target="amountOption"
        data-pre-order-form-amount-param="<%= number * article.currency.minimal_reward_amount %>"
        data-action="click->pre-order-form#updateAmount"
        class="relative cursor-pointer flex items-center space-x-2 justify-center border border-zinc-200 p-1 rounded">
        <span class="text-sm sm:text-base">
          <%= format('%.8f', article.currency.minimal_reward_amount * number).gsub(/0+\z/, '0') %>
        </span>
        <%= render "shared/icons/check_circle_solid", html_class: "w-4 h-4 text-primary absolute right-1 top-1 checkmark hidden" %>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <div class="flex items-center justify-end space-x-2">
      <%= image_tag article.currency.icon_url, class: "w-6 h-6 rounded-full", lazy: true %>
      <span class="text-2xl font-serif font-black" data-pre-order-form-target="amountTag">
        <%= format('%.8f', article.currency.minimal_reward_amount).gsub(/0+\z/, '') %>
      </span>
      <span class="text-2xl font-serif font-black">
        <%= article.currency.symbol %>
      </span>
    </div>
    <div class="flex items-center justify-end space-x-2">
      <span class="text-sm align-bottom">
        ≈$
        <span data-pre-order-form-target="amountUsdTag">0</span>
      </span>
    </div>
  </div>

  <div class="mb-2">
    <span class="text-mono"><%= t('payment_method') %></span>
  </div>

  <div class="grid gap-4 sm:grid-cols-2 mb-8">
    <div 
      data-pre-order-form-target="type" 
      data-pre-order-form-type-param="MixpayPreOrder" 
      data-action="click->pre-order-form#select"
      class="relative rounded-lg border border-zinc-200 p-4 flex items-center justify-center cursor-pointer">
      <%= image_tag 'mixpay.png', class: "h-8 w-auto absolute left-4 rounded-lg" %>
      <span class="text-lg"><%= t("mixpay") %></span>
      <%= render "shared/icons/check_circle_solid", html_class: "w-6 h-6 text-primary absolute right-1 top-1 checkmark hidden" %>
    </div>
    <% if current_user.messenger? %>
      <div
        data-pre-order-form-target="type" 
        data-pre-order-form-type-param="MixinPreOrder" 
        data-action="click->pre-order-form#select"
        class="relative rounded-lg border border-zinc-200 p-4 flex items-center justify-center cursor-pointer">
        <%= image_tag 'mixin-logo.png', class: "h-8 w-auto absolute left-4 rounded-lg" %>
        <span class="text-lg"><%= t("mixin") %></span>
        <%= render "shared/icons/check_circle_solid", html_class: "w-6 h-6 text-primary absolute right-1 top-1 checkmark hidden" %>
      </div>
    <% elsif current_user.fennec? %>
      <div
        data-pre-order-form-target="type" 
        data-pre-order-form-type-param="FennecPreOrder" 
        data-action="click->pre-order-form#select"
        class="relative rounded-lg border border-zinc-200 p-4 flex items-center justify-center cursor-pointer">
        <%= image_tag 'fennec-logo.png', class: "h-8 w-auto absolute left-4 rounded-lg" %>
        <span class="text-lg"><%= t("fennec") %></span>
        <%= render "shared/icons/check_circle_solid", html_class: "w-6 h-6 text-primary absolute right-1 top-1 checkmark hidden" %>
      </div>
    <% elsif current_user.mvm_eth? %>
      <div
        data-pre-order-form-target="type" 
        data-pre-order-form-type-param="MVMPreOrder" 
        data-action="click->pre-order-form#select"
        class="relative rounded-lg border border-zinc-200 p-4 flex items-center justify-center cursor-pointer">
        <%= image_tag 'mvm.svg', class: "h-8 w-auto absolute left-4 rounded-lg" %>
        <span class="text-lg"><%= t("mvm") %></span>
        <%= render "shared/icons/check_circle_solid", html_class: "w-6 h-6 text-primary absolute right-1 top-1 checkmark hidden" %>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <% if article.mixpay_supported? %>
      <%= link_to t('continue'),
        mixpay_pre_order_path(
          order_type: :reward_article,
          item_id: article.id,
          item_type: 'Article',
          asset_id: article.asset_id,
          amount: article.currency.minimal_reward_amount
        ),
        data: {
          pre_order_form_target: 'mixpaySubmitButton',
          turbo_frame: '_top'
        }, 
        class: "hidden cursor-pointer block w-full text-center rounded-lg bg-primary text-white p-4 text-xl hover:font-black" %>
    <% else %>
      <button disabled data-pre-order-form-target="mixpaySubmitButton" class="hidden block w-full text-center rounded-lg bg-zinc-300  p-4 text-xl opacity-50">
        <%= t('not_supported_yet') %>
      </button>
    <% end %>
    <%= form_for PreOrder.new, data: { pre_order_form_target: 'submitButton' }, class: "hidden" do |form| %>
      <%= form.hidden_field :order_type, value: :reward_article %>
      <%= form.hidden_field :item_id, value: article.id %>
      <%= form.hidden_field :item_type, value: 'Article' %>
      <%= form.hidden_field :asset_id, value: article.asset_id %>
      <%= form.hidden_field :amount, 
        value: article.price,
        data: { 
          pre_order_form_target: 'amountInput'
        } 
      %>
      <%= form.hidden_field :type, 
        value: 'MixinPreOrder', 
        data: { 
          pre_order_form_target: 'typeInput' 
        } 
      %>

      <%= form.submit t('continue'), class: "cursor-pointer block w-full rounded-lg bg-primary text-white p-4 text-xl hover:font-black" %>
    <% end %>
    <div data-pre-order-form-target="mvmTips" class="hidden text-red-500 text-sm py-1">
      <%= link_to 'https://docs.quill.im', target: "_blank", class: "flex items-center space-x-2" do %> 
        <span><%= t('you_need_to_switch_network_to_mvm') %></span>
        <%= render "shared/icons/question_mark_circle", html_class: 'w-4 h-4' %>
      <% end %>
    </div>
  </div>
</div>
