<div id="<%= dom_id pre_order %>_state" 
  data-controller="pre-order-state" 
  data-pre-order-state-follow-id-value="<%= pre_order.follow_id %>">
  <%= render partial: "shared/loading" %>
  <div class="text-sm text-center opacity-75">
    <% if pre_order.drafted? %>
      <%= pre_order.is_a?(MixpayPreOrder) ? t('waiting_for_mixpay') : t('waiting_for_payment') %>
    <% elsif pre_order.paid? %>
      <%= t('processing_your_payment') %>
    <% end %>
  </div>
</div>
