<% pay_asset = Currency.find_by asset_id: params[:pay_asset_id] || @pre_order.asset_id %>

<%= turbo_stream.update "#{dom_id @pre_order}_pay_amount" do %>
  <% if pay_asset != @pre_order.currency %>
    <span class="text-sm">
      ≈ <%= @pre_order.pay_amount(pay_asset.asset_id) %> <%= pay_asset.symbol %>
    </span>
  <% end %>
<% end %>

<%= turbo_stream.update "#{dom_id @pre_order}_pay_button" do %>
  <%= render PreOrders::ButtonComponent.new pre_order: @pre_order, pay_asset: pay_asset %>
<% end %>
