<div class="<%= dom_id user %>_card mb-8 xl:mb-16">
  <div class="flex items-center justify-between mb-4">
    <img class="w-20 h-20 rounded-full border-2 shadow" src="<%= user.avatar_url %>" />
    <% if current_user.present? && current_user != user %>
      <%= render DropdownComponent.new do |c| %>
        <% c.with_button do %>
          <%= inline_svg_tag "icons/dot-horizontal.svg", class: 'w-4 h-4' %>
        <% end %>

        <% if current_user.block_user?(user) %>
          <%= link_to block_user_path(user.uid), 
            data: {
              turbo_method: :delete
            },
            class: "cursor-pointer w-full block px-4 text-sm opacity-70 dark:text-white" do %>
            <%= t('unblock_user') %>
          <% end %>
        <% else %>
          <%= link_to new_block_user_path(uid: user.uid), 
            data: { 
              turbo_frame: :modal,
            }, 
            class: "cursor-pointer w-full block px-4 text-sm opacity-70 text-[#F3463F]" do %>
            <%= t('block_user') %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="truncate mb-4">
    <div class="flex items-center mb-1 space-x-4">
      <%= link_to user.name, 
        user_path(user), 
        data: {
          tippy_content: user.name,
          tippy_interactive: true
        },
        class: "text-lg sm:text-xl font-bold flex-1 truncate" %>
      <% if user.mvm_eth? %>
        <div class="flex items-center space-x-2">
          <%= link_to user.ether_address_url, target: "_blank" do %>
            <%= image_tag 'etherscan.ico', class: 'w-4 h-4 rounded-full' %>
          <% end %>
          <%= link_to user.mvm_address_url, target: "_blank" do %>
            <%= image_tag 'mvmscan.ico', class: 'w-4 h-4 rounded-full' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= render "users/user_uid", user: user %>
  </div>

  <div class="grid grid-cols-2 xl:grid-cols-3 gap-4 mb-4 text-sm">
    <%= link_to user_subscribe_users_path(user), 
      data: { 
        controller: 'prefetch', 
        turbo_frame: :modal 
      }, 
      class:"flex items:center space-x-1" do %>
      <span class="opacity-75"><%= t('subscribing') %>:</span> 
      <span class="text-mono"><%= user.subscribing_count %></span>
    <% end %>

    <%= link_to user_subscribe_by_users_path(user.uid), 
      data: { 
        controller: 'prefetch',
        turbo_frame: :modal
      }, 
      class:"flex items:center space-x-1" do %>
      <span class="opacity-75"><%= t('subscribers') %>:</span> 
      <span class="text-mono"><%= user.subscribers_count %></span>
    <% end %>
  </div>

  <div class="text-sm opacity-75 mb-6 break-words">
    <%= user.bio %>
  </div>

  <%= render "subscribe_users/subscribe_button", user: user, style: 'block' %>
</div>
