<div class="hidden sm:flex mb-8 items-center justify-between">
  <div class="flex-1 text-2xl font-bold truncate">
    <%= @user.name %>
  </div>
  <div class="hidden sm:flex justify-end">
    <%= link_to full_user_share_path(@user), 
      data: {
        turbo_frame: :modal
      },
      class: "flex items-center space-x-1" do %>
      <%= inline_svg_tag 'icons/share-solid.svg', class: 'w-5 h-5 lg:w-6 lg:h-6 text-primary' %>
    <% end %>
  </div>
</div>

<div class="xl:hidden">
  <%= render "users/user_card", user: @user %>
</div>

<% if @user.block_user?(current_user) || current_user&.block_user?(@user) %>
  <%= render EmptyComponent.new text: t('blocked') %>
<% else %>
  <div class="mx-auto max-w-3xl"
    data-controller="tabs"
    data-tabs-active-tab-value="<%= @tab %>"
    data-tabs-active-class-value="font-bold text-primary !border-primary">
    <div class="w-full flex overflow-auto flex-nowrap scrollbar-hide items-center flex mb-4">
      <%= link_to user_path(@user, tab: :published),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "published",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('published') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>

      <%= link_to user_path(@user, tab: :published),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "bought",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('bought') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>

      <%= link_to user_comments_path(@user),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "commented",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('commented') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>
    </div>
    <div class="hidden pb-4"
      data-tabs-content-param="published"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_articles_published", src: user_articles_path(@user, tab: :published), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="bought"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_articles_bought", src: user_articles_path(@user, tab: :bought), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="commented"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_comments", src: user_comments_path(@user), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
  </div>
<% end %>

<%= content_for :sidebar do %>
  <%= render "users/user_card", user: @user %>
  <%= render "shared/footer" %>
<% end %>

<% content_for :topbar do %>
  <div class="h-12 flex items-center justify-between">
    <div class="flex items-center px-4 truncate">
      <%= link_to :back, class: "pr-2" do %>
        <%= inline_svg_tag "icons/chevron-left.svg", class: "w-5 h-5 font-bold" %>
      <% end %>
      <span class="font-bold text-lg truncate">
        <%= @user.name %>
      </span>
    </div>

    <%= link_to full_user_share_path(@user), 
      data: {
        turbo_frame: :modal
      },
      class: "block px-6 py-3 #{from_mixin_messenger? ? 'mr-24' : ''}" do %>
      <%= inline_svg_tag 'icons/share-solid.svg', class: 'w-6 h-6 text-primary' %>
    <% end %>
  </div>
<% end %>
