<div class="mb-4 sm:mb-8">
  <div class="flex justify-center pt-8 mb-4">
    <%= image_tag @user.avatar(original: true), class: "rounded-full w-16 h-16 ring-4 ring-white" %>
  </div>
  <div class="mb-2 px-4 max-w-full">
    <% if @user.mvm_eth? %>
      <div class="flex justify-center mb-2 px-4">
        <%= link_to @user.mvm_address_url, 
          target: "_blank",
          class: "flex items-center space-x-2 rounded bg-zinc-200 py-1 px-2 opacity-70 hover:bg-zinc-300 hover:opacity-100 text-sm dark:bg-zinc-900" do %>
          <div><%= @user.short_uid %></div>
          <%= render "shared/icons/external_link", html_class: "w-4 h-4 font-bold" %>
        <% end %>
      </div>
    <% end %>
    <div class="font-bold text-center truncate"><%= @user.name %></div>
  </div>
  <div class="flex justify-center">
    <%= render "users/action_buttons", user: @user %>
  </div>
</div>

<% unless @user.block_user?(current_user) || current_user&.block_user?(@user) %>
  <div class="mx-auto max-w-3xl"
    data-controller="tabs"
    data-tabs-active-tab-value="<%= @tab %>"
    data-tabs-active-class-value="border-b-2">
    <div class="w-full flex space-x-2 sm:space-x-4 py-2 sm:justify-center overflow-auto flex-nowrap scrollbar-hide items-center flex px-2 sm:px-4 mb-4 bg-white sm:rounded-lg dark:bg-zinc-900">
      <%= link_to t('published'), 
        user_path(@user, tab: :published),
        class: "cursor-pointer py-1 border-primary",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "published",
          action: "tabs#active"
        } %>
      <%= link_to t('bought'), 
        user_path(@user, tab: :published),
        class: "cursor-pointer py-1 border-primary",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "bought",
          action: "tabs#active"
        } %>
      <%= link_to t('subscribing'), 
        user_subscribe_users_path(@user),
        class: "cursor-pointer py-1 border-primary",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "subscribing",
          action: "tabs#active"
        } %>
      <%= link_to t('subscribers'), 
        user_subscribe_by_users_path(@user),
        class: "cursor-pointer py-1 border-primary",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "subscribers",
          action: "tabs#active"
        } %>
      <%= link_to t('commented'), 
        user_comments_path(@user),
        class: "cursor-pointer py-1 border-primary",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "commented",
          action: "tabs#active"
        } %>
    </div>
    <div class="hidden pb-4"
      data-tabs-content-param="published"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_articles_published", src: user_articles_path(@user, tab: :published), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="bought"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_articles_bought", src: user_articles_path(@user, tab: :bought), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="subscribing"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_subscribings", src: user_subscribe_users_path(@user), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="subscribers"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_subscribers", src: user_subscribe_by_users_path(@user), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="commented"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_comments", src: user_comments_path(@user), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
  </div>
<% end %>
