<div class="hidden sm:block mb-8">
  <span class="text-xl font-bold">
    <%= t('profile_page') %>
  </span>
</div>

<div class="xl:hidden">
  <%= render "users/user_card", user: @user %>
</div>

<% if @user.block_user?(current_user) || current_user&.block_user?(@user) %>
  <%= render EmptyComponent.new text: t('blocked') %>
<% else %>
  <div class="mx-auto max-w-3xl"
    data-controller="tabs"
    data-tabs-active-tab-value="<%= @tab %>"
    data-tabs-active-class-value="font-bold text-primary !border-primary">
    <div class="w-full flex overflow-auto flex-nowrap scrollbar-hide items-center flex mb-4">
      <%= link_to user_path(@user, tab: :published),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "published",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('published') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>

      <%= link_to user_path(@user, tab: :published),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "bought",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('bought') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>

      <%= link_to user_subscribe_users_path(@user),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "subscribing",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('subscribing') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>

      <%= link_to user_subscribe_by_users_path(@user),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "subscribers",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('subscribers') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>

      <%= link_to user_comments_path(@user),
        class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
        data: {
          tabs_target: "tab",
          tabs_tabname_param: "commented",
          action: "tabs#active"
        } do %>
        <div class="min-w-fit">
          <%= t('commented') %>
        </div>
        <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
      <% end %>
    </div>
    <div class="hidden pb-4"
      data-tabs-content-param="published"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_articles_published", src: user_articles_path(@user, tab: :published), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="bought"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_articles_bought", src: user_articles_path(@user, tab: :bought), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="subscribing"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_subscribings", src: user_subscribe_users_path(@user), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="subscribers"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_subscribers", src: user_subscribe_by_users_path(@user), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
    <div class="hidden pb-4"
      data-tabs-content-param="commented"
      data-tabs-target="content">
      <%= turbo_frame_tag "#{dom_id @user}_comments", src: user_comments_path(@user), target: '_top', loading: :lazy do %>
        <%= render "shared/loading" %>
      <% end %>
    </div> 
  </div>
<% end %>

<%= content_for :sidebar do %>
  <%= render "users/user_card", user: @user %>
<% end %>

<% content_for :topbar do %>
  <div class="flex items-center px-4 h-12">
    <%= link_to :back, class: "pr-2" do %>
      <%= inline_svg_tag "icons/chevron-left.svg", class: "w-5 h-5 font-bold" %>
    <% end %>
    <span class="font-bold text-lg">
      <%= t('profile_page') %>
    </span>
  </div>
<% end %>
