<div class="bg-white dark:bg-zinc-900 dark:border-zinc-800 p-4 sm:p-6 sm:border sm:rounded-lg">
  <div class="flex mb-4">
    <span class="font-bold"><%= t('active_authors') %></span>
  </div>
  <% User.active.limit(5).each do |user| %>
    <div class="flex items-center justify-between mb-2">
      <%= link_to user_path(user), class: "flex items-center space-x-2" do %>
        <%= image_tag user.avatar, class: "w-10 h-10 rounded-full" %>
        <div><%= user.name %></div>
      <% end %>
      <div class="text-sm">
        <%= render "subscribe_users/subscribe_button", user: user %>
      </div>
    </div>
  <% end %>
</div>
