<div class="flex items-center space-x-6 text-xs">
  <%= link_to t('rules'), rules_page_path %>
  <%= link_to t('fair'), fair_page_path %>
  <%= link_to t('help'), '/docs', target: '_blank' %>
  <%= link_to 'Github', 'https://github.com/baizhiheizi/quill', target: '_blank' %>
  <%= link_to 'Twitter', 'https://twitter.com/with_quill', target: '_blank' %>
  <%= link_to 'Discord', 'https://discord.com/channels/1048767553729728522/1048767554463727638', target: '_blank' %>
</div>
