<div class="border-base-content/5 lg:min-h-screen lg:border-r">
  <nav class="hidden h-full w-28 lg:block">
    <div class="sticky top-0 flex h-screen flex-col items-center justify-between">
      <%= link_to root_path, class: 'flex w-full justify-center py-8' do %>
        <%= image_tag 'logo.svg', class: "h-auto w-20" %>
      <% end %>

      <div class="flex w-full flex-col items-center">
        <%= render "shared/nav_icon_link",
          label: t('home'),
          path: articles_path,
          active: @active_page == 'home',
          icon: 'icons/home.svg',
          solid_icon: 'icons/home-solid.svg' %>

        <% if current_user.present? %>
          <%= render "shared/nav_icon_link",
            label: t('notification'),
            path: dashboard_notifications_path,
            active: @active_page == 'notification',
            icon: 'icons/bell.svg',
            solid_icon: 'icons/bell-solid.svg',
            badge: current_user.has_unread_notification? %>

          <%= render "shared/nav_icon_link",
            label: t('my_reading'),
            path: dashboard_readings_path,
            active: @active_page == 'readings',
            icon: 'icons/glasses.svg',
            solid_icon: 'icons/glasses-solid.svg' %>

          <%= render "shared/nav_icon_link",
            label: t('my_authoring'),
            path: dashboard_authorings_path,
            active: @active_page == 'authorings',
            icon: 'icons/article.svg',
            solid_icon: 'icons/article-solid.svg' %>

          <%= render "shared/nav_icon_link",
            label: t('write'),
            path: new_article_path,
            icon: 'icons/write.svg' %>
        <% else %>
          <%= render "shared/nav_icon_link",
            label: t('write'),
            path: login_path,
            icon: 'icons/write.svg',
            turbo_frame: :modal %>
        <% end %>
      </div>

      <div class="flex w-full flex-col items-center">
        <%= render "shared/nav_icon_link",
          label: t('language'),
          path: edit_locale_path,
          icon: 'icons/global.svg',
          turbo_frame: :modal %>

        <div class="flex w-full flex-col items-center" data-controller="darkmode">
          <a class="tooltip block hidden py-6 [--placement:right]" data-tip="<%= t('dark_mode') %>" data-darkmode-target="lightButton" data-action="darkmode#toggle">
            <%= inline_svg_tag 'icons/moon.svg', class: "mx-auto h-6 w-6 text-base-content/60" %>
          </a>
          <a class="tooltip block hidden py-6 [--placement:right]" data-tip="<%= t('light_mode') %>" data-darkmode-target="darkButton" data-action="darkmode#toggle">
            <%= inline_svg_tag 'icons/sun.svg', class: "mx-auto h-6 w-6 text-base-content/60" %>
          </a>
        </div>
      </div>

      <div class="flex h-28 w-full flex-col items-center justify-end pb-4">
        <% if current_user.present? %>
          <% dropdown_button = capture do %>
            <div class="avatar">
              <div class="size-10 rounded-full">
                <%= image_tag current_user.avatar_thumb, class: "rounded-full" %>
              </div>
            </div>
          <% end %>
          <%= render_dropdown class: 'flex justify-center', button: dropdown_button do %>
            <ul class="menu menu-sm w-52 p-2">
              <li><%= link_to t('profile_page'), user_path(current_user), class: "dropdown-item" %></li>
              <% if current_user.mvm_eth? %>
                <li><%= link_to t('my_wallet'), dashboard_wallet_path, class: "dropdown-item" %></li>
              <% end %>
              <li><%= link_to t('settings'), dashboard_settings_path, class: "dropdown-item" %></li>
              <li><%= link_to t('disconnect'), logout_path, data: { action: 'session#destroy' }, class: "dropdown-item" %></li>
            </ul>
          <% end %>
        <% else %>
          <%= link_to login_path, class: "tooltip block py-6 [--placement:right]", data: { turbo_frame: :modal, tip: t('login', default: 'Login') } do %>
            <%= inline_svg_tag 'icons/user.svg', class: "mx-auto h-6 w-6 text-base-content/60" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
