<div
  id="app-modal"
  class="overlay modal modal-middle overlay-open:opacity-100 overlay-open:duration-300 hidden <%= classes %>"
  role="dialog"
  tabindex="-1"
  data-controller="modal-component"
  data-action="turbo:submit-end->modal-component#submitEnd"
  data-modal-component-backdrop-value="<%= backdrop %>">
  <div class="modal-dialog <%= local_assigns[:dialog_class] %>">
    <div class="modal-content">
      <div class="modal-header">
        <% if header.present? %>
          <%= header %>
        <% else %>
          <h3 class="modal-title"><%= title %></h3>
        <% end %>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="<%= t('close', default: 'Close') %>"
          data-action="modal-component#close">
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>

      <div class="modal-body">
        <%= content %>
        <div style="height:env(safe-area-inset-bottom)"></div>
      </div>
    </div>
  </div>
</div>
