<% after_submit_action ||= 'wait' %>

<div data-controller="mvm-pay" 
  data-mvm-pay-after-submit-action-value="<%= after_submit_action %>"
  data-mvm-pay-asset-symbol-value="<%= symbol %>"
  data-mvm-pay-asset-id-value="<%= asset_id %>">
  <div data-mvm-pay-target="button" class="my-4">
    <button data-action="mvm-pay#pay"
      data-mvm-pay-mixin-uuid-param="<%= mixin_uuid %>"
      data-mvm-pay-trace-id-param="<%= trace_id %>"
      data-mvm-pay-asset-id-param="<%= asset_id %>"
      data-mvm-pay-symbol-param="<%= symbol %>"
      data-mvm-pay-icon-url-param="<%= icon_url %>"
      data-mvm-pay-amount-param="<%= amount %>"
      data-mvm-pay-memo-param="<%= memo %>"
      data-mvm-pay-opponent-ids-param="<%= opponent_ids %>"
      data-mvm-pay-threshold-param="<%= threshold %>"
      class="flex justify-center space-x-4 items-center w-96 max-w-full text-center no-underline cursor-pointer py-2 block bg-blue-600 hover:bg-blue-700 active:bg-blue-700 text-white rounded-full">
      <div class="w-8 h-8 flex">
        <%= image_tag 'metamask.svg',
          data: {
            mvm_pay_target: 'metaMaskIcon'
          },
          class: 'hidden w-full h-auto' %>

        <%= image_tag 'walletconnect.svg', 
          data: {
            mvm_pay_target: 'walletConnectIcon'
          },
          class: 'hidden w-full h-auto' %>

        <%= image_tag 'coinbase.svg', 
          data: {
            mvm_pay_target: 'coinbaseIcon'
          },
          class: 'hidden w-full h-auto' %>
      </div>

      <span class="text-lg"><%= t('pay') %></span>
    </button>
    <div data-mvm-pay-target="balance" class="py-1 px-2 text-sm opacity-75 text-right">
      <span><%= t('balance') %>:</span>
      <span data-mvm-pay-target="balanceValue">
        <%= image_tag 'loading.svg', class: 'w-4 h-4 inline-block' %>
      </span>
      <%= link_to "", data: { mvm_pay_target: 'balanceLink' }, target: "_blank", class: "inline-block align-middle" do %> 
        <%= render "shared/icons/external_link", html_class: 'w-3 h-3' %>
      <% end %>
    </div>
  </div>

  <div class="w-full hidden" data-mvm-pay-target="wait">
    <%= render partial: "shared/loading" %>
    <div class="text-sm text-center opacity-70">
      <%= t('transaction_submitted') %>
    </div>
  </div>

  <div class="w-full hidden" data-mvm-pay-target="finish">
    <button data-action="modal#ok" class="py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-full block cursor-pointer w-96 max-w-full my-4 text-center mx-auto text-lg font-bold">
      <%= t('finish') %>
    </button>
    <div class="text-sm text-center opacity-70">
      <%= t('transaction_submitted') %>
    </div>
  </div>

  <%= link_to "", data: { mvm_pay_target: 'scanTransactionLink' }, target: "_blank", class: "hidden flex my-2 justify-center w-full" do %> 
    <%= render "shared/icons/external_link", html_class: 'w-4 h-4' %>
  <% end %>
</div>
