<nav class="block lg:hidden w-full fixed bottom-0 z-50 shadow bg-white dark:bg-[#333444] border-t dark:border-white dark:border-opacity-5">
  <div class="grid grid-cols-4">
    <div class="relative py-[1.125rem]">
      <%= inline_svg_tag (@active_page == 'home' ? 'icons/home-solid.svg' : 'icons/home.svg'), 
        class: "w-6 h-6 mx-auto text-opacity-60 text-[#222222] dark:text-white dark:text-opacity-80" %>
      <%= link_to '', articles_path, class: "absolute inset-0" unless @active_page == 'home' %>
    </div>

    <div class="relative py-[1.125rem]">
      <%= inline_svg_tag (@active_page == 'readings' ? 'icons/glasses-solid.svg' : 'icons/glasses.svg'), 
        class: "w-6 h-6 mx-auto text-opacity-60 text-[#222222] dark:text-white dark:text-opacity-80" %>
      <%= link_to '', dashboard_readings_path, class: "absolute inset-0" unless @active_page == 'readings' %>
    </div>

    <div class="relative py-[1.125rem]">
      <%= inline_svg_tag (@active_page == 'authorings' ? 'icons/article-solid.svg' : 'icons/article.svg'), 
        class: "w-6 h-6 mx-auto text-opacity-60 text-[#222222] dark:text-white dark:text-opacity-80" %>
      <%= link_to '', dashboard_authorings_path, class: "absolute inset-0" unless @active_page == 'authorings' %>
    </div>

    <% if current_user.present? %>
      <%= render DropdownComponent.new class: 'block py-4 flex justify-center' do |c| %>
        <% c.with_button do %>
          <%= image_tag current_user.avatar_thumb, class: "w-7 h-7 rounded-full" %>
        <% end %>
        <div class="block text-[#222222] dark:text-white dark:text-opacity-80">
          <%= link_to t('profile_page'), 
            user_path(current_user), 
            class: "block py-2 px-4" %>

          <%= link_to t('notification'), 
            dashboard_notifications_path, 
            class: "block py-2 px-4" %>

          <%= link_to t('settings'), 
            dashboard_settings_path, 
            class: "block py-2 px-4" %>

          <%= link_to t('my_wallet'),
            dashboard_wallet_path, 
            class: "block py-2 px-4 min-w-fit" %>

          <%= link_to t('language'), 
            edit_locale_path, 
            data: {
              turbo_frame: :modal
            },
            class: "block py-2 px-4" %>

          <div data-controller="darkmode">
            <a class="hidden py-2 px-4 block cursor-pointer" data-darkmode-target="lightButton" data-action="darkmode#toggle">
              <%= t('dark_mode') %>
            </a>
            <a class="hidden py-2 px-4 block cursor-pointer" data-darkmode-target="darkButton" data-action="darkmode#toggle">
              <%= t('light_mode') %>
            </a>
          </div>

          <%= link_to t('disconnect'), 
            logout_path, 
            data: {
              action: 'session#destroy',
            },
            class: "block py-2 px-4" %>
        </div>
      <% end %>
    <% else %>
      <div class="block py-[1.125rem] relative">
        <%= inline_svg_tag 'icons/user.svg', class: "w-6 h-6 mx-auto text-opacity-60 text-[#222222] dark:text-white" %>
        <% if from_mixin_messenger? %>
          <%= link_to '', login_path, class: "absolute inset-0" %>
        <% else %>
          <%= link_to '', login_path, data: { turbo_frame: :modal }, class: "absolute inset-0" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div style="height:env(safe-area-inset-bottom)"></div>
</nav>
