<% currency = Currency.find_or_create_by asset_id: asset_id %>
<% deposit_entry = current_user.mvm_deposit_address(asset_id) %>

<div id="<%= dom_id current_user %>_deposit_qrcode">
  <div class="sm:flex items-start">
    <div class="flex-1" data-controller="qrcode" data-qrcode-url-value="<%= deposit_entry['destination'] %>">
      <div data-qrcode-target="placeholder" class="flex justify-center h-48 mb-2"></div>
      <div class="flex justify-center">
        <span class="rounded text-sm px-2 py-1 opacity-70 bg-zinc-100 dark:bg-zinc-800">Address</span>
      </div>
      <div class="text-center break-all">
        <span class="font-black"><%= deposit_entry['destination'] %></span>
      </div>
    </div>

    <% if deposit_entry['tag'].present? %>
      <div class="flex-1" data-controller="qrcode" data-qrcode-url-value="<%= deposit_entry['tag'] %>">
        <div data-qrcode-target="placeholder" class="flex justify-center h-48 mb-2"></div>
      <div class="flex justify-center">
        <span class="rounded text-sm px-2 py-1 opacity-70 bg-zinc-100 dark:bg-zinc-800">Tag</span>
      </div>
        <div class="text-center break-all">
          <span class="font-black"><%= deposit_entry['tag'] %></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center py-2 text-gray-500 text-sm">
    <p>
      <% if currency.chain_id == Currency::ETH_ASSET_ID %>
        <%= t("this_address_supports_erc20") %>
      <% else %>
        <%= t("this_address_supports") %>
        <%= currency.chain&.name %>
      <% end %>
    </p>
    <p><%= t("first_deposit_tips") %></p>
    <p><%= format(t("deposit_receive_tips"), confirmations: currency.raw['confirmations']) %></p>
  </div>
</div>
