<% selected ||= Currency.pricable.first %>
<% identifier = SecureRandom.uuid %>

<div class="p-4" 
     data-controller="mvm-deposit" 
     data-mvm-deposit-asset-id-value="<%= selected.asset_id %>"
     data-mvm-deposit-asset-symbol-value="<%= selected.symbol %>"
     data-mvm-deposit-asset-icon-url-value="<%= selected.icon_url %>"
     data-mvm-deposit-identifier-value="<%= identifier %>">

  <%= button_to view_modals_path(type: :swappable_currencies, identifier: identifier), 
    class: "block w-full mb-4 flex items-center justify-between py-2 px-4 bg-zinc-100 dark:bg-zinc-800 rounded-lg" do %>
    <div id="<%= dom_id selected %>" class="flex items-center space-x-4">
      <div class='relative'>
        <%= image_tag selected.icon_url, 
          data: { mvm_deposit_target: 'currencyIcon' }, 
          class: 'w-8 h-8 rounded-full' %>
        <%= image_tag selected.icon_url, 
          data: { mvm_deposit_target: 'currencyChainIcon' }, 
          class: 'absolute bottom-0 w-3 h-3 rounded-full' %>
      </div>
      <div class="text-lg" data-mvm-deposit-target="currencySymbol">
        <%= selected.symbol %>
      </div>
    </div>
    <%= render 'shared/icons/chevron_right', html_class: 'w-6 h-6 font-bold' %>
  <% end %>
  <% unless selected.asset_id == Currency::XIN_ASSET_ID %>
    <div class="w-full -mt-2 mb-4 flex justify-end text-sm" data-mvm-deposit-target="addTokenButton">
      <button 
        data-action="mvm-deposit#addToken" 
        class="flex items-center space-x-1 opacity-70">
        <%= render "shared/icons/plus_circle", html_class: 'w-4 h-4' %>
        <span><%= t('add_to_metamask') %></span>
      </button>
    </div>
  <% end %>

  <div data-controller="tabs" data-tabs-active-tab-value="address" data-tabs-active-class-value="text-bold border-b-2 border-blue-500">
    <div class="w-full flex items-center mb-4">
      <a class="flex-1 text-center cursor-pointer py-1 border-b" data-tabs-target="tab" data-tabs-tabname-param='address' data-action="click->tabs#active">
        <%= t('address') %>
      </a>
      <a class="flex-1 text-center cursor-pointer py-1 border-b" data-tabs-target="tab" data-tabs-tabname-param='mixin' data-action="click->tabs#active">
        <%= t('mixin_contact') %>
      </a>
    </div>

    <div class="hidden" data-tabs-target="content" data-tabs-content-param="address">
      <%= render "dashboard/destinations/deposit_qrcode", asset_id: selected.asset_id %>
    </div>

    <div class="hidden" data-tabs-target="content" data-tabs-content-param="mixin">
      <div data-controller="qrcode" 
          data-qrcode-url-value="<%= current_user.mixin_deposit_url %>">
          <div data-qrcode-target="placeholder" class="flex justify-center h-48"></div>
          <div class="text-center py-2 text-gray-500 text-sm">
            <%= t("scan_with_mixin") %>
          </div>
      </div>
    </div>
  </div>
</div>
