<div class="flex items-center space-x-4 mb-4">
  <%= link_to 'Home', admin_root_path %>
  <span>/</span>
  <span>Snapshots</span>
</div>

<div class="p-4 bg-white dark:bg-zinc-900 rounded-lg shadow">
  <%= turbo_frame_tag 'admin_mixin_network_snapshots' do %>
    <div class="mb-4">
      <%= render 'admin/mixin_network_snapshots/query' %>
    </div>
    <div data-controller="infinite-scroll" class="w-full overflow-x-scroll scrollbar-hide">
      <table class='w-full table-auto min-w-max '>
        <thead>
          <tr class="bg-zinc-100 dark:bg-zinc-800">
            <th class="p-4">ID</th>
            <th class="p-4">TraceID</th>
            <th class="p-4">User</th>
            <th class="p-4">Opponent</th>
            <th class="p-4">Amount</th>
            <th class="p-4">State</th>
            <th class="p-4">Memo</th>
            <th class="p-4">Processed</th>
            <th class="p-4">Created</th>
            <th class="p-4"></th>
          </tr>
        </thead>
        <tbody id="admin_mixin_network_snapshots_list">
          <%= render partial: 'admin/mixin_network_snapshots/mixin_network_snapshot', collection: @mixin_network_snapshots, as: :mixin_network_snapshot %>
        </tbody>
      </table>
      <div data-infinite-scroll-target='scrollArea'></div>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  <% end %>
</div>
