<%= turbo_frame_tag 'hot_tags' do %>
  <% if @hot_tags.present? %>
    <div class="mb-16">
      <div class="mb-6">
        <span class="font-bold"><%= t('hot_tags') %></span>
      </div>
      <% if current_user.blank? %>
        <div class="flex items-center flex-wrap">
          <% @hot_tags.each do |tag| %>
            <%= link_to tag.name, 
              articles_path(tag: tag.name, order_by: @order_by || 'lately'), 
              data: { 
                tippy_content: tag.name,
                controller: 'prefetch', 
                turbo_frame: '_top' 
              }, 
              style: "word-break:keep-all",
              class: "h-8 my-2 mr-4 px-2 py-1 max-w-[6rem] truncate rounded tag-style-#{tag.id % 6}" 
            %>
          <% end %>
        </div>
      <% else %>
        <% @hot_tags.each do |tag| %>
          <div class="flex items-center space-x-4 justify-between mb-2">
            <%= link_to "##{tag.name}", 
              articles_path(tag: tag.name, order_by: @order_by || 'lately'), 
              data: { 
                controller: 'prefetch', 
                turbo_frame: '_top' 
              }, 
              style: "word-break:keep-all",
              class: "h-8 my-2 mr-4 px-2 py-1 truncate rounded tag-style-#{tag.id % 6}" 
            %>
            <div class="text-sm min-w-max">
              <%= render "subscribe_tags/subscribe_button", tag: tag %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <template>
      <div class="hidden tag-style-0 tag-style-1 tag-style-2 tag-style-3 tag-style-4 tag-style-5">
      </div>
    </template>
  <% end %>
<% end %>
