<div class="h-screen sm:h-[32rem] 2xl:h-[36rem] bg-[url('/hero-bg.webp')] bg-cover bg-center bg-[#111134] text-white">
  <div class="h-full flex flex-col justify-between max-w-5xl mx-auto px-4 lg:px-8 py-8">
    <div class="flex items-center justify-between mb-20 sm:mb-24">
      <%= image_tag 'logo-light.svg', class: 'h-12 w-auto block' %>
      <div class="flex items-center space-x-4">
        <%= link_to t('start_reading'), login_path, data: { turbo_frame: :modal }, class: 'capitalize' %>
        <%= render DropdownComponent.new class: '' do |c| %>
          <% c.with_button do %>
            <div class='flex items-center space-x-1 cursor-pointer'>
              <span class="text-sm opacity-75">
                <%= current_locale.to_s.split('-').last.upcase %>
              </span>
              <%= inline_svg_tag 'icons/chevron-down.svg', class: "w-3 h-3" %>
            </div>
          <% end %>
          <div class="text-[#222222] dark:text-white dark:text-opacity-80">
            <%= link_to 'English', '/en', class: "block py-2 px-4" %>
            <%= link_to '中文', '/zh-CN', class: "block py-2 px-4" %>
            <%= link_to '日本語', '/ja', class: "block py-2 px-4" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-16">
      <div class="text-5xl md:w-2/3 lg:w-1/2 font-serif font-medium leading-snug">
        Build your value on Web3 with Quill
      </div>
    </div>

    <div class="mb-16 flex justify-center sm:justify-start">
      <% if from_mixin_messenger? %>
        <%= link_to t('connect_wallet'), auth_mixin_path, class: "rounded-full py-3 bg-primary text-center px-6" %>
      <% else %>
        <%= link_to t('connect_wallet'), login_path, data: { turbo_frame: :modal }, class: "rounded-full py-3 bg-primary text-center px-6" %>
      <% end %>
    </div>
  </div>
</div>

<div class="max-w-5xl mx-auto px-4 lg:px-8">
  <%= turbo_frame_tag 'selected_articles', src: selected_articles_path  %>

  <div class="py-8 grid grid-cols-1 lg:grid-cols-3 gap-16 relative">
    <div class="lg:col-span-2">
      <%= turbo_frame_tag 'articles', src: articles_path do  %>
        <%= render 'shared/loading' %>
      <% end %>
    </div>
    <div class="lg:col-span-1 sticky top-8 max-h-screen">
      <%= turbo_frame_tag 'active_authors', src: active_authors_path, loading: :lazy %>
      <%= turbo_frame_tag 'hot_tags', src: hot_tags_path, loading: :lazy  %>
      <div class="py-8">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </div>
</div>

