<tr>
  <td class="p-4">
    <%= payment.id %>
  </td>
  <td class="p-4">
    <%= payment.trace_id %>
  </td>
  <td class="p-4">
    <% if payment.payer.present? %>
      <%= render 'admin/users/field', user: payment.payer %>
    <% else %>
      <%= payment.payer_id || '-' %>
    <% end %>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= remote_image_tag payment.currency.icon_url, class: "w-10 h-10 rounded", lazy: true %>
      <span><%= payment.price_tag %></span>
    </div>
  </td>
  <td class="p-4">
    <div class="flex justify-center">
      <span class="badge
        <%=
          {
            paid: 'badge-info',
            completed: 'badge-success',
            refunded: 'badge-secondary'
          }[payment.state.to_sym]
          %>">
        <%= payment.state %>
      </span>
    </div>
  </td>
  <td class="p-4">
    <%= payment.payment_memo['t'] || '-' %>
  </td>
  <td class="p-4">
    <%= link_to payment.payment_memo['a'], admin_article_path(payment.payment_memo['a']), data: { turbo_frame: '_top' } if payment.payment_memo['a'].present? %>
  </td>
  <td class="p-4">
    <%= payment.created_at %>
  </td>
  <td class="p-4">
    <%= link_to 'Detail', admin_payment_path(payment), class: "btn btn-primary btn-sm", data: { turbo_frame: "_top" } %>
  </td>
</tr>
