<div class="flex items-center space-x-4 mb-4">
  <%= link_to 'Home', admin_root_path %>
  <span>/</span>
  <%= link_to 'Payments', admin_payments_path %>
  <span>/</span>
  <span><%= @payment.id %></span>
</div>

<div class="bg-white dark:bg-zinc-900 roundedlg p-4">
  <div class="flex items-center space-x-2 mb-4">
    <%= image_tag @payment.currency.icon_url, class: "w-10 h-10 rounded" %>
    <div>
      <div><%= @payment.price_tag %></div>
      <div class="text-sm opacity-70"><%= @payment.trace_id %></div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-8">
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">ID:</span> 
      <span><%= @payment.id %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">TraceID:</span> 
      <span><%= @payment.trace_id %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Payer:</span> 
      <span>
        <% if @payment.payer.present? %>
          <%= render 'admin/users/field', user: @payment.payer, tab: :payments %>
        <% else %>
          <%= @payment.payer_id %>
        <% end %>
      </span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Opponent:</span> 
      <span><%= @payment.opponent_id %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Amount:</span> 
      <span><%= @payment.price_tag %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Snapshot:</span> 
      <span><%= @payment.snapshot_id %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">State:</span> 
      <div class="">
        <span class="px-2 py-1 rounded text-white
          <%=
            {
              paid: 'bg-blue-500',
              completed: 'bg-green-500',
              refunded: 'bg-indigo-500'
            }[@payment.state.to_sym]
            %>">
          <%= @payment.state %>
        </span>
      </div>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Memo</span> 
      <span class="break-all"><%= @payment.memo || '-' %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Memo(decoded):</span> 
      <span><%= @payment.decoded_memo %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Order:</span> 
      <span>
        <% if @payment.order.present? %>
          <%= link_to @payment.order.trace_id, admin_order_path(@payment.order), data: { turbo_frame: '_top' } %>
        <% else %>
          -
        <% end %>
      </span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Swap Order:</span> 
      <span>
        <% if @payment.swap_order.present? %>
          <%= link_to @payment.swap_order.trace_id, admin_swap_order_path(@payment.swap_order), data: { turbo_frame: '_top' } %>
        <% else %>
          -
        <% end %>
      </span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Raw:</span> 
      <span class="break-all"><%= @payment.raw %></span>
    </div>
    <div class="col-span-1 flex space-x-2">
      <span class="font-bold">Created:</span> 
      <span><%= @payment.created_at %></span>
    </div>
  </div>
</div>
