<tr class="hover:bg-zinc-50 border-b">
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= image_tag asset['icon_url'], class: "w-10 w-10 rounded-full" %>
      <span><%= asset['symbol'] %></span>
    </div>
  </td>
  <td class="p-4">
    <%= asset['asset_id'] %>
  </td>
  <td class="p-4">
    <%= asset['balance'] %>
  </td>
  <td class="p-4">
    $<%= (asset['balance'].to_d * asset['price_usd'].to_d).round(4) %>
  </td>
</tr>
