<div class="mb-12">
  <%= turbo_frame_tag 'transfers_stats', src: 'transfers/stats' do %>
    <%= render 'shared/loading' %>
  <% end %>
</div>

<div class="sm:border sm:p-4 rounded-lg">
  <%= turbo_frame_tag "transfers", src: transfers_path, target: "_top" do %>
    <%= render "shared/loading" %>
  <% end %>
</div>

<%= content_for :sidebar do %>
  <%= turbo_frame_tag 'active_authors', src: '/active_authors', loading: :lazy %>
  <%= turbo_frame_tag 'hot_tags', src: '/hot_tags', loading: :lazy %>
  <%= render "shared/footer" %>
<% end %>
