<% identifier ||= SecureRandom.uuid %>
<% pay_asset ||= Currency.find_by asset_id: Currency::BTC_ASSET_ID %>
<% pay_amount = 0.0001 %>

<div data-controller="tabs" data-tabs-active-tab-value="swap" data-tabs-active-class-value="text-bold border-b-2 border-blue-500">
  <div class="w-full flex items-center mb-4">
    <a class="flex-1 text-center cursor-pointer py-1 border-b" data-tabs-target="tab" data-tabs-tabname-param='swap' data-action="click->tabs#active">
      <%= t('swap') %>
    </a>
    <a class="flex-1 text-center cursor-pointer py-1 border-b" data-tabs-target="tab" data-tabs-tabname-param='earn' data-action="click->tabs#active">
      <%= t('earn') %>
    </a>
  </div>

  <div data-controller="swap" 
       data-swap-fill-asset-id-value="<%= Currency::XIN_ASSET_ID %>" 
       data-swap-pay-asset-id-value="<%= pay_asset.asset_id %>" 
       data-swap-pay-amount-value="<%= pay_amount %>" 
       data-swap-identifier-value="<%= identifier %>" 
       class="hidden" 
       data-tabs-target="content" 
       data-tabs-content-param="swap">
    <div class="w-96 max-w-full mx-auto mb-2">
      <div class="py-1 px-2 text-xs opacity-70">
        Form
      </div>
      <div class="flex items-center rounded-full border mx-auto w-full">
        <%= button_to view_modals_path(type: :swappable_currencies, identifier: identifier), 
          class: "block flex items-center justify-between px-4 py-2 bg-zinc-100 dark:bg-zinc-800 rounded-l-full" do %>
          <div id="<%= dom_id pay_asset %>" class="flex items-center space-x-4">
            <div class='relative w-8'>
              <%= image_tag pay_asset.icon_url, 
                data: { swap_target: 'currencyIcon' }, 
                class: 'w-8 h-8 rounded-full' %>
              <%= image_tag pay_asset.icon_url, 
                data: { swap_target: 'currencyChainIcon' }, 
                class: 'absolute bottom-0 w-3 h-3 rounded-full' %>
            </div>
            <div class="text-lg" data-swap-target="currencySymbol">
              <%= pay_asset.symbol %>
            </div>
          </div>
          <%= render 'shared/icons/chevron_down', html_class: 'w-4 h-4 mx-2' %>
        <% end %>
        <div class="flex-1 px-4">
          <input data-action="input->swap#setPayAmount" value="<%= pay_amount %>" type="number" class="w-full py-2 text-xl text-right focus-visible:outline-none border-0 focus:ring-0 focus:border-0" placeholder="From" />
        </div>
      </div>
    </div>

    <template data-swap-target="loading">
      <%= render "shared/loading" %>
    </template>
    <div data-swap-target="fillAsset" id="swap_fill_asset">
      <%= render "shared/loading" %>
    </div>
  </div>

  <div class="hidden" data-tabs-target="content" data-tabs-content-param="earn">
    <div class="p-4 w-96 max-w-full mx-auto">
      <div class="mb-6 text-lg p-4 bg-blue-100 rounded-lg text-blue-700 font-bold">
        <%= t('you_may_write_a_good_article_and_sell_it_for_xin') %>
      </div>

      <% if current_user.articles.drafted.present? %>
        <%= link_to t("write"), dashboard_articles_path(tab: :drafted), class: "mx-auto block py-2 text-lg text-center rounded-full w-96 max-w-full bg-blue-500 hover:bg-blue-600 text-white" %>
      <% else %>
        <%= link_to t("write"), new_article_path, class: "mx-auto block py-2 text-lg text-center rounded-full w-96 max-w-full bg-blue-500 hover:bg-blue-600 text-white" %>
      <% end %>
    </div>
  </div>
</div>
