<div class="hidden sm:block mb-8">
  <span class="text-xl font-bold">
    <%= t('my_authoring') %>
  </span>
</div>

<div class="sm:mb-8"
  data-controller="tabs"
  data-tabs-active-tab-value="<%= @tab %>"
  data-tabs-active-class-value="font-bold text-primary !border-primary">
  <div class="w-full flex overflow-auto flex-nowrap scrollbar-hide items-center flex mb-2 sm:mb-4">
    <%= link_to dashboard_authorings_path(tab: :drafted),
      class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "drafted" 
      } do %>
      <div class="min-w-fit">
        <%= t('drafted') %>
      </div>
      <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
    <% end %>
    <%= link_to dashboard_authorings_path(tab: :published),
      class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "published" 
      } do %>
      <div class="min-w-fit">
        <%= t('published') %>
      </div>
      <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
    <% end %>
    <%= link_to dashboard_authorings_path(tab: :hidden),
      class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "hidden" 
      } do %>
      <div class="min-w-fit">
        <%= t('hidden') %>
      </div>
      <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
    <% end %>
    <%= link_to dashboard_authorings_path(tab: :transfers),
      class: "cursor-pointer py-1 pr-8 border-transparent min-w-fit",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "transfers" 
      } do %>
      <div class="min-w-fit">
        <%= t('author_revenue') %>
      </div>
      <div class="h-2 border-b-2 border-inherit w-4 mx-auto"></div>
    <% end %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="drafted"
    data-tabs-target="content">
    <%= turbo_frame_tag "my_drafted_articles", 
      src: dashboard_articles_path(tab: :drafted), 
      data: {
        turbo_frame: "_top"
      },
      loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="published"
    data-tabs-target="content">
    <%= turbo_frame_tag "my_published_articles", 
      src: dashboard_articles_path(tab: :published), 
      data: {
        turbo_frame: "_top"
      },
      loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="hidden"
    data-tabs-target="content">
    <%= turbo_frame_tag "my_hidden_articles", 
      src: dashboard_articles_path(tab: :hidden), 
      data: {
        turbo_frame: "_top"
      },
      loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="transfers"
    data-tabs-target="content">
    <%= turbo_frame_tag "my_transfers_stats", src: dashboard_transfers_stats_path %>
    <%= turbo_frame_tag "my_transfers", 
      src: dashboard_transfers_path(tab: :author), 
      data: {
        turbo_frame: "_top"
      },
      loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
</div>
