<div class="mb-8"
  data-controller="tabs"
  data-tabs-active-tab-value="<%= @tab %>"
  data-tabs-active-class-value="font-bold text-primary !border-primary">
  <div class="w-full flex overflow-auto flex-nowrap scrollbar-hide items-center flex mb-8">
    <%= link_to dashboard_settings_path(tab: :profile),
      class: "cursor-pointer py-1 pr-8 border-transparent",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "profile",
        action: "tabs#active"
      } do %>
      <div class="min-w-fit">
        <%= t('profile') %>
      </div>
      <div class="h-2 border-b-2 border-inherit mx-auto w-5"></div>
    <% end %>
    <%= link_to dashboard_settings_path(tab: :notification),
      class: "cursor-pointer py-1 pr-8 border-transparent",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "notification",
        action: "tabs#active"
      } do %>
      <div class="min-w-fit">
        <%= t('notification') %>
      </div>
      <div class="h-2 border-b-2 border-inherit mx-auto w-5"></div>
    <% end %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="profile"
    data-tabs-target="content">
    <%= render "dashboard/settings/profile" %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="notification"
    data-tabs-target="content">
    <%= render "dashboard/settings/notification" %>
  </div>
</div>

<% content_for :topbar do %>
  <div class="flex items-center px-4 h-12">
    <%= link_to :back, class: "px-2" do %>
      <%= inline_svg_tag "icons/chevron-left.svg", class: "w-5 h-5 font-bold" %>
    <% end %>
    <span class="font-bold text-lg">
      <%= t('settings') %>
    </span>
  </div>
<% end %>
