<div class="hidden sm:block mb-8">
  <span class="text-xl font-bold">
    <%= t('my_wallet') %>
  </span>
</div>

<div class="sm:mb-8 pb-4">
  <% if current_user.mvm_eth? %>
    <%= turbo_frame_tag "my_assets_token",
      src: dashboard_assets_path,
      data: {
        turbo_frame: "_top"
      },
      loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  <% else %>
    <%= render EmptyComponent.new text: t('no_available') %>
  <% end %>
</div>

<% content_for :topbar do %>
  <div class="flex items-center px-4 h-12">
    <%= link_to :back, class: "pr-2" do %>
      <%= inline_svg_tag "icons/chevron-left.svg", class: "w-5 h-5 font-bold" %>
    <% end %>
    <span class="font-bold text-lg">
      <%= t('my_wallet') %>
    </span>
  </div>
<% end %>
