<div id='faucet_claim_button'>
  <% if current_user.may_claim_faucet? %>
    <%= button_to mvm_faucet_path, class: "flex justify-center items-center space-x-2 w-96 max-w-full mt-4 mb-2 text-center no-underline cursor-pointer py-2 block bg-stone-600 hover:bg-stone-700 active:bg-stone-500 text-white rounded-full" do %>
      <%= image_tag Currency.find_by(symbol: 'XIN').icon_url, class: 'h-8 w-8 rounded-full' %>
      <span><%= t('claim_gas') %></span>
    <% end %>
    <div class="text-center text-sm opacity-60 inline">
      <span><%= t('you_may_claim_some_xin_as_gas_after_your_first_deposit') %></span>
    </div>
  <% else %>
    <%= button_to view_modals_path(type: :get_more_xin), class: "flex justify-center items-center space-x-2 w-96 max-w-full mt-4 mb-2 text-center no-underline cursor-pointer py-2 block bg-stone-600 hover:bg-stone-700 active:bg-stone-500 text-white rounded-full" do %> 
      <%= image_tag Currency.find_by(symbol: 'XIN').icon_url, class: 'h-8 w-8 rounded-full' %>
      <span><%= t('get_more_xin') %></span>
    <% end %>
  <% end %>
</div>
