<tr>
  <td class="p-4">
    <%= swap_order.id %>
  </td>
  <td class="p-4">
    <%= link_to swap_order.trace_id, admin_payment_path(swap_order.payment), data: { turbo_frame: '_top' } %>
  </td>
  <td class="p-4">
    <% if swap_order.payer.present? %>
      <%= render 'admin/users/field', user: swap_order.payer, tab: :swap_orders %>
    <% else %>
      -
    <% end %>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= image_tag swap_order.pay_asset.icon_url, class: "w-10 h-10 rounded" %>
      <span><%= swap_order.funds %></span>
      <span><%= swap_order.pay_asset.symbol %></span>
    </div>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= image_tag swap_order.fill_asset.icon_url, class: "w-10 h-10 rounded" %>
      <span><%= swap_order.amount || '-' %></span>
      <span><%= swap_order.fill_asset.symbol %></span>
    </div>
  </td>
  <td class="p-4">
    <div class="flex justify-center">
      <span class="badge
        <%=
          {
            paid: 'badge-neutral',
            swapping: 'badge-info',
            rejected: 'badge-error',
            swapped: 'badge-info',
            order_placed: 'badge-success',
            completed: 'badge-success',
            refunded: 'badge-secondary',
          }[swap_order.state.to_sym]
          %>">
        <%= swap_order.state %>
      </span>
    </div>
  </td>
  <td class="p-4">
    <%= swap_order.created_at %>
  </td>
  <td class="p-4">
    <%= link_to 'Detail', admin_swap_order_path(swap_order), class: "btn btn-primary btn-sm", data: { turbo_frame: "_top" } %>
  </td>
</tr>
