<%= turbo_frame_tag "#{dom_id @article}_orders" do %>
  <div data-controller="infinite-scroll">
    <% if @orders.blank? %>
      <%= render EmptyComponent.new text: t('no_record') %>
    <% else %>
      <div class="overflow-x-auto">
        <div class="table table-auto w-full">
          <div id="<%= dom_id @article %>_orders_list">
              <%= render partial: "dashboard/orders/article_order", collection: @orders, as: :order, locals: { article: @article } %>
          </div>
        </div>
      </div>
      <div data-infinite-scroll-target='scrollArea'></div>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy, id: "#{dom_id @article}_orders_pagination" } %>
    <% end %>
  </div>
<% end %>
