<div class="pt-4"
  data-controller="tabs"
  data-tabs-active-tab-value="<%= @tab %>"
  data-tabs-active-class-value="border-b-2">
  <div class="w-full flex overflow-auto flex-nowrap scrollbar-hide items-center flex border-b px-4 mb-4">
    <%= link_to t('payments'), 
      dashboard_orders_path(tab: :payments),
      class: "cursor-pointer py-1 px-4 border-blue-500 textrgray-600",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "payments",
        action: "tabs#active"
      } %>
    <%= link_to t('swap_orders'), 
      dashboard_orders_path(tab: :swap_orders),
      class: "cursor-pointer py-1 px-4 border-blue-500 textrgray-600",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "swap_orders",
        action: "tabs#active"
      } %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="payments"
    data-tabs-target="content">
    <%= turbo_frame_tag "#{dom_id current_user}_payments", src: dashboard_payments_path, loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
  <div class="hidden pb-4"
    data-tabs-content-param="swap_orders"
    data-tabs-target="content">
    <%= turbo_frame_tag "#{dom_id current_user}_swap_orders", src: dashboard_swap_orders_path, loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
</div>
