<div class="pt-4"
  data-controller="tabs"
  data-tabs-active-tab-value="<%= @tab %>"
  data-tabs-active-class-value="border-b-2">
  <div class="w-full flex overflow-auto flex-nowrap scrollbar-hide items-center flex border-b px-4 mb-4">
    <%= link_to t('subscribing'), 
      dashboard_subscriptions_path(tab: :subscribings),
      class: "cursor-pointer py-1 px-4 border-blue-500 textrgray-600",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "subscribings", 
        action: "tabs#active"
      } %>
    <%= link_to t('subscribers'), 
      dashboard_subscriptions_path(tab: :subscribers),
      class: "cursor-pointer py-1 px-4 border-blue-500 textrgray-600",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "subscribers",
        action: "tabs#active"
      } %>
    <%= link_to t('commenting_subscriptions'), 
      dashboard_subscriptions_path(tab: :comments),
      class: "cursor-pointer py-1 px-4 border-blue-500 textrgray-600",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "comments",
        action: "tabs#active"
      } %>
    <%= link_to t('tag_subscriptions'), 
      dashboard_subscriptions_path(tab: :tags),
      class: "cursor-pointer py-1 px-4 border-blue-500 textrgray-600",
      data: {
        tabs_target: "tab",
        tabs_tabname_param: "tags",
        action: "tabs#active"
      } %>
  </div>

  <div class="hidden pb-4"
    data-tabs-content-param="subscribings"
    data-tabs-target="content">
    <%= turbo_frame_tag "#{dom_id current_user}_subscribings", src: dashboard_subscribe_users_path, loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
  <div class="hidden pb-4"
    data-tabs-content-param="subscribers"
    data-tabs-target="content">
    <%= turbo_frame_tag "#{dom_id current_user}_subscribers", src: dashboard_subscribe_by_users_path, loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
  <div class="hidden pb-4"
    data-tabs-content-param="comments"
    data-tabs-target="content">
    <%= turbo_frame_tag "#{dom_id current_user}_subscribe_articles", src: dashboard_subscribe_articles_path, loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
  <div class="hidden pb-4"
    data-tabs-content-param="tags"
    data-tabs-target="content">
    <%= turbo_frame_tag "#{dom_id current_user}_subscribe_tags", src: dashboard_subscribe_tags_path, loading: :lazy do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
</div>
