<div class="nested-form-wrapper sm:border-b sm:pb-6" data-new-record="<%= form.object.new_record? %>">
  <div class="grid grid-cols-3 gap-3 mb-4">
    <%= form.label :reference, class: "col-span-3 sm:col-span-1 block text-sm font-medium text-gray-700" %>
    <%= form.hidden_field :id %>
    <%= form.hidden_field :reference_type, value: 'Article' %>
    <%= form.hidden_field :_destroy %>
    <div class="col-span-3 sm:col-span-2">
      <div class="rounded-md shadow-sm mb-4">
        <%= form.select :reference_id, 
          [],
          {}, 
          disabled: article.published_at.present?,
          data: {
            controller: "references-select",
            references_select_items_value: article.references.pluck(:id),
            references_select_options_value: current_user.available_articles.collect { |a| { id: a.id, title: a.title, author: { name: a.author.name, avatar: a.author.avatar}} }, 
          }, 
          class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded sm:text-sm border-gray-300" 
        %>
      </div>
      <div class="rounded-md shadow-sm">
        <%= form.number_field :revenue_ratio, 
          required: true, 
          disabled: article.published_at.present?,
          data: { 
            article_form_target: "articleReferenceRevenueRatio",
            action: "article-form#calReferenceRatio blur->article-form#formatReferenceRatio"
          }, 
          step: "0.01",
          min: "0.0",
          max: "0.5",
          class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded sm:text-sm border-gray-300 #{article.published_at.present? && 'bg-gray-200'}", 
          placeholder: "Input revenue ratio"
        %>
      </div>
    </div>
  </div>
  <% if article.published_at.blank? %>
    <div 
      data-action="click->nested-form#remove click->article-form#calReferenceRatio"
      class="cursor-pointer w-full block px-4 py-1 text-center border border-dashed border-red-500 text-red-500">
      <%= t('articles.remove_reference') %>
    </div>
  <% end %>
</div>
