<%= turbo_frame_tag 'transfers_stats' do %>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('author_revenue_total') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= Transfer.stats['author_revenue_total_in_usd'] %>
    </div>
  </div>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('reader_revenue_total') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= Transfer.stats['reader_revenue_total_in_usd'] %>
    </div>
  </div>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('platform_revenue_last_month') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= Transfer.stats['platform_revenue_last_month'] %>
    </div>
  </div>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('platform_revenue_this_month') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= Transfer.stats['platform_revenue_this_month'] %>
    </div>
  </div>
<% end %>
