<%= turbo_frame_tag 'transfers_stats' do %>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('author_revenue_total') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= Transfer.author_revenue_total_in_usd.to_f.round(4) %>
    </div>
  </div>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('reader_revenue_total') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= Transfer.reader_revenue_total_in_usd.to_f.round(4) %>
    </div>
  </div>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('platform_revenue_last_month') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= (Order.where(created_at: Time.current.last_month.beginning_of_month...Time.current.last_month.end_of_month).sum(:value_usd) * Order::PLATFORM_RATIO).round(4) %>
    </div>
  </div>
  <div class="text-center p-2">
    <div class="opacity-70 mb-2">
      <%= t('platform_revenue_this_month') %>
    </div>
    <div class="text-2xl font-bold">
      $<%= (Order.where(created_at: Time.current.beginning_of_month...).sum(:value_usd) * Order::PLATFORM_RATIO).round(4) %>
    </div>
  </div>
<% end %>
