<div class='px-2 py-4 space-y-4 dark:bg-gray-800'>
  <div class='flex flex-wrap items-center mb-4 mark-keywords' data-keywords=<%= @query.to_json %>>
    <% @query.each do |q| %>
      <div class='p-2 mr-2 text-white bg-blue-500 rounded'><%= q %></div>
    <% end %>
  </div>
  <% if @articles.length < 1 %>
    <div class='my-4 text-center text-gray-700'>
      <p>:(</p> 
      <p>找到不到相关文章</p>
    </div>
  <% else %>
    <div class='mark-context space-y-4'>
      <% @articles.each do |article| %>
        <%= link_to article_path(article.uuid), class: 'block p-4 text-gray-900 no-underline shadow-md space-y-2' do %>
          <div class='flex items-start'>
            <img class='w-8 h-8 mr-2 rounded-full' src='<%= article.author.avatar %>' />
            <div class='flex-1'>
              <div class='text-gray-900 dark:text-gray-300'><%= article.author.name %></div>
              <div class='text-xs text-gray-500'><%= article.created_at.strftime('%Y-%m-%d %H:%M') %></div>
            </div>
            <div class='flex items-center text-gray-500 space-x-2'>
              <span><%= article.price %></span>
              <img class='w-6 h-6 rounded-full' src='<%= article.currency.icon_url %>' />
            </div>
          </div>
          <div class='text-lg font-bold line-clamp-2 dark:text-gray-50'><%= article.title %></div>
          <div class='text-sm text-gray-800 dark:text-gray-500'>
            <%= article.intro %>
          </div>
          <div class='flex flex-wrap'>
            <% article.tag_names.each do |tag_name| %>
              <div class='px-1 m-1 text-xs text-gray-500 border-gray-500 border-solid bg-gray-50 dark:bg-gray-800 border-1 line-clamp-1'>
                <%= format('#%<name>s', name: tag_name) %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%== pagy_nav(@pagy) %>
  <% end %>
</div>
