<tr id="<%= dom_id transfer %>">
  <td class="p-4">
    <%= transfer.id %>
  </td>
  <td class="p-4">
    <%= transfer.trace_id %>
  </td>
  <td class="p-4">
    <%= transfer.transfer_type %>
  </td>
  <td class="p-4">
    <% if transfer.wallet.present? %>
      <%= render 'admin/mixin_network_users/field', mixin_network_user: transfer.wallet %>
    <% else %>
      <%= transfer.wallet_id == QuillBot.api.client_id ? 'Quill Bot' : transfer.wallet_id %>
    <% end %>
  </td>
  <td class="p-4">
    <% if transfer.recipient.present? %>
      <%= render "admin/users/field", user: transfer.recipient, tab: :transfers %>
    <% elsif transfer.transfer_type == "fox_swap" && transfer.opponent_multisig.present? %>
      MTG
    <% else %>
      <%= transfer.opponent_id %>
    <% end %>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= image_tag transfer.currency.icon_url, class: "w-10 h-10 rounded" %>
      <span><%= transfer.price_tag %></span>
    </div>
  </td>
  <td class="p-4">
    <div class="flex justify-center">
      <% if transfer.processed? %>
        <span class="badge badge-success">
          Processed
        </span>
      <% else %>
        <span class="badge badge-neutral">
          Unprocessed
        </span>
      <% end %>
    </div>
  </td>
  <td class="p-4">
    <%= transfer.retry_at || '-' %>
  </td>
  <td class="p-4">
    <%= transfer.processed_at || '-' %>
  </td>
  <td class="p-4">
    <%= transfer.created_at %>
  </td>
  <td class="p-4 flex items-center space-x-4">
    <%= link_to 'Detail', admin_transfer_path(transfer), class: "btn btn-primary btn-sm", data: { turbo_frame: "_top" } %>
    <%= button_to 'Process', admin_transfer_process_now_path(transfer.id), class: "btn btn-error btn-sm" unless transfer.processed? %>
  </td>
</tr>
