<tr id="<%= dom_id user %>" class="hover:bg-zinc-50 dark:hover:bg-zinc-800 border-b">
  <td class="p-4">
    <%= user.id %>
  </td>
  <td class="p-4">
    <%= render "admin/users/field", user: user %>
  </td>
  <td class="p-4">
    <%= user.locale.presence || '-' %>
  </td>
  <td class="p-4">
    <%= user.phone.presence || '-' %>
  </td>
  <td class="p-4">
    <%= user.articles_count %>
  </td>
  <td class="p-4">
    <%= user.bought_articles_count %>
  </td>
  <td class="p-4">
    $<%= user.author_revenue_total_usd.to_f.round(4) %>
  </td>
  <td class="p-4">
    $<%= user.payment_total_usd.to_f.round(4) %>
  </td>
  <td class="p-4">
    <div class='flex justify-center'>
      <% if user.validated? %>
        <span class="px-2 py-1 bg-green-500 text-white rounded">Validated</span>
      <% elsif user.blocked? %>
        <span class="px-2 py-1 bg-zinc-500 text-white rounded">Blocked</span>
      <% else %>
        <span class="p-1 bg-blue-500 ring-blue-100 ring-2 rounded-full"></span>
      <% end %>
    </div>
  </td>
  <td class="p-4">
    <%= user.created_at %>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= link_to 'Detail', admin_user_path(user), class: "bg-blue-500 hover:bg-blue-600 rounded text-white px-4 py-2", data: { turbo_frame: "_top" } %>
      <%= button_to 'Unvalidate', admin_user_unvalidate_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to unvalidate?",
          }
        },
        class: "bg-red-500 hover:bg-red-600 rounded text-white px-4 py-2" if user.validated? %>
      <%= button_to 'Validate', admin_user_validate_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to validate?",
          }
        },
        class: "bg-indigo-500 hover:bg-indigo-600 rounded text-white px-4 py-2" if !user.validated? && !user.blocked? %>
      <%= button_to 'UnBlock', admin_user_unblock_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to unblock?",
          }
        },
        class: "bg-red-500 hover:bg-purple-600 rounded text-white px-4 py-2" if user.blocked? %>
      <%= button_to 'Block', admin_user_block_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to block?",
          }
        },
        class: "bg-zinc-500 hover:bg-zinc-800 rounded text-white px-4 py-2" if !user.validated? && !user.blocked? %>
    </di>
  </td>
</tr>
