<tr id="<%= dom_id user %>" class="hover:bg-zinc-50 dark:hover:bg-zinc-800 border-b">
  <td class="p-4">
    <%= user.id %>
  </td>
  <td class="p-4">
    <%= render "admin/users/field", user: user %>
  </td>
  <td class="p-4">
    <%= user.phone.presence || '-' %>
  </td>
  <td class="p-4">
    <%= user.articles_count %>
  </td>
  <td class="p-4">
    <%= user.bought_articles_count %>
  </td>
  <td class="p-4">
    $<%= user.author_revenue_total_usd.to_f.round(4) %>(<%= user.author_revenue_total_btc %> BTC)
  </td>
  <td class="p-4">
    $<%= user.payment_total_usd.to_f.round(4) %>(<%= user.payment_total_btc %> BTC)
  </td>
  <td class="p-4">
    <div class='flex justify-center'>
      <% if user.banned? %>
        <span class="px-2 py-1 bg-zinc-500 text-white rounded">Banned</span>
      <% else %>
        <span class="p-1 bg-green-500 ring-green-100 ring-2 rounded-full"></span>
      <% end %>
    </div>
  </td>
  <td class="p-4">
    <%= user.created_at %>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= link_to 'Detail', admin_user_path(user), class: "bg-blue-500 hover:bg-blue-600 rounded text-white px-4 py-2", data: { turbo_frame: "_top" } %>
      <%= button_to 'Unban', admin_user_unban_path(user),
        form: {
          data: { 
            controller: "confirm",
            confirm_target: "form",
            confirm_identifier_value: SecureRandom.uuid,
            confirm_content_value: 'Sure to unban?' 
          }
        },
        data: { 
          action: "confirm#invoke",
        },
        class: "bg-indigo-500 hover:bg-indigo-600 rounded text-white px-4 py-2" if user.banned? %>
      <%= button_to 'Ban', admin_user_ban_path(user),
        form: {
          data: { 
            controller: "confirm",
            confirm_target: "form",
            confirm_identifier_value: SecureRandom.uuid,
            confirm_content_value: 'Sure to ban?' 
          }
        },
        data: { 
          action: "confirm#invoke",
        },
        class: "bg-red-500 hover:bg-red-600 rounded text-white px-4 py-2" unless user.banned? %>
    </di>
  </td>
</tr>
