<tr id="<%= dom_id user %>">
  <td class="p-4">
    <%= user.id %>
  </td>
  <td class="p-4">
    <%= render "admin/users/field", user: user %>
  </td>
  <td class="p-4">
    <%= user.locale.presence || '-' %>
  </td>
  <td class="p-4">
    <%= user.phone.presence || '-' %>
  </td>
  <td class="p-4">
    <%= user.articles_count %>
  </td>
  <td class="p-4">
    <%= user.bought_articles_count %>
  </td>
  <td class="p-4">
    $<%= user.author_revenue_total_usd.to_f.round(4) %>
  </td>
  <td class="p-4">
    $<%= user.payment_total_usd.to_f.round(4) %>
  </td>
  <td class="p-4">
    <div class='flex justify-center'>
      <% if user.validated? %>
        <span class="badge badge-success">Validated</span>
      <% elsif user.blocked? %>
        <span class="badge badge-neutral">Blocked</span>
      <% else %>
        <span class="badge badge-info badge-xs">Pending</span>
      <% end %>
    </div>
  </td>
  <td class="p-4">
    <%= user.created_at %>
  </td>
  <td class="p-4">
    <div class="flex items-center space-x-2">
      <%= link_to 'Detail', admin_user_path(user), class: "btn btn-primary btn-sm", data: { turbo_frame: "_top" } %>
      <%= button_to 'Unvalidate', admin_user_unvalidate_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to unvalidate?",
          }
        },
        class: "btn btn-error btn-sm" if user.validated? %>
      <%= button_to 'Validate', admin_user_validate_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to validate?",
          }
        },
        class: "btn btn-secondary btn-sm" if !user.validated? && !user.blocked? %>
      <%= button_to 'UnBlock', admin_user_unblock_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to unblock?",
          }
        },
        class: "btn btn-error btn-sm" if user.blocked? %>
      <%= button_to 'Block', admin_user_block_path(user),
        form: {
          data: { 
            turbo_confirm: "Sure to block?",
          }
        },
        class: "btn btn-neutral btn-sm" if !user.validated? && !user.blocked? %>
    </div>
  </td>
</tr>
