<div class="max-w-full pt-8 pb-4 border-b dark:border-white dark:border-opacity-10">
  <div class="w-full flex items-center justify-between mb-4">
    <%= link_to user_path(@article.author), 
      data: {
        turbo_frame: '_top'
      },
      class: "flex items-center space-x-2" do %>
      <%= image_tag @article.author.avatar, class: 'w-7 h-7 rounded-full block' %>

      <div class="sm:flex sm:items-center sm:space-x-2">
        <div class="text-sm">
          <%= @article.author.short_name %>
        </div>
        <div class="text-xs sm:text-sm opacity-60">
          <%= render TimeFormatComponent.new datetime: @article.published_at.rfc3339 do %>
            <%= @article.published_at.strftime("%Y-%m-%d %H:%M") %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="">
      <% if @article.free? %>
        <div class="text-sm px-2 bg-green-500 text-white rounded">
          FREE
        </div>
      <% else %>
        <div class="flex items-center space-x-2">
          <span class="text-sm">
            <%= @article.price_tag %>
          </span>
          <span class="hidden sm:block text-sm opacity-60">
            ≈$<%= @article.price_usd %>
          </span>
          <%= image_tag @article.currency.icon_url, class: "w-4 h-4 sm:w-5 sm:h-5 rounded-full" %>
        </div>
        <div class="text-xs opacity-60 text-right mt-1 sm:hidden">
          ≈$<%= @article.price_usd %>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to user_article_path(@article.author, @article),
    data: {
      controller: "prefetch",
      turbo_frame: "_top"
    },
    class: "flex items-start max-h-28 space-x-4 mb-6" do %>
    <div class="flex-1 h-ful">
      <div class="overflow-hidden text-ellipsis line-clamp-1 font-bold text-xl mb-3">
        <%= @article.title %>
      </div>
      <div class="text-base break-words text-ellipsis overflow-hidden line-clamp-3 text-[#222222] text-opacity-80"> 
        <%= @article.intro %>
      </div>
    </div>
    <% if @article.cover_url.present? %>
      <%= image_tag @article.cover_url, class: "w-28 h-28 rounded object-center" %>
    <% end %>
  <% end %>

  <div class="sm:flex sm:items-center sm:justify-between sm:space-x-4">
    <div class="flex-1 flex overflow-x-scroll scrollbar-hide items-center space-x-4">
      <% @article.tags.each do |tag| %>
        <%= link_to articles_path(tag: tag.name), 
          data: { 
            controller: 'prefetch',
          turbo_frame: "_top"
          }, 
          class: "mb-4 sm:mb-0 px-2 py-1 text-xs sm:text-sm min-w-max rounded tag-style-#{tag.id % 6}", 
          style: "word-break:keep-all;" do %>
          <%= tag.name %>
        <% end %>
      <% end %>
    </div>

    <div class="flex items-center justify-end space-x-6 text-[#B1B6C6]">
      <div class="flex items-center space-x-1">
        <%= inline_svg_tag 'icons/income-solid.svg', class: 'w-4 h-4' %>
        <span class="text-sm">
          <%= @article.revenue_usd.round(4) %>
        </span>
      </div>
      <div class="flex items-center space-x-1">
        <%= inline_svg_tag 'icons/comment-solid.svg', class: 'w-4 h-4' %>
        <span class="text-sm">
          <%= @article.comments_count %>
        </span>
      </div>
      <% if @article.upvote_ratio.present? %>
        <div class="flex items-center space-x-1">
          <%= inline_svg_tag 'icons/like-solid.svg', class: 'w-4 h-4' %>
          <span class="text-sm">
            <%= @article.upvote_ratio %>
          </span>
        </div>
      <% end %>
      <%= link_to article_share_path(article_uuid: @article.uuid), 
        data: {
          turbo_frame: :modal
        },
        class: "flex items-center space-x-1" do %>
        <%= inline_svg_tag 'icons/share-solid.svg', class: 'w-4 h-4' %>
      <% end %>
    </div>
  </div>
</div>
