<div id="<%= dom_id current_user %>_notification_setting" class="px-4">
  <%= form_for [:dashboard, current_user.notification_setting] do |form| %>
    <div class="py-4 border-b">
      <div class="opacity-70 mb-2">
        <%= t('tips_of_article_published_notifications') %>
      </div>
      <div class="flex space-x-8 items-center">
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :article_published_web, class: "block form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :article_published_web, value: 'Web', class: "form-check-label inline-block text-gray-800" %>
        </div>
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :article_published_mixin_bot, class: "form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :article_published_mixin_bot, value: t('mixin_bot'), class: "form-check-label inline-block text-gray-800" %>
        </div>
      </div>
    </div>
    <div class="py-4 border-b">
      <div class="opacity-70 mb-2">
        <%= t('tips_of_article_bought_notifications') %>
      </div>
      <div class="flex space-x-8 items-center">
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :article_bought_web, class: "block form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :article_bought_web, value: 'Web', class: "form-check-label inline-block text-gray-800" %>
        </div>
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :article_bought_mixin_bot, class: "form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :article_bought_mixin_bot, value: t('mixin_bot'), class: "form-check-label inline-block text-gray-800" %>
        </div>
      </div>
    </div>
    <div class="py-4 border-b">
      <div class="opacity-70 mb-2">
        <%= t('tips_of_article_rewarded_notifications') %>
      </div>
      <div class="flex space-x-8 items-center">
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :article_rewarded_web, class: "block form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :article_rewarded_web, value: 'Web', class: "form-check-label inline-block text-gray-800" %>
        </div>
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :article_rewarded_mixin_bot, class: "form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :article_rewarded_mixin_bot, value: t('mixin_bot'), class: "form-check-label inline-block text-gray-800" %>
        </div>
      </div>
    </div>
    <div class="py-4 border-b">
      <div class="opacity-70 mb-2">
        <%= t('tips_of_tagging_created_notifications') %>
      </div>
      <div class="flex space-x-8 items-center">
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :tagging_created_web, class: "block form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :tagging_created_web, value: 'Web', class: "form-check-label inline-block text-gray-800" %>
        </div>
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :tagging_created_mixin_bot, class: "form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :tagging_created_mixin_bot, value: t('mixin_bot'), class: "form-check-label inline-block text-gray-800" %>
        </div>
      </div>
    </div>
    <div class="py-4 border-b">
      <div class="opacity-70 mb-2">
        <%= t('tips_of_comment_created_notifications') %>
      </div>
      <div class="flex space-x-8 items-center">
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :comment_created_web, class: "block form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :comment_created_web, value: 'Web', class: "form-check-label inline-block text-gray-800" %>
        </div>
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :comment_created_mixin_bot, class: "form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :comment_created_mixin_bot, value: t('mixin_bot'), class: "form-check-label inline-block text-gray-800" %>
        </div>
      </div>
    </div>
    <div class="py-4 border-b">
      <div class="opacity-70 mb-2">
        <%= t('tips_of_transfer_processed_notifications') %>
      </div>
      <div class="flex space-x-8 items-center">
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :transfer_processed_web, class: "block form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :transfer_processed_web, value: 'Web', class: "form-check-label inline-block text-gray-800" %>
        </div>
        <div class="form-check form-switch flex items-center space-x-2">
          <%= form.check_box :transfer_processed_mixin_bot, class: "form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm", role: "switch", type: "checkbox" %>
          <%= form.label :transfer_processed_mixin_bot, value: t('mixin_bot'), class: "form-check-label inline-block text-gray-800" %>
        </div>
      </div>
    </div>
    <div class="py-4 flex justify-center">
      <%= form.submit t('save'), class: "cursor-pointer rounded bg-blue-500 text-white px-4 py-1"  %>
    </div>
  <% end %>
</div>
