<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="user-scalable=no,initial-scale=1"/>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "#{Settings.favicon_file || 'favicon.png'}" %>
  </head>

  <body class="">
    <%= render "admin/nav" %>
    <div class="flex bg-zinc-100 dark:bg-zinc-800 dark:text-zinc-50 h-screen pt-12 sm:pt-16 relative">
      <%= render "admin/aside" %>
      <main class="flex-1 overflow-y-scroll">
        <div class="p-4 w-full">
          <%= yield %>
        </div>
      </main>
    </div>
    <div class="absolute bottom-0" id="modal-slot"></div>
    <div class="fixed bottom-24 h-0 w-full px-4 z-50 flex flex-col justify-end" id="flashes">
      <% flash.each do |type, message| %>
        <%= render "flashes/flash", type: type, message: message %>
      <% end %>
    </div>
    <div class="absolute bottom-0" id="toast-slot">
      <div id="loading-toast" class="fixed inset-0 z-50 flex items-center justify-center w-full bg-black/30">
        <%= render "shared/loading" %>
      </div>
    </div>
    <div class="fixed bottom-24 h-0 w-full px-4 z-50 flex flex-col justify-end" id="notifications"></div>
  </body>
</html>
