<!DOCTYPE html>
<% @page_title = @page_title.present? ? format('%<title>s | %<default>s', title: @page_title, default: Settings.page_title) : Settings.page_title %>
<% @page_description ||= Settings.page_description %>
<% @page_keywords ||= Settings.page_keywords %>
<% @page_image ||= asset_url('quill.svg') %>

<html>
  <head>
    <title><%= @page_title.presence || Settings.page_title %></title>
    <meta
      name='viewport'
      content='minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no'
    />
    <meta name="theme-color" content="#fff" />

    <meta name='title' content="<%= @page_title %>">
    <meta name='keywords' content="<%= @page_keywords %>">
    <meta name='description' content="<%= @page_description %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@<%= Settings.twitter_account %>" />
    <meta name="twitter:creator" content="@<%= Settings.twitter_account %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<%= @page_title %>" />
    <meta property="og:description" content="<%= @page_description %>" />
    <meta property="og:image" content="<%= @page_image %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.development? %>
      <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
      <script>
        // VConsole will be exported to `window.VConsole` by default.
        var vConsole = new window.VConsole();
      </script>
    <% end %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/github.min.css" defer="defer">

    <%= favicon_link_tag "#{Settings.favicon_file || 'favicon.png'}" %>
    <%= stylesheet_link_tag "application", "photoswipe", "easymde", "tom-select", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "mvm", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen flex flex-col dark:text-zinc-50">
    <%= render "shared/nav" %>
    <main class="bg-zinc-100 dark:bg-zinc-800 relative mt-12 sm:mt-16 flex-1">
      <div class="max-w-3xl sm:pt-4 pb-8 mx-auto sm:px-6 lg:max-w-6xl lg:px-8">
        <%= yield %>
      </div>
    </main>
    <div class="absolute bottom-0" id="modal-slot"></div>
    <div class="fixed bottom-24 h-0 w-full px-4 z-50 flex flex-col justify-end" id="flashes">
      <% flash.each do |type, message| %>
        <%= render "flashes/flash", type: type, message: message %>
      <% end %>
    </div>

    <div class="absolute bottom-0" id="toast-slot">
      <div id="loading-toast" class="hidden fixed inset-0 z-50 flex items-center justify-center w-full bg-black/30">
        <%= render "shared/loading" %>
      </div>
    </div>
    <%= turbo_stream_from "user_#{current_user.mixin_uuid}" if current_user.present? %>
  </body>
</html>
