<!DOCTYPE html>

<html>
  <head>
    <title>Quill: Build your value net on Web3</title>
    <meta
      name='viewport'
      content='minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no'
    />
    <meta name="theme-color" content="#111134" />

    <meta name='title' content="Quill: Build your value net on Web3">
    <meta name='keywords' content="publishing,write,read,Web3,decentralize">
    <meta name='description' content="Build your value net on Web3">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@<%= Settings.twitter_account %>" />
    <meta name="twitter:creator" content="@<%= Settings.twitter_account %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="Quill: Build your value net on Web3" />
    <meta property="og:description" content="Build your value net on Web3" />
    <meta property="og:image" content="<%= asset_url('icon.png') %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.development? %>
      <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
      <script>
        // VConsole will be exported to `window.VConsole` by default.
        var vConsole = new window.VConsole();
      </script>
    <% end %>

    <link href='https://fonts.googleapis.com/css?family=Roboto Serif' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <%= favicon_link_tag "favicon.svg" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="overflow-x-hidden bg-white dark:bg-[#1D1E2B] text-[#222222] dark:text-[white]">
    <main class="">
      <%= yield %>
    </main>

    <%= turbo_frame_tag 'modal' %>

    <div class="fixed bottom-24 h-0 w-full px-4 z-50 flex flex-col justify-end" id="flashes">
      <% flash.each do |type, message| %>
        <%= render "flashes/flash", type: type, message: message %>
      <% end %>
    </div>

    <div class="absolute bottom-0" id="toast-slot">
      <div id="loading-toast" class="hidden fixed inset-0 z-50 flex items-center justify-center w-full bg-black/30">
        <%= render "shared/loading" %>
      </div>
    </div>
  </body>
</html>
