<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title.presence || Settings.page_title %></title>
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if Rails.env.production? && Settings.ga_id.present? %>
      <script async src="<%= 'https://www.googletagmanager.com/gtag/js?id=' + Settings.ga_id.to_s %>" ></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Rails.application.credentials.dig(:ga_id) %>');
      </script>
    <% end %>

    <meta name='title' content='<%= @page_title.presence || Settings.page_title %>' />
    <meta name='keywords' content='<%= Settings.page_keywords %>' />
    <meta name='description' content='<%= @page_description.presence || Settings.page_description %>' />

    <%= javascript_pack_tag 'widget', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'widget' %>
    <%= favicon_pack_tag "#{Settings.favicon_file || 'favicon.png'}" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
